#02_-_catalog_manager_-_images-pXTAAScl6U9xiN5I.json
{"updatedAt":"2025-10-21T00:39:25.000Z","createdAt":"2025-10-20T08:43:41.109Z","id":"pXTAAScl6U9xiN5I","name":"#02 - Catalog Manager - Images","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1152,-96],"id":"30bc160c-38ec-4de3-9e96-ca5cf764590d","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE","mode":"list","cachedResultName":"Tagging Image Automation - Pilot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-944,-96],"id":"c17636c8-caa5-4a27-b909-aa3c9cd2d487","name":"Tagging Image Automation - Pilot","credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-736,-96],"id":"3e5044ad-a62c-4287-b54a-4777973e2217","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-528,-96],"id":"52134576-dd3e-4f3e-85a8-ab37e7d586db"},{"parameters":{"url":"={{ $json['Image URL'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"value","value":"Image/webp"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,-96],"id":"2bfbe8e2-0ba2-46b6-9b95-a638cfcae510","name":"HTTP Request"},{"parameters":{"operation":"resize","width":100,"height":100,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-112,-96],"id":"02a6acc1-cf27-445a-adbd-d49ee65f5790","name":"Edit Image"},{"parameters":{"promptType":"define","text":"Goal: Analyze the provided product image details against the strict Wayfair Media QA Standards and return a final evaluation.\n\nYou must strictly adhere to the following two sets of rules:\n\nI. RULES FOR APPROVAL STATUS\nDetermine the Approval Status as either \"Approved\" or \"Rejected\". REJECTED status must be assigned if ANY of the following rules are violated. If multiple rules apply, select the most critical one for the Explanation.\n\n\"Low quality Image: Blurry or out of focus, Low resolution – the image looks pixelated or grainy when viewed closely. Poor lighting – the picture is too dark, too bright, or has uneven shadows. Color distortion – colors appear unrealistic or faded. Noise or compression artifacts – visible dots, lines, or blocky patterns appear due to over-compression.\n\nPlease reject Low quality Image\"\n\nHas Watermark / Watermarked: This is used when an image has a supplier’s contact information/website and any watermarks, regardless if the SKU is white-labeled or not. Any images with SKU or PartNumber information should be rejected with the reason “Low Quality”.\n\nContains supplier contact information/website, or any watermarks.\n\nInappropriate Content:\n\nGuns & Weapons – Firearms, knives, bombs, or any weapon-related imagery. Includes glorification of violence or death; excludes artistic or clearly fictional depictions without harm.\n\nWar & Violence – Scenes of war, soldiers, propaganda, physical harm, blood, or explicit death. Includes disturbing or violent historical imagery.\n\nSexual Innuendo & Sexuality – Sexual or suggestive poses, gestures, or product references. Includes playful but explicit text, prostitution associations, or sexual humor.\n\nGender – Negative stereotypes, violence, or demeaning portrayals toward any gender. Includes sexualized or discriminatory depictions.\n\nNudity – Exposed genitals or breasts. Classical or artistic nudity may be acceptable; pornographic or explicit focus is not.\n\nDrugs – Any drug use, smoking, alcohol, paraphernalia, or drug-glorifying symbols. Includes visual or textual promotion of drug use.\n\nRacism & Hate Symbols – Racist symbols (e.g., swastika, KKK), depictions promoting white supremacy, or discrimination based on race or ethnicity. Includes Confederate symbols.\n\nPolitics & Propaganda – Political figures, parties, or propaganda material that may offend or polarize. Excludes neutral or humorous portrayals without judgment.\n\nDEI (Diversity, Equity, Inclusion) – Cultural misrepresentation, offensive use of ethnic imagery, or stereotypical depictions (e.g., Native symbols on toys).\n\nBrand References – Unauthorized brand logos or imagery suggesting association with known brands without permission.\n\nGnomes – Gnome figures showing nudity, sexual behavior, intoxication, middle finger, or offensive text.\n\nCult & Religion – Religious symbols or depictions that mock or demean a religion. Includes offensive combinations of religious and violent/sexual themes.\n\nOffensive Nature – Any general offensive content, including insults or ridicule toward specific groups (age, body, race, religion, etc.).\n\nSwear Words – Explicit or suggestive swear words, slang, or vulgar text on products or imagery.\n\nEscalation Required – Any ambiguous or borderline case that needs review (e.g., classical art nudity, artistic symbolism).\n\nBranded Content:\n\nFeatures supplier logos or branding AND the SKU Type is \"White-Labeled SKU\" (Exclusive Brands). (It is acceptable for \"Standards Brands SKU\").\n\nAsset Mismatch (Wrong SKU):\n\nThe image is of an entirely different product than the SKU it is uploaded to (e.g., a table uploaded to a couch variant).\n\nNOTE: If it's the wrong variant (e.g., gray couch image on white variant), do not reject.\n\nDuplicate:\n\nThe image is an exact match of another image on the Variant AND the Context is \"New upload\".\n\nSwatch Image:\n\nReject if the image is clearly a swatch sample (color, fabric, texture, or material only)\n\nTypical Swatch Traits:\n\nOnly shows material, color, or texture (no full product).\n\nOften a small square or patch with plain background.\n\nFile names may include “swatch”, “fabric”, “color”, or “texture”.\n\nPurpose is to show material sample, not product photo.\n\nA swatch photo Must be a flat, square image showing a small section of fabric to clearly display its color, pattern, and material texture — without folds or shadows. \n\nIf an photo is a close-up shot of fabric that’s gathered or folded, meant to show its softness, drape, and texture, not to present the fabric’s true pattern or repeat design, its not be a swatch image\n\nSuitable as Document:\n\nReject if the image matches the characteristics of a Document rather than an Infographic.\n\nDocument Characteristics:\n\nDocuments is the digital copy, One or more pages not product images.\n\nFile type: with text-heavy, black & white, or technical layout\n\nContent\n\"Specifications: Detailed product information.\nInstallation & Assembly: Steps for product assembly.\nOwner Manual: Combination of document types.\nDelivery Information: Delivery instructions for customers.\nWarranty Information: Manufacturer warranty details.\nCertifications: Proof of product quality.\nDisclaimers: Legal product information.\nBuying Guides: Helps choose among product options.\nPromotions: Rebates, additional information.\nDimensions: Only product/carton dimensions.\nMarketing Materials: Explains product functions.\nEnergy Guide: Product energy usage.\"\n\nPurpose: TELL information, not visually illustrate features.\n\n→ Reject reason: “Suitable as Document.”\n\nNote: The image includes dimensions that are not listed in the document. Please do not reject.\nExample: https://assets.wfcdn.com/im/27305801/resize-h152-w164%5Ecompr-r85/2717/349625645/default_name.jpg\n\nNote: The image contains a small amount of text that is not listed in the document. Please do not reject.\nExample: https://assets.wfcdn.com/im/27305801/resize-h152-w164%5Ecompr-r85/2717/382197248/default_name.jpg\n\nInfographic (Do NOT reject):\n\nSingle image with short feature highlights, icons, or visuals showing product materials, functions, or selling points.\n\nPurpose: SHOW and TELL visually.\n\n→ Keep as Infographic.\n\nOther Listed Reasons: Reject if applicable for \"Incorrect Orientation\"\n\nII. RULES FOR PRODUCT IMAGE TYPE\nDetermine the Product Image Type by selecting a Core Type and adding Additional Factors if they apply.\n\nCore Product Image Types:\n\nEnvironmental: Product is placed in a realistic scene representing an identifiable physical space (e.g., living room, office).\n\nSilhouette (Silo): A single product or group of products shown with a plain white or non-white background.\n\nFloor & Wall: Product is isolated in a mostly empty room setting, featured prominently on the floor, wall, or ceiling with few props.\nExample: https://assets.wfcdn.com/im/13566401/resize-h2000-w2000%5Ecompr-r85/3825/382596726/default_name.jpg#61939a9b-58e8-4e5a-9d7d-974577bf1d7e\nhttps://assets.wfcdn.com/im/25924672/resize-h2000-w2000%5Ecompr-r85/3825/382596529/default_name.jpg#439b8f62-8dca-4ab3-a9e7-207290bf3717\nhttps://assets.wfcdn.com/im/47844983/resize-h2000-w2000%5Ecompr-r85/3825/382588842/default_name.jpg#d55ec3b9-aec7-458d-807c-19cf03a1b8b4\nhttps://assets.wfcdn.com/im/11927108/resize-h2000-w2000%5Ecompr-r85/3825/382588704/default_name.jpg#5645ae8b-8efd-499d-8ef2-d3ea0c7c350a\nDetail Shot:\n\nDepicts only a part of the product, not the full product.\n\n30% Rule: If 30% of the product is visible or less: Tag as Detail Shot.\n\n30-50% Rule: If 30%< visible area <50% and it shows no new information: Tag as the applicable core type (Environmental or Silhouette).\n\nNon-Photo:\n\nAny image containing non-photorealistic elements.\n\nSub-categories (use if applicable): Document (primarily TELL, text-heavy, manual/warranty style), Infographic (SHOW AND TELL, feature callouts), Primary (subtle overlay, 0 text, meets Silo/Enviro criteria).\n\nAdditional Factors (Append to Core Type if applicable):\n\nDimensional: Image contains dimensional notations (measurements). (Exception: Not dimensional if it only contains capacity/weight/degree specs).\n\nFunctional: Image shows the product in function, meaning it has dynamically moved or changed its default position (e.g., opening, expanding, doors/drawers open). (Exception: Not Functional if simply held, lights on, or folded fabrics—these are normal/default states).\n\nOutput Format: Provide your response in the following format, \n\nif no data return `MISSING`:","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-880,160],"id":"65b3f50f-1ed3-4df7-8b5a-cbef579bde7b","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1024,288],"id":"f5bb1983-87eb-462d-8ac6-efeecc05ea13","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"MRRQAa2gfAqeENyv","name":"00022"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Approval_Status\": \"Classify\",\n  \"Product_Image_Type\": \"Classify\",\n  \"Explanation\": \"Explain why you choose the Image type and why you aprrove/Reject it.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-720,288],"id":"cac869e3-1367-4385-a44a-65a73ddbd6f0","name":"Structured Output Parser"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE","mode":"list","cachedResultName":"Tagging Image Automation - Pilot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"AssetID":"={{ $('Tagging Image Automation - Pilot').item.json.AssetID }}","Approval Status":"={{ $json.output.Approval_Status }}","Product Image Type":"={{ $json.output.Product_Image_Type }}","Explanation":"={{ $json.output.Explanation }}"},"matchingColumns":["AssetID"],"schema":[{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AssetID","displayName":"AssetID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image","displayName":"Image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Approval Status","displayName":"Approval Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Image Type","displayName":"Product Image Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Explanation","displayName":"Explanation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-528,160],"id":"c25f6f9d-feef-4c2c-aa5c-3559cedb68d6","name":"Result","credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Tagging Image Automation - Pilot","type":"main","index":0}]]},"Tagging Image Automation - Pilot":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Result","type":"main","index":0}]]},"Result":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d0752603-eb85-45b4-b038-17b7e5d092fb","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-20T08:43:41.114Z","createdAt":"2025-10-20T08:43:41.114Z","role":"workflow:owner","workflowId":"pXTAAScl6U9xiN5I","projectId":"V0CmH8bYQGkBMXhQ"}],"activeVersion":null,"tags":[]}