#08_-_enrichment_projects_-_mien_nguyen-cMijh3QBzEnlKRBH.json
{"updatedAt":"2025-10-17T01:14:55.000Z","createdAt":"2025-10-16T00:55:05.126Z","id":"cMijh3QBzEnlKRBH","name":"#08 - Enrichment Projects - Mien Nguyen","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1456,0],"id":"f1d6dc46-bb3f-45ea-91d3-5e30b63a0fe4","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ClassHub","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1536,-272],"id":"3e342598-ed87-4dab-9f71-581b1ee8e369","name":"ClassHub","executeOnce":true,"credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit?gid=1758862831#gid=1758862831","mode":"url"},"sheetName":{"__rl":true,"value":1758862831,"mode":"list","cachedResultName":"New Classing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit#gid=1758862831"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-736,-272],"id":"86056568-11d9-4bd0-8f5e-a8dcebeca6f8","name":"NewClassing","executeOnce":true,"credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit?gid=1758862831#gid=1758862831","mode":"url"},"sheetName":{"__rl":true,"value":58038881,"mode":"list","cachedResultName":"Schema Tag","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit#gid=58038881"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1168,-272],"id":"345a54aa-df1d-4be6-8e82-378a36b877c9","name":"Schema Tag","alwaysOutputData":false,"executeOnce":true,"credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit?gid=1758862831#gid=1758862831","mode":"url"},"sheetName":{"__rl":true,"value":1484215986,"mode":"list","cachedResultName":"RC FT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit#gid=1484215986"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-960,-272],"id":"c819be5e-0336-46c6-8ea5-36c2463c2d94","name":"RC FT","alwaysOutputData":false,"executeOnce":true,"credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-464,-592],"id":"321a61e0-9597-4c15-bc1e-502b5cb71fa8","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=You are an expert product classification analyst. Your task is to determine if a product has been correctly classified into a new category by analyzing its technical specifications, descriptive copy, and the official definitions of all available classes.\n\nCarefully review all the information provided below.\n\n1. Product to Evaluate\n\n    SKU: {{ $json.PrSKU }}\n\n    UniqueValue: {{ $json.UniqueValue }} (**THIS MUST BE STRICTLY {{ $json.UniqueValue }}, NEVER MODIFY**)\n\n    Current Class Name: {{ $json[\"Current Class Name\"] }}\n\n    Proposed New Class Name: {{ $json[\"New Class Name\"] }}\n\n2. Product Information\n\n    Technical Specifications (from Schema Tags): {{ JSON.stringify($json.SchemaTags) }}\n\n    Descriptive Information (from RC FT): {{ JSON.stringify($json.RCFtData) }}\n\n3. Classification Definitions\n\n    **Definitions of Proposed Class (\"{{ $json[\"New Class Name\"] }}\"):** ```{{ JSON.stringify($json.classhub_definition) }}```\\\n\n    `Context from Current Class` and product which may point to these available class definitions of product (including potential but MAY NOT accurate): ```{{ JSON.stringify($json.current_class_context) }}```\n\nYour Task\n\n    Analyze: Thoroughly analyze all the product information (specifications and descriptions).\n\n    Evaluate: Compare the product's characteristics against the provided definition of the Proposed New Class Name.\n\n    Find Best Fit: Search through the `Definitions of Proposed Class` and available class definitions from `Context from Current Class` to identify the single best-fitting class for this product. This may or may not be the same as the proposed class.\n\n    Conclude & Justify: Based on your analysis, provide your conclusion and a detailed, evidence-based reasoning. Reference specific Tag Names, Tag Values, or phrases from the descriptive text to support your choice.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-112,-272],"id":"969caccc-85eb-4407-93cb-6ca04bf4c8ac","name":"AI Agent","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-112,-80],"id":"536105e5-7725-4126-bae1-7f2412dc1e47","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"0YV4gZoQKGpSDuEN","name":"00017"}}},{"parameters":{"jsCode":"// --- Get the main item from the loop ---\nconst mainItem = $('Loop Over Items').item.json;\nconst lookupSku = mainItem.PrSKU;\n\n\n// --- 1. Schema Tag Lookup ---\nconst allSchemaTags = $('Schema Tag').all().map(item => item.json);\nconst matchedTags = allSchemaTags.filter(tag => tag.SKU === lookupSku);\nmainItem.SchemaTags = matchedTags;\n\n\n// --- 2. RC FT Lookup ---\nconst allRcFt = $('RC FT').all().map(item => item.json);\nconst matchedRcFt = allRcFt.filter(rc => rc.SKU === lookupSku);\nmainItem.RCFtData = matchedRcFt;\n\n\n// --- Get all ClassHub definitions once for efficiency ---\nconst allClassHubDefs = $('ClassHubAllInOne').item.json.classhub_definition;\n\n\n// --- 3. Find Possible Definitions for \"New Class Name\" ---\nconst newClassNameTerm = (mainItem[\"New Class Name\"] || \"\").trim().toLowerCase();\nlet newClassDefinitions = [];\nif (newClassNameTerm) {\n    newClassDefinitions = allClassHubDefs.filter(def => {\n        if (!def) return false;\n        const category = (def[\"Category\"] || \"\").toLowerCase();\n        const className = (def[\"Class Name\"] || \"\").toLowerCase();\n        const classOverview = (def[\"Class Overview\"] || \"\").toLowerCase();\n        return category.includes(newClassNameTerm) || className.includes(newClassNameTerm) || classOverview.includes(newClassNameTerm);\n    });\n}\nmainItem.classhub_definition = newClassDefinitions;\n\n\n// --- 4. IMPROVED: Find Expanded Contextual Definitions for \"Current Class Name\" ---\nconst currentClassNameTerm = (mainItem[\"Current Class Name\"] || \"\").trim().toLowerCase();\nlet combinedContext = [];\n\nif (currentClassNameTerm) {\n    // 4a: Perform the initial search based on the \"Current Class Name\"\n    const initialContext = allClassHubDefs.filter(def => {\n        if (!def) return false;\n        const category = (def[\"Category\"] || \"\").toLowerCase();\n        const className = (def[\"Class Name\"] || \"\").toLowerCase();\n        const classOverview = (def[\"Class Overview\"] || \"\").toLowerCase();\n        return category.includes(currentClassNameTerm) || className.includes(currentClassNameTerm) || classOverview.includes(currentClassNameTerm);\n    });\n    combinedContext.push(...initialContext);\n\n    // 4b: Get unique 'Class Name's from the initial results to use in an expanded search\n    const classNamesToSearch = [...new Set(initialContext.map(def => def[\"Class Name\"]))];\n\n    classNamesToSearch.forEach(classNameToSearch => {\n        const searchTerm = (classNameToSearch || \"\").trim().toLowerCase();\n        if (!searchTerm) return;\n\n        const expandedContext = allClassHubDefs.filter(def => {\n            if (!def) return false;\n            const category = (def[\"Category\"] || \"\").toLowerCase();\n            const classOverview = (def[\"Class Overview\"] || \"\").toLowerCase();\n            return category.includes(searchTerm) || classOverview.includes(searchTerm);\n        });\n        combinedContext.push(...expandedContext);\n    });\n\n    // 4c: De-duplicate the final list to ensure each definition appears only once\n    const seenIds = new Set();\n    const uniqueCombinedContext = combinedContext.filter(def => {\n        const isDuplicate = seenIds.has(def[\"Class ID\"]);\n        seenIds.add(def[\"Class ID\"]);\n        return !isDuplicate;\n    });\n\n    mainItem.current_class_context = uniqueCombinedContext;\n} else {\n    mainItem.current_class_context = []; // Assign empty array if no current class name\n}\n\n\n// --- Return the final, combined item ---\nreturn mainItem;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-576],"id":"13e9ce74-b667-4425-aac1-b7163aecc42b","name":"Code in JavaScript"},{"parameters":{"jsonSchemaExample":"{\n  \"UniqueValue\":\"GGVE1016-914\",\n  \"evaluation\": {\n    \"proposedClass\": {\n      \"name\": \"Espresso Machines\",\n      \"isGoodMatch\": true,\n      \"confidence\": \"High\"\n    },\n    \"suggestedClass\": {\n      \"name\": \"Espresso Machines\",\n      \"category\": \"Small Electrics - [Coffee] Espresso Machines - GLOBAL\"\n    },\n    \"reasoning\": \"The proposed class 'Espresso Machines' is a high-confidence match. The product's technical specifications from SchemaTags explicitly list 'ProductType' as 'Semi-Automatic' and 'BarPumpPressure' as 15. These are defining characteristics of an espresso machine as per the ClassHub definition.\",\n    \"supportingEvidence\": [\n      {\n        \"source\": \"Schema Tag\",\n        \"key\": \"ProductType\",\n        \"value\": \"Semi-Automatic\",\n        \"relevance\": \"Directly aligns with the core function of the class.\"\n      },\n      {\n        \"source\": \"Schema Tag\",\n        \"key\": \"BarPumpPressure\",\n        \"value\": \"15\",\n        \"relevance\": \"A key technical spec for espresso machines.\"\n      },\n      {\n        \"source\": \"RC FT\",\n        \"key\": \"Value\",\n        \"value\": \"...crafting cappuccinos is a delight with the high-pressure frothing function...\",\n        \"relevance\": \"Descriptive text confirms features central to the suggested class.\"\n      }\n    ]\n  }\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[16,-80],"id":"e1977198-f444-4e84-beea-4a37abb77a0b","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7f1cc61-a15f-494b-bdaa-fe726dd99f74","leftValue":"={{ $json['Current Class Name'] }}","rightValue":"={{ $json['New Class Name'] }}","operator":{"type":"string","operation":"notEquals"}},{"id":"54535ef8-c2a4-4ce8-8632-5f3fdb135e40","leftValue":"={{ $json[\"isGoodMatch - Confident\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-736,-592],"id":"68c1ee34-c442-4443-a186-32cbb1086747","name":"Filter"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"classhub_definition","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1360,-272],"id":"97ace162-890e-410a-a527-5af0dc94bfe9","name":"ClassHubAllInOne"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit?gid=1758862831#gid=1758862831","mode":"url"},"sheetName":{"__rl":true,"value":1758862831,"mode":"list","cachedResultName":"New Classing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit#gid=1758862831"},"columns":{"mappingMode":"defineBelow","value":{"UniqueValue":"={{ $json.UniqueValue }}","isGoodMatch - Confident":"={{ $json.output.evaluation.proposedClass.isGoodMatch }}-{{ $json.output.evaluation.proposedClass.confidence }}","Suggested Class Name":"={{ $json.output.evaluation.suggestedClass.name }}","Suggested Class Category":"={{ $json.output.evaluation.suggestedClass.category }}","Reason":"={{ $json.output.evaluation.reasoning }}","Evidence":"={{ $json.output.evaluation.supportingEvidence }}"},"matchingColumns":["UniqueValue"],"schema":[{"id":"UniqueValue","displayName":"UniqueValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Brand Catalog ID","displayName":"Brand Catalog ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PrSKU","displayName":"PrSKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Current ClID","displayName":"Current ClID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Current Class Name","displayName":"Current Class Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"New ClID","displayName":"New ClID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"New Class Name","displayName":"New Class Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Classing Type","displayName":"Classing Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"isGoodMatch - Confident","displayName":"isGoodMatch - Confident","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Suggested Class Name","displayName":"Suggested Class Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Suggested Class Category","displayName":"Suggested Class Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Reason","displayName":"Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Evidence","displayName":"Evidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,-272],"id":"5f12e672-3e3f-4117-9748-b41783c1e5a1","name":"Write Results to Sheet","retryOnFail":true,"credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[32,48],"id":"08c42d30-92b1-44f4-bcc6-5e05c80d3c3f","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"VKmAPvidxjB5XB7Z","name":"00003"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[288,-272],"id":"2e94ef1b-8fd7-462e-b5ab-15af3f4f85af","name":"Merge"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"ClassHub","type":"main","index":0}]]},"ClassHub":{"main":[[{"node":"ClassHubAllInOne","type":"main","index":0}]]},"NewClassing":{"main":[[{"node":"Filter","type":"main","index":0}]]},"RC FT":{"main":[[{"node":"NewClassing","type":"main","index":0}]]},"Schema Tag":{"main":[[{"node":"RC FT","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ClassHubAllInOne":{"main":[[{"node":"Schema Tag","type":"main","index":0}]]},"Write Results to Sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"Write Results to Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"96d265e3-e1d6-46d1-82da-cd6d8956cf11","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-16T00:55:05.128Z","createdAt":"2025-10-16T00:55:05.128Z","role":"workflow:owner","workflowId":"cMijh3QBzEnlKRBH","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}