#08_-_enrichment_projects_-_mien_nguyen-B0EAQ9np08NK32UT.json
{"updatedAt":"2025-10-23T06:30:54.211Z","createdAt":"2025-10-23T06:30:54.211Z","id":"B0EAQ9np08NK32UT","name":"#08 - Enrichment Projects - Mien Nguyen","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-720,592],"id":"c398206d-6041-4973-a14f-83cdedf0b550","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ClassHub","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-800,320],"id":"5409e441-1a7f-45b1-976e-721225c386d1","name":"ClassHub","executeOnce":true,"credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit?gid=1758862831#gid=1758862831","mode":"url"},"sheetName":{"__rl":true,"value":1758862831,"mode":"list","cachedResultName":"New Classing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit#gid=1758862831"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,320],"id":"e9c66ac9-cafe-4ce3-bab0-037b1310d383","name":"NewClassing","executeOnce":true,"credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit?gid=1758862831#gid=1758862831","mode":"url"},"sheetName":{"__rl":true,"value":58038881,"mode":"list","cachedResultName":"Schema Tag","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit#gid=58038881"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-432,320],"id":"895b4045-8ad3-4e7b-b701-a392b8c63adc","name":"Schema Tag","alwaysOutputData":false,"executeOnce":true,"credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit?gid=1758862831#gid=1758862831","mode":"url"},"sheetName":{"__rl":true,"value":1484215986,"mode":"list","cachedResultName":"RC FT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit#gid=1484215986"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-224,320],"id":"e7b63b22-b054-4770-8dd7-fcb3a4990387","name":"RC FT","alwaysOutputData":false,"executeOnce":true,"credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[272,0],"id":"7fe93658-c5f8-470f-8dfc-d8c916e81517","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=You are an expert product classification analyst. Your task is to determine if a product has been correctly classified into a new category by analyzing its technical specifications, descriptive copy, and the official definitions of all available classes.\n\nCarefully review all the information provided below.\n\n1. Product to Evaluate\n\n    SKU: {{ $json.PrSKU }}\n\n    UniqueValue: {{ $json.UniqueValue }} (**THIS MUST BE STRICTLY {{ $json.UniqueValue }}, NEVER MODIFY**)\n\n    Current Class Name: {{ $json[\"Current Class Name\"] }}\n\n    Proposed New Class Name: {{ $json[\"New Class Name\"] }}\n\n2. Product Information\n\n    Technical Specifications (from Schema Tags): {{ JSON.stringify($json.SchemaTags) }}\n\n    Descriptive Information (from RC FT): {{ JSON.stringify($json.RCFtData) }}\n\n3. Classification Definitions\n\n    **Definitions of Proposed Class (\"{{ $json[\"New Class Name\"] }}\"):** ```{{ JSON.stringify($json.classhub_definition) }}```\\\n\n    `Context from Current Class` and product which may point to these available class definitions of product (including potential but MAY NOT accurate): ```{{ JSON.stringify($json.current_class_context) }}```\n\nYour Task\n\n    Analyze: Thoroughly analyze all the product information (specifications and descriptions).\n\n    Evaluate: Compare the product's characteristics against the provided definition of the Proposed New Class Name.\n\n    Find Best Fit: Search through the `Definitions of Proposed Class` and available class definitions from `Context from Current Class` to identify the single best-fitting class for this product. This may or may not be the same as the proposed class.\n\n    Conclude & Justify: Based on your analysis, provide your conclusion and a detailed, evidence-based reasoning. Reference specific Tag Names, Tag Values, or phrases from the descriptive text to support your choice.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[624,320],"id":"e42bba4e-9dc4-46cf-ad8d-d1bc94b854bb","name":"AI Agent","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[624,512],"id":"abb5dffb-1467-48ef-912e-40afd45eb600","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"0YV4gZoQKGpSDuEN","name":"00017"}}},{"parameters":{"jsCode":"// --- Get the main item from the loop ---\nconst mainItem = $('Loop Over Items').item.json;\nconst lookupSku = mainItem.PrSKU;\n\n\n// --- 1. Schema Tag Lookup ---\nconst allSchemaTags = $('Schema Tag').all().map(item => item.json);\nconst matchedTags = allSchemaTags.filter(tag => tag.SKU === lookupSku);\nmainItem.SchemaTags = matchedTags;\n\n\n// --- 2. RC FT Lookup ---\nconst allRcFt = $('RC FT').all().map(item => item.json);\nconst matchedRcFt = allRcFt.filter(rc => rc.SKU === lookupSku);\nmainItem.RCFtData = matchedRcFt;\n\n\n// --- Get all ClassHub definitions once for efficiency ---\nconst allClassHubDefs = $('ClassHubAllInOne').item.json.classhub_definition;\n\n\n// --- 3. Find Possible Definitions for \"New Class Name\" ---\nconst newClassNameTerm = (mainItem[\"New Class Name\"] || \"\").trim().toLowerCase();\nlet newClassDefinitions = [];\nif (newClassNameTerm) {\n    newClassDefinitions = allClassHubDefs.filter(def => {\n        if (!def) return false;\n        const category = (def[\"Category\"] || \"\").toLowerCase();\n        const className = (def[\"Class Name\"] || \"\").toLowerCase();\n        const classOverview = (def[\"Class Overview\"] || \"\").toLowerCase();\n        return category.includes(newClassNameTerm) || className.includes(newClassNameTerm) || classOverview.includes(newClassNameTerm);\n    });\n}\nmainItem.classhub_definition = newClassDefinitions;\n\n\n// --- 4. IMPROVED: Find Expanded Contextual Definitions for \"Current Class Name\" ---\nconst currentClassNameTerm = (mainItem[\"Current Class Name\"] || \"\").trim().toLowerCase();\nlet combinedContext = [];\n\nif (currentClassNameTerm) {\n    // 4a: Perform the initial search based on the \"Current Class Name\"\n    const initialContext = allClassHubDefs.filter(def => {\n        if (!def) return false;\n        const category = (def[\"Category\"] || \"\").toLowerCase();\n        const className = (def[\"Class Name\"] || \"\").toLowerCase();\n        const classOverview = (def[\"Class Overview\"] || \"\").toLowerCase();\n        return category.includes(currentClassNameTerm) || className.includes(currentClassNameTerm) || classOverview.includes(currentClassNameTerm);\n    });\n    combinedContext.push(...initialContext);\n\n    // 4b: Get unique 'Class Name's from the initial results to use in an expanded search\n    const classNamesToSearch = [...new Set(initialContext.map(def => def[\"Class Name\"]))];\n\n    classNamesToSearch.forEach(classNameToSearch => {\n        const searchTerm = (classNameToSearch || \"\").trim().toLowerCase();\n        if (!searchTerm) return;\n\n        const expandedContext = allClassHubDefs.filter(def => {\n            if (!def) return false;\n            const category = (def[\"Category\"] || \"\").toLowerCase();\n            const classOverview = (def[\"Class Overview\"] || \"\").toLowerCase();\n            return category.includes(searchTerm) || classOverview.includes(searchTerm);\n        });\n        combinedContext.push(...expandedContext);\n    });\n\n    // 4c: De-duplicate the final list to ensure each definition appears only once\n    const seenIds = new Set();\n    const uniqueCombinedContext = combinedContext.filter(def => {\n        const isDuplicate = seenIds.has(def[\"Class ID\"]);\n        seenIds.add(def[\"Class ID\"]);\n        return !isDuplicate;\n    });\n\n    mainItem.current_class_context = uniqueCombinedContext;\n} else {\n    mainItem.current_class_context = []; // Assign empty array if no current class name\n}\n\n\n// --- Return the final, combined item ---\nreturn mainItem;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,16],"id":"2e40e379-7373-46f3-a79c-0b93e01c0eba","name":"Code in JavaScript"},{"parameters":{"jsonSchemaExample":"{\n  \"UniqueValue\":\"GGVE1016-914\",\n  \"evaluation\": {\n    \"proposedClass\": {\n      \"name\": \"Espresso Machines\",\n      \"isGoodMatch\": true,\n      \"confidence\": \"High\"\n    },\n    \"suggestedClass\": {\n      \"name\": \"Espresso Machines\",\n      \"category\": \"Small Electrics - [Coffee] Espresso Machines - GLOBAL\"\n    },\n    \"reasoning\": \"The proposed class 'Espresso Machines' is a high-confidence match. The product's technical specifications from SchemaTags explicitly list 'ProductType' as 'Semi-Automatic' and 'BarPumpPressure' as 15. These are defining characteristics of an espresso machine as per the ClassHub definition.\",\n    \"supportingEvidence\": [\n      {\n        \"source\": \"Schema Tag\",\n        \"key\": \"ProductType\",\n        \"value\": \"Semi-Automatic\",\n        \"relevance\": \"Directly aligns with the core function of the class.\"\n      },\n      {\n        \"source\": \"Schema Tag\",\n        \"key\": \"BarPumpPressure\",\n        \"value\": \"15\",\n        \"relevance\": \"A key technical spec for espresso machines.\"\n      },\n      {\n        \"source\": \"RC FT\",\n        \"key\": \"Value\",\n        \"value\": \"...crafting cappuccinos is a delight with the high-pressure frothing function...\",\n        \"relevance\": \"Descriptive text confirms features central to the suggested class.\"\n      }\n    ]\n  }\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[752,512],"id":"6dcc3dc5-09bd-46a0-82e5-8f9c471d02b8","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7f1cc61-a15f-494b-bdaa-fe726dd99f74","leftValue":"={{ $json['Current Class Name'] }}","rightValue":"={{ $json['New Class Name'] }}","operator":{"type":"string","operation":"notEquals"}},{"id":"54535ef8-c2a4-4ce8-8632-5f3fdb135e40","leftValue":"={{ $json[\"isGoodMatch - Confident\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[0,0],"id":"4251a4b4-6fee-41fb-9367-a9a97b09b553","name":"Filter"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"classhub_definition","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-624,320],"id":"ac0f72dc-9607-4d04-9d79-f2edcac86fbd","name":"ClassHubAllInOne"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit?gid=1758862831#gid=1758862831","mode":"url"},"sheetName":{"__rl":true,"value":1758862831,"mode":"list","cachedResultName":"New Classing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18M3LfkijG2JZGc7dcUkoyG0vDneoFA7JHc61j6hmBrg/edit#gid=1758862831"},"columns":{"mappingMode":"defineBelow","value":{"UniqueValue":"={{ $json.UniqueValue }}","isGoodMatch - Confident":"={{ $json.output.evaluation.proposedClass.isGoodMatch }}-{{ $json.output.evaluation.proposedClass.confidence }}","Suggested Class Name":"={{ $json.output.evaluation.suggestedClass.name }}","Suggested Class Category":"={{ $json.output.evaluation.suggestedClass.category }}","Reason":"={{ $json.output.evaluation.reasoning }}","Evidence":"={{ $json.output.evaluation.supportingEvidence }}"},"matchingColumns":["UniqueValue"],"schema":[{"id":"UniqueValue","displayName":"UniqueValue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Brand Catalog ID","displayName":"Brand Catalog ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PrSKU","displayName":"PrSKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Current ClID","displayName":"Current ClID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Current Class Name","displayName":"Current Class Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"New ClID","displayName":"New ClID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"New Class Name","displayName":"New Class Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Classing Type","displayName":"Classing Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"isGoodMatch - Confident","displayName":"isGoodMatch - Confident","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Suggested Class Name","displayName":"Suggested Class Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Suggested Class Category","displayName":"Suggested Class Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Reason","displayName":"Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Evidence","displayName":"Evidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1296,320],"id":"4540ddff-6467-4d29-a1b9-15c9e3b319f3","name":"Write Results to Sheet","retryOnFail":true,"credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[768,640],"id":"5b0f7549-5202-44fc-b518-56aa2af8d6c8","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"VKmAPvidxjB5XB7Z","name":"00003"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1024,320],"id":"e28b9ac9-b157-4ab2-a43d-712f29df2d80","name":"Merge"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"ClassHub","type":"main","index":0}]]},"ClassHub":{"main":[[{"node":"ClassHubAllInOne","type":"main","index":0}]]},"NewClassing":{"main":[[{"node":"Filter","type":"main","index":0}]]},"RC FT":{"main":[[{"node":"NewClassing","type":"main","index":0}]]},"Schema Tag":{"main":[[{"node":"RC FT","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ClassHubAllInOne":{"main":[[{"node":"Schema Tag","type":"main","index":0}]]},"Write Results to Sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"Write Results to Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5124c634-c7f8-4bee-94d5-6ac5822b1a4e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-23T06:30:54.215Z","createdAt":"2025-10-23T06:30:54.215Z","role":"workflow:owner","workflowId":"B0EAQ9np08NK32UT","projectId":"V0CmH8bYQGkBMXhQ"}],"activeVersion":null,"tags":[]}