#41_-_visual_duplicates_-_outreach_voice_pilot_-_example-Y4mDkJILo1edCevA.json
{"updatedAt":"2025-10-16T00:47:02.000Z","createdAt":"2025-10-15T08:44:21.414Z","id":"Y4mDkJILo1edCevA","name":"#41 - Visual Duplicates - Outreach Voice Pilot - Example","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,-416],"id":"436827c2-ba49-454c-9c7c-97e4a8c60de2","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"=You are an assistant that helps match supplier responses to predefined agent responses.\nBelow is a supplier’s message, and a list of reference keyword–response pairs.\n\nFor each supplier message:\n\nFind the keyword or phrase in the supplier’s message that most closely matches the “Input” field from the list.\n\nReturn the Ticket {{ $json.Ticket }} and corresponding “Output” text from that same row.\n\nIf there is no relevant match, return “empty”.\n\nSupplier message:\n{{ $json[\"Supplier Reply\"] }}\n\nReference list (Input → Output):\n{{ JSON.stringify($json[\"data\"]) }}\n\nYour output:\nReturn only the most relevant Output text.\n\nReplace the [Insert Provider Name] reply with the Supplier name, usually the signature in the {{ $json['Supplier Reply'] }} section, if not present leave the default as \"team\"\n\nAt the end of your reply, instead of just leaving a simple greeting, you can add Best Regards or Kind regards to add more politeness.\n\nAdd a new line at the end of the answer with signature: Chinh\n\nAnswers should be in the correct format and keep the context professional.\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[0,-128],"id":"e9eb4408-324c-4562-803e-9390f70bf1ba","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-64,64],"id":"5be4b146-4ec6-4ee6-bbc9-3b86aa92e1a9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"EwU0onAEQOlD6XWC","name":"Chinh - IT 1"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1RWe96BSehblH47SFOu7yr3sWySoibHcYkNoYwLW9uSA/edit?gid=451716776#gid=451716776","mode":"url"},"sheetName":{"__rl":true,"value":451716776,"mode":"list","cachedResultName":"Sample1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RWe96BSehblH47SFOu7yr3sWySoibHcYkNoYwLW9uSA/edit#gid=451716776"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[32,-544],"id":"25c4ad7b-4ba6-458b-9bd8-1cdef426ad82","name":"Get row(s) in Sample1","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[416,-352],"id":"a79d6c26-6182-4353-8a75-b1235d074b24","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[208,-352],"id":"5bd8af7c-8d03-4ad6-a2d6-d2b83f9241a6","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a3753af-93f0-4a72-86fe-f12b526e9564","leftValue":"={{ $json.Response }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[336,-544],"id":"c46ea5e4-7bda-4081-83c8-bde8d35e420f","name":"Filter"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1RWe96BSehblH47SFOu7yr3sWySoibHcYkNoYwLW9uSA/edit?gid=1084177558#gid=1084177558","mode":"url"},"sheetName":{"__rl":true,"value":1084177558,"mode":"list","cachedResultName":"Source1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RWe96BSehblH47SFOu7yr3sWySoibHcYkNoYwLW9uSA/edit#gid=1084177558"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A2:B13"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[32,-352],"id":"868f7df8-2c4a-4d75-8bda-e56c82ea78c2","name":"Get row(s) in Source1","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"jsonSchemaExample":"{\n\t\"Ticket\": \"DUPES-132324\",\n\t\"Response\": \"Response\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[160,64],"id":"acc8a86d-16cc-4f15-b625-877eec3a4680","name":"Structured Output Parser"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1RWe96BSehblH47SFOu7yr3sWySoibHcYkNoYwLW9uSA/edit?gid=451716776#gid=451716776","mode":"url"},"sheetName":{"__rl":true,"value":451716776,"mode":"list","cachedResultName":"Sample1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RWe96BSehblH47SFOu7yr3sWySoibHcYkNoYwLW9uSA/edit#gid=451716776"},"columns":{"mappingMode":"defineBelow","value":{"Response":"={{ $json.output.Response }}","Ticket":"={{ $json.output.Ticket }}"},"matchingColumns":["Ticket"],"schema":[{"id":"Ticket","displayName":"Ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Supplier Reply","displayName":"Supplier Reply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Response","displayName":"Response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[320,-128],"id":"c33d6ce3-ee4a-4da8-861c-9893a67c1e73","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in Source1","type":"main","index":0},{"node":"Get row(s) in Sample1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Get row(s) in Sample1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get row(s) in Source1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"82fbd8b2-cda4-4ff1-899e-544cf928a9a5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-15T08:44:21.417Z","createdAt":"2025-10-15T08:44:21.417Z","role":"workflow:owner","workflowId":"Y4mDkJILo1edCevA","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}