brave_search_delay-KCWMP7FmKLBNQaaQ.json
{"updatedAt":"2025-06-08T14:11:58.000Z","createdAt":"2025-05-26T00:31:21.569Z","id":"KCWMP7FmKLBNQaaQ","name":"Brave Search Delay","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-20,320]},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[220,220],"id":"108ac1e1-f7e9-4196-9b8b-156e247c6f73","name":"Wait","webhookId":"6572c65c-a0bb-4b87-9395-22d18ba5f59e"},{"parameters":{"url":"https://api.search.brave.com/res/v1/web/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('When Executed by Another Workflow').item.json.query }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Accept-Encoding","value":"gzip"},{"name":"X-Subscription-Token","value":"BSAz35BeUhMnB5OoPjvGzyWNuiTMbKR"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,340],"id":"88328029-f2e0-4609-86c4-32c0e7cb78c1","name":"HTTP Request","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Lấy dữ liệu từ $input\nconst videos = $input.first().json.videos?.results || [];\nconst web = $input.first().json.web?.results || [];\n\n// Hàm để lấy tối đa 3 phần tử của mảng, nếu mảng có ít hơn 3 phần tử, lấy tất cả\nconst getLimitedResults = (arr) => {\n  const limit = Math.min(arr.length, 3); // Giới hạn không quá 3 phần tử\n  return arr.slice(0, limit); // Cắt mảng để chỉ lấy tối đa 3 phần tử\n};\n\n// Lấy các kết quả từ videos và web\nconst limitedVideos = getLimitedResults(videos);\nconst limitedWeb = getLimitedResults(web);\n\n// Hàm để gom title và description thành 1 chuỗi, ngăn cách bởi dấu \\n\nconst formatItems = (arr) => {\n  if (arr.length === 0) {\n    return \"No data available\";  // Nếu mảng rỗng, trả về thông báo\n  }\n  return arr.map(item => `Title: ${item.title}\\nDescription: ${item.description}`).join('\\n\\n');\n};\n\n// Sử dụng cho videos và web\nconst result = {\n  videos: formatItems(limitedVideos),\n  web: formatItems(limitedWeb)\n};\n\n// Trả về kết quả\nreturn [\n  {\n    json: result\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[780,320],"id":"e37928ee-da5f-4823-9b3a-11cf3b4f9512","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"5d8ec3de-74e8-4932-994e-ea4cd731284d","name":"videos","value":"={{ $json.videos }}","type":"string"},{"id":"485f1aa8-82b3-4b8d-be27-91eb48c8c610","name":"web","value":"={{ $json.web }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,320],"id":"b01cff50-8acc-49c5-946f-634cc4fe3729","name":"Edit Fields"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[620,240],"id":"a960974a-3fe0-433f-a0cb-2948bc7eca36","name":"Wait1","webhookId":"6572c65c-a0bb-4b87-9395-22d18ba5f59e"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"query":"xu hướng tìm việc 2024"}}]},"versionId":"f051cdda-5a6d-4575-883b-bbb5c5c9e430","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-05-26T00:31:21.573Z","createdAt":"2025-05-26T00:31:21.573Z","role":"workflow:owner","workflowId":"KCWMP7FmKLBNQaaQ","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}