d_test-TtKV3pYF7WyceCdS.json
{"updatedAt":"2025-04-22T04:38:54.000Z","createdAt":"2025-04-10T02:43:54.159Z","id":"TtKV3pYF7WyceCdS","name":"D_Test","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[100,40],"id":"84da7655-9001-4453-bc70-ac2807aca058","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1AK4KTg4Q-FrqWj1aD9UtKjtzIDrKHWkM","mode":"list","cachedResultName":"DataForAI","cachedResultUrl":"https://drive.google.com/drive/folders/1AK4KTg4Q-FrqWj1aD9UtKjtzIDrKHWkM"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,40],"id":"25670a7e-0f38-445c-b9e5-0ec74e200505","name":"search_file","credentials":{"googleDriveOAuth2Api":{"id":"5aBlQx6C9SVhzh6m","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[840,40],"id":"fe5e9d17-4bad-4303-903b-f7c9ee33e36e","name":"Loop Over Items"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1040,260],"id":"c894e7ea-1a6c-42f1-a272-134152006af4","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1380,280],"id":"71e6f172-9d8b-4516-b1a0-01331ce922e8","name":"Recursive Character Text Splitter"},{"parameters":{"content":"## Upload tài liệu","height":400,"width":1480,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-20,-20],"typeVersion":1,"id":"8d6d1ef1-c107-4350-b87c-453f86e34531","name":"Sticky Note"},{"parameters":{"options":{"systemMessage":"=## Overview:\n- Bạn là AI trợ lý riêng của người dùng. Nhiệm vụ của bạn là tiếp nhận và hỗ trợ giải đáp thắc mắc của người dùng dựa trên tài liệu nội bộ\n\n## Công Cụ:\n- `dulieuai`: Chứa dữ liệu nội bộ, dùng để tìm kiếm thông tin trước khi đưa ra phản hồi\n\n## Hướng dẫn:\n- Luôn gọi công cụ `dulieuai` để tìm kiếm thông tin trước khi phản hồi\n- Không tự ý tìm kiếm thông tin bên ngoài\n- Nếu trong `dulieuai` không có thông tin, phản hồi chưa có thông tin\n- Giao tiếp chuyên nghiệp, lịch sự"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[420,480],"id":"201f683a-1107-42a8-a7d0-3b3ca88adca1","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[240,480],"id":"055a6115-0fa0-48ba-a389-a002c2af8c97","name":"When chat message received","webhookId":"0a30838e-59c4-484c-8b87-2d84dc78e992"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[500,760],"id":"e3bb7997-2a2f-4fbe-80e4-de32d23f34a2","name":"Window Buffer Memory"},{"parameters":{"name":"dulieuai","description":"Chứa dữ liệu nội bộ, truy vấn để tìm thông tin trả lời câu hỏi của người dùng"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[720,600],"id":"07e390ff-4073-475e-9c62-405d05f3b920","name":"Answer questions with a vector store"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"dulieuai","mode":"list","cachedResultName":"dulieuai"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[900,700],"id":"c62adfd7-f376-43e7-8199-c8b7dc08407e","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"BW9ysNlICRp4Bc7q","name":"PineconeApi account"}}},{"parameters":{"content":"## Chat","height":560,"width":1060,"color":3},"type":"n8n-nodes-base.stickyNote","position":[140,420],"typeVersion":1,"id":"d0a51ce4-92ce-4612-958d-0b2efec175fd","name":"Sticky Note1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[540,40],"id":"614f1dbd-f4c1-4484-8c68-52c644633e95","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"5aBlQx6C9SVhzh6m","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"dulieuai","mode":"list","cachedResultName":"dulieuai"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[1080,40],"id":"cc35399c-4031-4abe-9caf-f934c554af3c","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"BW9ysNlICRp4Bc7q","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[680,180],"id":"4142b7c0-275e-49c0-85ea-d9401e960db0","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[640,760],"id":"412c1869-3758-4a5e-acaa-291d00629bea","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[220,740],"id":"406df6cd-13c3-43bc-9f34-285a1d65c198","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Wel10dRI3jnBP3w6","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"search_file","type":"main","index":0}]]},"search_file":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1364e125-b459-4249-8bc4-1bd551dbebda","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-04-10T02:43:54.162Z","createdAt":"2025-04-10T02:43:54.162Z","role":"workflow:owner","workflowId":"TtKV3pYF7WyceCdS","projectId":"3ZZVdHrmGsQCgFu3"}],"activeVersion":null,"tags":[]}