demo_sop_handling-8JpFk6xZFj7FlW49.json
{"updatedAt":"2025-10-10T03:35:19.000Z","createdAt":"2025-09-24T03:49:19.411Z","id":"8JpFk6xZFj7FlW49","name":"Demo SOP Handling","active":false,"isArchived":false,"nodes":[{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant to resolve a ticket using existed knowledgebase tool.\nYou MUST ALWAYS use the SOP data provided by the tool to formulate your recommendations. NEVER make it up.\n\n**CRITICAL INSTRUCTION FOR IMAGE LINKS:**\n1.  **Context Clarity:** The SOP data retrieved from the tool will contain all relevant image links already embedded in the text using **Markdown format** (e.g., `![Image Name](Image URL)`).\n2.  **Usage Requirement:** If an SOP step includes these Markdown image links in the context you receive, you **MUST** include them *verbatim* (nguyên văn) in your final `Best Practice Recommendations` section to provide visual guidance to the user.\n3.  **Formatting:** Ensure your final response is clearly structured with sections."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[336,32],"id":"5257a741-8047-4f2d-beb5-7506a9a4a511","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[240,400],"id":"44b17ef1-093a-4633-bbb1-0f6f37ef94d0","name":"gemini-2.5-flash","credentials":{"googlePalmApi":{"id":"xojEEzlYFLJmDUW3","name":"Google Gemini(PaLM) Api account vund1209"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,240],"id":"84b027e8-b8df-4c69-8548-d2c3b7d9c4b3","name":"Memory Buffer"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[240,272],"id":"319c3d82-4643-45d0-931b-7c7c4ba6254c","name":"gpt-4o-mini","credentials":{"openAiApi":{"id":"j7IfLkcRzoKMmB2N","name":"OpenAi account allen.nguyen"}}},{"parameters":{"content":"## LLM","height":288},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,224],"id":"3d50cadc-f54f-4639-9997-5e44b86f16ce","name":"Sticky Note","disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-416,-512],"id":"1da88a3e-79f0-48a2-84f2-aa62a0bdaa77","name":"Download file","credentials":{"googleApi":{"id":"Z20T8PaT0pRl33h7","name":"Google Service Account - google-drive-hooker"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-832,-512],"id":"6810c5fd-e4fd-4613-9ff6-c09bfcbd4a6c","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","queryString":"RAG_Metadata_Chunks_FINAL.json","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1-sSa8-0WAblbP4uWnWrfDKcXUK9-y9DU","mode":"list","cachedResultName":"RAG_Document_Images","cachedResultUrl":"https://drive.google.com/drive/folders/1-sSa8-0WAblbP4uWnWrfDKcXUK9-y9DU"}},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-640,-512],"id":"0b89e5fe-48c6-49eb-bad9-8cf355d60447","name":"Search files and folders","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[416,-336],"id":"3484b628-22cb-42da-aed5-710bfd9307ce","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"j7IfLkcRzoKMmB2N","name":"OpenAi account allen.nguyen"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[64,-64],"id":"4cb09d8c-a0d2-446d-8bb2-ee12c949e7f6","name":"When chat message received","webhookId":"4b862570-0442-47c7-8895-933fd8f25636"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"sop_vstore","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[544,-560],"id":"e3377033-39ef-411a-a319-f1cb5e3557a4","name":"SOP","credentials":{"qdrantApi":{"id":"al5kamDWkQkppHXv","name":"QdrantApi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[640,192],"id":"a2efc0a1-d5cf-4d31-a4d6-8cda33929a55","name":"Think"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-176,-512],"id":"c06d2e7d-2bee-46c2-8c1f-488496134c56","name":"Extract from File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[240,-336],"id":"7f71a035-ff23-4645-ad12-f8f5afd65c2b","name":"Default Data Loader1"},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[16,-528],"id":"3c18bcd1-4250-4585-ac67-b90e9c5682c2","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"b14eee62-ebc9-458a-9ebb-d79f1011c4d9","name":"pageContent","value":"={{ $json.data.text_content }}","type":"string"},{"id":"06a58081-c55c-43e1-b608-faef2c3e8b21","name":"metadata","value":"={   \"chunk_id\": \"{{ $json.data.chunk_id }}\",   \"document_id\": \"{{ $json.data.document_id }}\",   \"tab_index\": {{ $json.data.tab_index }},   \"section_header\": \"{{ $json.data.section_header }}\",   \"content_type\": \"{{ $json.data.content_type }}\",   \"raw_text_link\": \"{{ $json.data.raw_text_link }}\",   \"related_image_link\": \"{{ $json.data.related_image_link ? $json.data.related_image_link : '' }}\" }","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-640],"id":"21b01d00-3984-4ba9-af7f-af0e586b9da3","name":"Edit Fields"},{"parameters":{"options":{"reset":"={{$node[\"Loop Over Items\"].context[\"done\"];}}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[224,-544],"id":"e1295c06-d6c6-4ed1-9ce6-d5f5ddacb2e2","name":"Loop Over Items"},{"parameters":{"content":"# It Works properly  ✔","width":416},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-832,-224],"id":"cc92908a-2d0e-4730-940e-7129a659efaf","name":"Sticky Note1"},{"parameters":{"content":"## INPUT \n`tell me what EU Large parcel shipments are orders delivered by?`\n\n## OUTPUT\n\n```\nRecommendation for EU Large Parcel Shipments\nUnderstanding EU Large Parcel Shipments\nEU Large parcel shipments are orders delivered by:\n\nA Wayfair Carrier WDN\nThird-party Delivery Agents (DAs) which include AIT Home Delivery Logistics Experts for UK purchase orders (POs).\nThe service level for these deliveries can be:\n\n1-Man Handling\n2-Man Handling\nImportant Note: Once an item is delivered to either the Wayfair carrier or the third-party Delivery Agent, the customer will receive a call or email to schedule their delivery.\n\nSuggested Actions\nBased on the information provided, here are best practices to follow regarding EU Large parcel shipments:\n\nVerify Shipping Method: Ensure that the shipment method aligns with the customer’s order (i.e., specify if it's through Wayfair or a third-party Delivery Agent).\n\nCustomer Communication:\n\nIf needed, prepare to notify customers regarding their delivery scheduling. You may want to send a reminder email about the upcoming delivery and what they can expect in terms of the scheduling process.\nTracking Information: Make sure customers have access to their tracking information once their order has been dispatched.\n\nDocumentation and Procedures:\n\nKeep a template or canned responses ready for customer queries related to large parcel deliveries. This could include FAQs about delivery timing, handling, and scheduling.\nFinally\nIf you need specific canned responses or templates for communication with customers regarding EU Large parcel deliveries, please let me know, and I can assist you further in drafting those messages.\n```","height":784,"width":768},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-832,-32],"id":"3d8af7e9-ff66-4fda-8ee7-20cfbb602969","name":"Sticky Note2"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant to resolve a ticket using existed knowledgebase tool.\nYou will receive full data of a ticket, then you will give best practice recommendations.\nTool `SOP Retrieve` is a vector store database which deliver SOP (Standard Operating Procedure) like knowledgebase, guidelines,etc...\n**Requirements**\n1. You **MUST ALWAYS** well-understanding about ticket description, comment sections to analyze, collect information. \n2. You **MUST ALWAYS** use tool `SOP Retrieve` to find the best suggestions for the case. This includes identifying which Wizard should be run, whether an email to the customer/supplier is required, which canned response template should be used (and customized if needed), and which component/label should be added to the ticket, if applicable.\n3. You **MUST ALWAYS** return recommendations based on SOP (Standard Operating Procedure) data from tool, **NEVER** make it up.\n4. You also refer to related SOP data to suggest any related recommendations.\n5. Well-structered response with clearly sections."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[976,880],"id":"c77137e7-4c7b-4363-8716-97c4e429d65e","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[880,1248],"id":"6f3db26b-4e29-4711-a7eb-88d98de38948","name":"gemini-2.5-flash1","credentials":{"googlePalmApi":{"id":"xojEEzlYFLJmDUW3","name":"Google Gemini(PaLM) Api account vund1209"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1072,1088],"id":"52fc9137-dc97-40de-8363-6c5ad7796005","name":"Memory Buffer1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1104],"id":"5749fb96-0a11-4f31-a785-5f783f959292","name":"gpt-4o-mini1","credentials":{"openAiApi":{"id":"j7IfLkcRzoKMmB2N","name":"OpenAi account allen.nguyen"}}},{"parameters":{"content":"## LLM","height":288},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,1072],"id":"6e5aedeb-ff5f-4e06-94c0-c40e2f99358c","name":"Sticky Note3","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1280,1040],"id":"05c8a886-06da-4b48-9c14-894f5d6ae4e4","name":"Think1"},{"parameters":{"content":"## copy","height":640,"width":528,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,768],"id":"98d10388-749a-4633-861e-2c1c7cfd38c7","name":"Sticky Note4"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Work with your data in a Qdrant collection.","qdrantCollection":{"__rl":true,"value":"sop_vstore","mode":"list","cachedResultName":"sop_vstore"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[688,-208],"id":"23972a19-6d33-4de8-b5a4-4b10534b62ba","name":"SOP Retrieve2","credentials":{"qdrantApi":{"id":"al5kamDWkQkppHXv","name":"QdrantApi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"content\": \"I will tell you PO number is 234A, It will nessessary for you.\",\n\t\"image_UP\": [\"![Update Component Process](image_4.png)\", \"![Done Process](image_5.png)\"],\n    \"related_image_link_on_metadataChunk\":[\"https://drive.google.com/file/d/1jZrnTSf-17ghZRS36kjxNz6UctgPn1MU/view?usp=drivesdk\", \"https://drive.google.com/file/d/1pZfe7mI4Vgjd88o2zGIdmKitvUiPvfFc/view?usp=drivesdk\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[560,288],"id":"e2f7e32e-e59d-43ec-875f-d8517b4f74e8","name":"Structured Output Parser"}],"connections":{"Memory Buffer":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"SOP","type":"ai_embedding","index":0},{"node":"SOP Retrieve2","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"SOP":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Extract from File":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"SOP","type":"ai_document","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"SOP","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Memory Buffer1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"gpt-4o-mini1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Think1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"SOP Retrieve2":{"ai_vectorStore":[[]],"main":[[]],"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e63f3383-9e20-4316-aed7-05def9e165de","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-24T03:49:19.417Z","createdAt":"2025-09-24T03:49:19.417Z","role":"workflow:owner","workflowId":"8JpFk6xZFj7FlW49","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}