demo_-_hr,_admin,_company_information_-_meeting_(not_use_-_new_rag)-GRlCqQ1uprOlcxyt.json
{"updatedAt":"2025-04-25T11:23:35.000Z","createdAt":"2025-04-23T08:39:06.403Z","id":"GRlCqQ1uprOlcxyt","name":"Demo - HR, Admin, Company Information - Meeting (NOT USE - new RAG)","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ef4340c8-98e5-49ea-9a6c-e04e83d26bd0","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3360,1680],"id":"96f933f9-e062-4fe7-be1a-f5c67738fe8b","name":"Webhook","webhookId":"ef4340c8-98e5-49ea-9a6c-e04e83d26bd0"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-3360,1880],"id":"2aa611f0-2893-4a61-a6f9-293d9d975882","name":"When chat message received","webhookId":"398f3708-2b50-496a-98ec-b45fa69f4f00"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[300,680],"id":"bfac1518-96d8-47ed-8df3-4f682df25a62","name":"Respond to Webhook"},{"parameters":{"authentication":"headerAuth","url":"https://intranet.cennext.com/api/faq/all","options":{}},"id":"3f519004-42c9-42d8-a4da-cac875c82bd3","name":"Fetch All FAQs","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-4220,800],"credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set File ID Google').first().json.file_id }}"},{"name":"url","value":"={{ $('Set File ID Google').first().json.file_url }}"},{"name":"file_title","value":"={{ $('Set File ID Google').first().json.file_title }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-2420,1180],"id":"2c2f6e75-8c13-42c9-8752-e543b09b3dca","name":"Default Data Loader"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4380,880],"id":"80d2837f-80a7-431c-97d4-c0304573381a","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## RAG","height":960,"width":2260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4400,380],"id":"1af91a96-0055-4d56-9e5d-152b581f44c2","name":"Sticky Note"},{"parameters":{"content":"## https//intranet.cennext.com/meeting Agent","height":660,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,840],"id":"34a4434a-954c-4f6f-aee0-9a5774325ede","name":"Sticky Note1"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"hr_admin_vstore","mode":"id"},"embeddingBatchSize":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-2480,940],"id":"3601fa62-8806-47d5-aeb6-be052548d60e","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"al5kamDWkQkppHXv","name":"QdrantApi account"}}},{"parameters":{"content":"## Common Python Tools","height":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2480,2420],"id":"eea273ad-0c7e-461b-a4a5-7bba6eeded83","name":"Sticky Note2"},{"parameters":{"content":"## RAG tools (QDRANT)","height":180,"width":500},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,2660],"id":"2cc44623-11ba-4201-92ed-d9f92d7c37ab","name":"Sticky Note3"},{"parameters":{"content":"## API meeting room tools","height":420,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,1220],"id":"ea5fd373-d0ac-4f7f-97a8-4fd8aad85043","name":"Sticky Note4"},{"parameters":{"toolDescription":"This tool returns a list of all meeting rooms in json format","url":"https://intranet.cennext.com/api/meeting_rooms","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1520,1300],"id":"ae9348d1-bf4e-4811-8c0b-f3aa46e0d85c","name":"GET API meeting_rooms","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"toolDescription":"This tool returns rooms available between specified start and end times","url":"https://intranet.cennext.com/api/meeting_rooms/availability","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"start_date"},{"name":"end_date","valueProvider":"modelOptional"},{"name":"start_hour","valueProvider":"modelOptional"},{"name":"end_hour","valueProvider":"modelOptional"}]},"optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1220,1300],"id":"ec98c086-2862-48cc-9385-7e21b77a6887","name":"GET API meeting_rooms_availability","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"toolDescription":"This tool returns one-time bookings for rooms","url":"https://intranet.cennext.com/api/bookings/one-time","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"room_name"},{"name":"start_after","valueProvider":"modelOptional"},{"name":"end_before","valueProvider":"modelOptional"}]},"optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1060,1300],"id":"ef428552-ee12-46b1-a438-4caad9d67d15","name":"GET API bookings one_time","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"promptType":"define","text":"={{ $('UserInput').item.json.message }}","options":{"systemMessage":"You are a helpful bilingual HR assistant at a professional company.\n\nYou always use tool `FAQ Retriever` first to find relevant answer before any other actions.\n\n`FAQ Retriever` tool will return data of company documents, rules, FAQs ... Use this tool to answer questions about policies, salary, leave, insurance, or internal procedures.\n\nIf a relevant answer cannot be found using the tool, you may smartly use your own language model knowledge to respond — but clearly inform the user that this answer is based on general knowledge, not official company documentation. Do not return any non-sense answer.\n\nYou also have access to the user's 5 most recent chat messages via memory. If the user refers to a previous messages (e.g. “câu hỏi trước”, “as I asked before”, “trả lời lại giúp tôi”), you must:\n- Identify the relevant past question\n- Respond based on that previous query\n\nYou should also consider previous messages to find better answers of what users input.\n\nUser may asked about source of reponses, give them based on metadata retrieved from \"FAQ Retriever\" tool.\n\nIf the chat history is unavailable, empty, or unclear, kindly ask the user to rephrase or repeat their question.\n\n---\n\nIf the user's recent question is in English, ONLY use English in final response:\n1. Translate question into Vietnamese. (Don't add this content to your answer, don't use Vietnamese in response)\n2. Use the translated question with the `FAQ Retriever` tool.\n3. Translate the result back into English before replying final response. (Don't add this content to your answer, don't use Vietnamese in final response)\n4. Rewrite the final answer in a friendly, professional tone — like a real HR assistant (English only).\n\nIf the recent question is in Vietnamese:\n1. Don't do translation\n2. Use the original question directly with the FAQ Retriever tool.\n3. Rewrite the result using formal, polite, and natural Vietnamese.\n\n---\n\nAfter retrieving a result:\n- Feel free to summarize, clarify, rephrase, or reformat the content to improve readability.\n- If the user asks for a table, respond using **Markdown** table format.\n- Keep your tone concise, helpful, and professional.\n- If the `FAQ Retriever` tool is used, include all information about the appropriate reference `line` (only if source is document file), `source`, `url` base on metadata in you reponse. `url` should be hyperlink under `source` as markdown format - example: [Company Rules - 2025.docx](https://intranet.cennext.com/basic/web/index.php?r=documents%2Fview&id=8)\n\n---\n\n**Important:**\n- Do **not** describe what tools you are using — just provide the final answer.\n- Always answer as if you are a real HR assistant helping an employee.\n- If the retrieved information is unclear or incomplete, kindly suggest contacting the HR department for clarification."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1560,2300],"id":"7252c195-87fe-4bbd-bb7f-7265f95eb41f","name":"rag_agent","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $('UserInput').item.json.message }}","options":{"systemMessage":"You are a smart assistant that help users with meetings or booking meeting rooms in system. Your goal is to understand their request, extract required data, call the appropriate tool, and respond accordingly. Your response should be smart, human-language, polite. You should also let user now if no tools triggered.\n\nYou always use tool `currentTime` to fetch current time, `currentTime` returns time in UTC and you should smartly use this with other tools for queries.\n\nYou also have access to the user's 5 most recent chat messages via `chat_history`, use this information to adapt user requests, don't use error or non-sense conversations. Don't use history data as revelant in function tools API queries, always use latest values from user input. If the user refers to a previous message (e.g. “câu hỏi trước”, “as I asked before”, “trả lời lại giúp tôi” or in any other language), you must:\n- Review the `chat_history` content, always use function tools to get newest data or post newest request first.\n- Identify the relevant past question\n- Respond based on previous queries and user behavior, but don't make up information.\n\nYou can answer user based on your own LLM knowledge if you cannot handle question via any tools but let user know when you do that.\n\nFor response, you should:\n- Users may speak in English or Vietnamese. \n- If **English**, respond in UTC.\n- If **Vietnamese**, response should be converted to GMT+7.\n- If response relate to time, contain timezone and time should be easy to read by human.\n\nTry to use tool `GET API meeting_rooms` to get `room_id` information if user don't specific `room_id`.\n\nUse tool `GET API meeting_rooms_availability` to get available rooms for specific times and check for conflicts before booking.\n\nWhen a user books a meeting room via the **POST book one_time** or **POST book recurring** tools, add successed booking `id` to response. Date/time using for these POST tools must be in GMT+7. If any conflicts, include conflicted booking `id` to response. You must send a summary email to the user with the booking details. Use the **Send Mail** tool to send this email. Include the following details in the email:\n\n1. Room Name\n2. Booking Start Time\n3. Booking End Time\n4. Meeting Name\n5. Meeting Description (if available)\n6. Meeting Type\n7. Meeting ID (if recurring, multiple `id` values separated by comma)\n\n---\n\n## Tools details\n1. **currentTime**: Returns current time in UTC. This should be used before other tools and this data should be parse to other tools.\n2. **GET API meeting_rooms**: Returns a list of meeting rooms. Use this to find `room_id` from room names.\n3. **GET API meeting_rooms_availability**: Find available rooms to do meetings or booking for a given time. You should smartly use this with `currentTime` tool to get data base on current date,time.\n   - **Required**: `start_date` (YYYY-MM-DD).  \n   - **Optional**: `end_date`, `start_hour`, `end_hour` (HH:00:00 or HH:30:00, round if needed). Notify users that you make it round to 00 or 30.\n\n4. **GET API bookings one_time**: Return booked meeting for a given time. You should smartly use this with `currentTime` tool to get data base on current date,time.\n   - **Required**: `room_id` or `room_name`. Don't query both parameters at same time.  \n   - **Optional**: `start_after`, `end_before`. It's optional but you should suggest user to use it.\n   - `start_after`, `end_before` in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ` (e.g., `2025-04-18T10:00:00Z`)\n\n5. **POST book one_time**: Book one-time meeting for specific `room_id` for a given time.\n   - **Required**: `room_id` (must resolve from room name via `GET API meeting_rooms`), `start_time`, `end_time`, `name`, `type` (default `\"I\"`), `validate_only` (false).  \n   - **Optional**: `description` (can be generated from the name if available).  \n   - If the duration is >5 hours, ask for confirmation.\n   - `start_time`, `end_time` in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ` (e.g., `2025-04-18T10:00:00Z`)\n   - If user specific timezone condition (for example: UTC,GMT+7, PST...), convert their time/date to GMT+7 to use in API queries, since API system is GMT+7. If specified timezone is GMT+7, no need to convert. If no specific timezone, should ask users to give specific timezone before use tool.\n   - After booking, trigger **Send Email** to send the booking summary to the user.\n\n   Example JSON:\n   {\n     \"room_id\": 5,\n     \"start_time\": \"2025-04-20T09:00:00Z\",\n     \"end_time\": \"2025-04-20T10:00:00Z\",\n     \"name\": \"Team Sync\",\n     \"description\": \"Weekly team check-in\",\n     \"type\": \"I\",\n     \"validate_only\": false\n   }\n\n\n6. **POST book recurring**: Book recurring meeting for specific `room_id` for a given time. You should smartly use this with `currentTime` tool to get data base on current date,time.\n   - **Required**: `room_id`, `start_time`, `end_time`, `repeat_type` (daily, weekly, monthly), `repeat_until`, `name`, `type` (default `\"I\"`), `validate_only` (false).  \n   - **Optional**: `description`.  \n   - If the duration of meeting/occur is >5 hours, ask for confirmation.\n   - `start_time`, `end_time`, `repeat_until` in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ` (e.g., `2025-04-18T10:00:00Z`)\n   - If user specific timezone condition (for example: UTC,GMT+7, PST...), convert their time/date to GMT+7 to use in API queries, since API system is GMT+7. If specified timezone is GMT+7, no need to convert. If no specific timezone, should ask users to give specific timezone before use tool.\n   - After booking, trigger **Send Email** to send the booking summary to the user.\n\n   Example JSON:\n   {\n     \"room_id\": 5,\n     \"start_time\": \"2025-04-21T10:00:00Z\",\n     \"end_time\": \"2025-04-21T11:00:00Z\",\n     \"repeat_type\": \"weekly\",\n     \"repeat_until\": \"2025-06-01T00:00:00Z\",\n     \"name\": \"Weekly Sync\",\n     \"description\": \"Team planning\",\n     \"type\": \"I\",\n     \"validate_only\": false\n   }\n\n---\n\n## Time Handling\n- Smartly use time from `currentTime` tool to fetch current date/time.\n- User should specify their timezone in request.\n- If no specified timezone, **Vietnamese users** default is GMT+7 → response in GMT+7, **English users** default is UTC → response in UTC or their specified timezone.\n- Date/time using for POST tools must be converted into GMT+7 before tool usage.\n---\n\n## Key Fields Summary\n\n| Field           | Required | Format                  | Notes                               |\n|-----------------|----------|-------------------------|-------------------------------------|\n| `room_name`     | Yes      | Text                    | Resolve to `room_id`                |\n| `start_date`    | Yes      | YYYY-MM-DD              | Ask if missing                      |\n| `start_hour`    | Optional | HH:00:00 or HH:30:00     | Round if needed                     |\n| `end_hour`      | Optional | HH:00:00 or HH:30:00     | Round if needed                     |\n| `start_time`    | Yes      | ISO 8601 (`YYYY-MM-DDTHH:MM:SSZ`) | Ask if missing                      |\n| `end_time`      | Yes      | ISO 8601                | Ask if missing                      |\n| `repeat_type`   | Yes (recurring) | `daily`, `weekly`, `monthly` | Ask if missing                      |\n| `repeat_until`  | Yes (recurring) | ISO 8601              | Ask if missing                      |\n| `name`          | Yes      | Text                    | Ask if missing                      |\n| `type`          | Yes      | `\"I\"` (default)         | Always required                     |\n| `description`   | Optional | Text                    | Can be generated from `name`        |\n| `validate_only` | Yes      | Always `false`           | Do not change                       |"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1560,900],"id":"ff5020d0-3f1c-4bb9-87e5-dc5d31f2a861","name":"meeting_agent","alwaysOutputData":false},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1300,2520],"id":"ff081b5c-9534-4b7b-97ae-0fb53b016b75","name":"Simple Memory1"},{"parameters":{"content":"## RAG Agent","height":600,"width":500,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,2240],"id":"f5154852-5a67-4902-ab6e-a73c73f72469","name":"Sticky Note5"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1300,1980],"id":"ac9e65b1-dda3-4bd9-ad68-5e3f7cbe19b0","name":"Simple Memory3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1160,1100],"id":"c3d078e0-3878-4e66-bbf4-d77120139d63","name":"Simple Memory"},{"parameters":{"language":"python","pythonCode":"# Access Webhook data if it exists (from first item in input)\nmessage_from_webhook = _input.item.json.get(\"body\", {}).get(\"message\", None)\nsessionId_from_webhook = _input.item.json.get(\"body\", {}).get(\"sessionId\", None)\nusername_from_webhook = _input.item.json.get(\"body\", {}).get(\"username\", None)\nemail_from_webhook = _input.item.json.get(\"body\", {}).get(\"email\", None)\ngmail_from_webhook = _input.item.json.get(\"body\", {}).get(\"gmail\", None)\n\n# Fallback to chat trigger message if Webhook data is not available\nmessage_from_chat = _input.item.json.get(\"chatInput\", None)\nsessionId_from_chat = _input.item.json.get(\"sessionId\", None)\nusername_from_chat = _input.item.json.get(\"username\", \"n8n chat system\")\nemail_from_webhook = _input.item.json.get(\"email\", \"it-internal@cennos.com\")\ngmail_from_webhook = _input.item.json.get(\"gmail\", \"vund1209@gmail.com\")\n\n# Determine which message to use (Webhook or Chat Trigger)\nmessage_to_use = message_from_webhook if message_from_webhook else message_from_chat\nsessionId_to_use = sessionId_from_webhook if sessionId_from_webhook else sessionId_from_chat\nusername_to_use = username_from_webhook if username_from_webhook else username_from_chat\nemail_to_use = email_from_webhook if email_from_webhook else email_from_chat\ngmail_to_use = gmail_from_webhook if gmail_from_webhook else gmail_from_chat\n# Return the message to be used further\nreturn {\n    \"json\": {\n        \"message\": message_to_use,\n        \"sessionId\": sessionId_to_use,\n        \"username\": username_to_use,\n        \"email\": email_to_use,\n        \"gmail\": gmail_to_use\n    }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3140,1780],"id":"54964fd4-4a58-4460-afa0-eec4346abf04","name":"UserInput"},{"parameters":{"name":"get_current_time","description":"Fetch the current time (UTC) when user asking question relate to date, time.","language":"python","pythonCode":"from datetime import datetime\nimport pytz\n\nutc_tz = pytz.utc\nutc_time = datetime.now(utc_tz)\n\n# Format as 'YYYY-MM-DDTHH:MM:SSZ'\nformatted_time = utc_time.strftime('%Y-%m-%dT%H:%M:%SZ')\nreturn formatted_time\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-2400,2500],"id":"bb1ac460-a947-4d62-910f-bfe34369f5e8","name":"currentTime"},{"parameters":{"mode":"retrieve-as-tool","toolName":"admin_hr_vector","toolDescription":"Use RAG to look up information of the company HR FAQ and Rules. Use it when the user asks about salary, leave, insurance, or company policy.","qdrantCollection":{"__rl":true,"value":"hr_admin_vstore","mode":"id"},"topK":5,"options":{"searchFilterJson":"{\n  \"should\": [\n    {\n      \"key\": \"metadata.batch\",\n      \"match\": {\n        \"value\": 12345\n      }\n    }\n  ]\n}"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-1580,2720],"id":"4966ae6c-f579-4b87-af32-67f6b032a798","name":"FAQ Retriever","credentials":{"qdrantApi":{"id":"al5kamDWkQkppHXv","name":"QdrantApi account"}}},{"parameters":{"language":"python","pythonCode":"# Loop through all items in _('UserInput').all() to get message, sessionId, username\nfor user_item in _('UserInput').all():\n    message = user_item.json.get(\"message\", None)\n    sessionId = user_item.json.get(\"sessionId\", None)\n    username = user_item.json.get(\"username\", None)\n    \n    # Find the corresponding item in _input.all() to get the assigned_agent\n    for input_item in _input.all():\n        assigned_agent = input_item.json.get(\"output\", \"\").strip()  # Clean the output and get assigned_agent\n        input_item.json[\"assigned_agent\"] = assigned_agent  # Assign cleaned value to 'assigned_agent'\n        del input_item.json[\"output\"]  # Remove 'output' if you don't need it\n\n    # Combine the data from both sources into the user_item\n    user_item.json[\"assigned_agent\"] = assigned_agent  # Add the assigned_agent to the user_item\n    user_item.json[\"message\"] = message\n    user_item.json[\"sessionId\"] = sessionId\n    user_item.json[\"username\"] = username\n\n# Return the modified input data with combined information\nreturn _('UserInput').all()\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2540,1780],"id":"0801b418-73cd-48ae-995d-573739cf5f6c","name":"userInput_assignedAgent"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"You are a routing assistant. Your job is to classify the user's input and determine which agent should handle the task. Based on the input message, assign it to one of the following agents:\n\n- `meeting_agent`: For anything related to meetings, meeting rooms, room bookings, availability checking, etc.\n- `rag_agent`: For anything related to company FAQ, company's rules\n- If the input doesn't belong to either category, return `other` to indicate that the message cannot be processed by these agents.\n\nYour response should only be the name of the assigned agent (`meeting_agent`, `rag_agent`, or `other`). Respond with only one word: meeting_agent, rag_agent, or other. Do not add any punctuation, newline, or extra space.\n\nExample user input: \"Can you check the availability of the meeting rooms for tomorrow?\"\nExpected output: `meeting_agent`\n\nExample user input: \"Search for the latest report on sales performance.\"\nExpected output: `rag_agent`\n\nExample user input: \"I need some help.\"\nExpected output: `other`\n\nYou can also use tool `Retrieve Chat History` to retrieve lastest chat history with users.\n\nIf current user input relate to chat history topic, return them to previous agent"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-2920,1780],"id":"4cee072a-ace7-47da-8c7d-443d11fb95f6","name":"Router Agent"},{"parameters":{"content":"## Router Agent","height":580,"width":1220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3400,1580],"id":"60daadb4-82a3-490d-a0ff-da86fd9f28fb","name":"Sticky Note6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.assigned_agent }}","rightValue":"meeting_agent","operator":{"type":"string","operation":"equals"},"id":"fe80e5e6-12a5-44b1-bf72-5fe16b3125bd"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ee593fc-8073-4f34-a899-a92f02e24d3e","leftValue":"={{ $json.assigned_agent }}","rightValue":"rag_agent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2320,1780],"id":"c6e9737e-1a6a-498c-8e19-d6f07bd51a50","name":"Switch Agents"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2980,2000],"id":"c5c9e98c-29c1-4505-9ec7-fda7f2bc1276","name":"Router Agent Gemini","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"={{ $('UserInput').item.json.message }}","options":{"systemMessage":"You are a helpful assistant. You are in charge of failback route which user ask questions marked as `other`.\n- You can answer user based on your own LLM knowledge but let user know that.\nYou also have access to the user's 5 most recent chat messages via chat_history. If the user refers to a previous message (e.g. “câu hỏi trước”, “as I asked before”, “trả lời lại giúp tôi”), you must:\n- Review the chat_history array\n- Identify the relevant past question\n- Respond based on previous queries\n- Skip chat_history where AI return exactly one of these value: `meeting_agent`, `rag_agent`, `other` since these are non-sense data for users.\n\nYou never make up answers about company that users are working for, you should guide them to ask departments in charging of that matter.\nAlways answer in short, formal, well-structured and clean sentences.\n\nIf users asked question about previous requests, questions and you cannot have information, ask them specify detail about which AI Agent reponsed so they can get reach to suitable AI Agent (meeting, faq, ...)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1560,1800],"id":"79d13d73-227a-478b-bf82-3e2719f239a7","name":"Self Help Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1440,1080],"id":"ae4df08d-544e-4b0a-9d0f-b301e7459052","name":"Meeting Model (Gemini)","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1440,2520],"id":"0e63f11b-9eb9-4b38-9345-cda15376a65c","name":"RAG Model (Gemini)","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1220,2700],"id":"fbf3cd8f-59da-43a2-9332-9e92350eb7d7","name":"Embeddings Model (OpenAI)","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2640,1180],"id":"3b559f12-dd27-44a4-999d-c7ade031ef85","name":"RAG Model (OpenAI)","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}}},{"parameters":{"content":"## FAILBACK Route","height":380,"width":500,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,1740],"id":"86b176a0-95fd-4830-87c3-cf13a03cb0e0","name":"Sticky Note7"},{"parameters":{"content":"## Memory","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,1020],"id":"ae9cf29d-1d60-46de-a656-65124321e544","name":"Sticky Note8"},{"parameters":{"content":"## Memory","height":200,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1340,1920],"id":"be60aef8-8dcd-498b-9db7-5e8b0bb5b945","name":"Sticky Note9"},{"parameters":{"content":"## Memory","height":220,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1320,2440],"id":"b5ab62e3-ec7b-4024-8fa8-8b1df8be1a86","name":"Sticky Note10"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1440,1980],"id":"e5258c71-b020-4360-81ab-47692c927923","name":"Selfhelp Model (Gemini)","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1180,1980],"id":"3983b003-f35b-49bd-9f26-d30e63ed7664","name":"Chat Memory (Postgres)","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1040,1100],"id":"d15e6fff-5999-43c4-9779-a2ac7e2a0276","name":"Chat Memory (Postgres)1","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1180,2520],"id":"b5f8b457-5452-416a-a9d7-2575177f6e95","name":"Chat Memory (Postgres)2","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"fromEmail":"=AI System <ai_agent@cennos.com>","toEmail":"={{ $('userInput_assignedAgent').item.json.email }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","html":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('HTML', `- Generate professional email with clean, easy to read, well-structured content.\n- Seperate content into lines, paragraphs\n-Always include full date,time.`, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSendTool","typeVersion":2.1,"position":[-1520,1480],"id":"11301ea4-1b76-4f1b-81c1-731f3df2b81e","name":"Send Email","webhookId":"bf564daa-ae3a-43f2-b5ac-8792dde06d96","credentials":{"smtp":{"id":"cEoNVA9lQ1I8l08j","name":"SMTP account"}}},{"parameters":{"toolDescription":"This tool will book recurring meeting room using internal booking system","method":"POST","url":"https://intranet.cennext.com/api/bookings/recurring","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"room_id\": {room_id},\n  \"start_time\": {start_time},\n  \"end_time\": {end_time},\n  \"repeat_type\": {repeat_type},\n  \"repeat_until\": {repeat_until},\n  \"name\": {name},\n  \"description\": {description},\n  \"type\": {type},\n  \"validate_only\": {validate_only}\n}","placeholderDefinitions":{"values":[{"name":"room_id","description":"room_id is id of meeting room","type":"number"},{"name":"start_time","description":"start time of meeting","type":"string"},{"name":"end_time","description":"end time of meeting","type":"string"},{"name":"name","description":"name of meeting, can be auto generated from AI base on user input","type":"string"},{"name":"description","description":"description of meeting, can be auto generated from AI base on user input","type":"string"},{"name":"type","description":"type of meeting, internal (I) or external (E)","type":"string"},{"name":"validate_only","description":"validate_only data","type":"boolean"},{"name":"repeat_type","description":"repeat type of meeting `daily`, `weekly`, `monthly`","type":"string"},{"name":"repeat_until","description":"recurring meeting should be last till this value","type":"string"}]},"optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1380,1480],"id":"5df1b241-9d1a-4339-9e31-e0242b8a6d2a","name":"POST book recurring","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"toolDescription":"This tool will book one-time meeting room using internal booking system","method":"POST","url":"https://intranet.cennext.com/api/bookings/one-time","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"room_id\": {room_id},\n  \"start_time\": {start_time},\n  \"end_time\": {end_time},\n  \"name\": {name},\n  \"description\": {description},\n  \"type\": {type},\n  \"validate_only\": {validate_only}\n}","placeholderDefinitions":{"values":[{"name":"room_id","description":"room_id is id of meeting room"},{"name":"start_time","description":"start time of meeting","type":"string"},{"name":"end_time","description":"end time of meeting","type":"string"},{"name":"name","description":"name of meeting","type":"string"},{"name":"description","description":"description of meeting","type":"string"},{"name":"type","description":"type of meeting, internal (I) or external (E)","type":"string"},{"name":"validate_only","description":"validate_only data","type":"boolean"}]},"optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1380,1300],"id":"b676d8b5-df46-4de0-afdf-97fd90f38120","name":"POST book one_time","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1540,1980],"id":"b4852c34-c0f6-43b8-8ef9-229dcd4dd829","name":"Selfhelp Model (OpenAI)","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1540,2520],"id":"5e110ca3-10ce-4758-b301-368d24dd720a","name":"RAG Model (OpenAI)1","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1540,1080],"id":"e2741e19-7f9d-4cdc-bfc9-e817f0c58671","name":"Meeting Model (OpenAI)","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('UserInput').item.json.username }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2840,2000],"id":"0c83eeb2-aa31-4758-aece-efbbe1d9516d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"limit":5,"where":{"values":[{"column":"session_id","condition":"LIKE","value":"={{ $json.username }}"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2720,2000],"id":"0632b075-df5d-4976-ae45-6ddd3e7cdb8a","name":"Retrieve Chat History","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4140,520],"id":"fdab3514-63b7-45cd-a2a9-e404b22b74d5","name":"Create Document Metadata Table","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3920,520],"id":"b0c1c23e-7d4a-471e-9a36-4ef519f793fc","name":"Create Document Rows Table (for Tabular Data)","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4340,520],"id":"28ed1206-08bb-45e1-8104-e174f199b613","name":"Create Documents Table and Match Function","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"content":"## Run Each Node Once to Set Up Database Tables","height":300,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-4400,420],"typeVersion":1,"id":"d3d986fc-57d8-4916-b6ec-a537673ce63a","name":"Sticky Note11"},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"=faq id - {{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"=Intranet FAQ - {{ $json.category_code }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.category_code }} - {{ $json.question }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"=https://intranet.cennext.com/basic/web/index.php?r=faq%252Findex&category={{ $json.category_code }}#{{ $json.id }}","type":"string"}]},"options":{}},"id":"c5e77715-081f-49ff-82b0-229c4507c467","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3740,800]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3900,800],"id":"d6ef25cd-4953-40b4-8491-420357de9b71","name":"Loop Over Items"},{"parameters":{"jsCode":"// Access the incoming data (API response)\nconst items = $json[\"data\"];\n\n// Iterate through each item in the 'data' array and return each item as a new workflow item\nreturn items.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4060,800],"id":"1866f32b-84c0-48cd-9254-7574777ba3fe","name":"Turn into array"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-2520,1180],"id":"f69efe82-5a35-4ce1-b673-433bc2be7b74","name":"Character Text Splitter"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID Google').item.json.file_id }}","title":"={{ $('Set File ID Google').item.json.file_title }}","url":"={{ $('Set File ID Google').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3580,1140],"id":"41e2f9d2-1665-4305-a2a6-38d20488da3c","name":"Insert Document Metadata","executeOnce":true,"credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"operation":"pdf","binaryPropertyName":"=data","options":{"keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3180,720],"id":"4279774e-7464-4984-ab5d-3fca4092ae3a","name":"Extract PDF Text","alwaysOutputData":false,"executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"731a83c0-5873-4844-821b-080ccf3ae42e","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"9ff2f120-48d8-4e2b-979b-696d112a65ee","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"ce4fc9e9-33cc-4610-9afa-2bd5ab2ea973","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"26612612-6e63-4920-87db-7508424c7079","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3900,960],"id":"8af58332-2e2b-4700-aedf-dcb293800a8e","name":"Set File ID Google"},{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"18i4BLsJVhth1G7NX1_Uexr_uwG-xt6bq","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/18i4BLsJVhth1G7NX1_Uexr_uwG-xt6bq"}},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4220,960],"id":"de6de614-9643-4814-b386-9af928b8a10e","name":"IT Publics_Documents_RAG","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4060,960],"id":"81fdbf78-b7db-46a6-b63d-5a62f6e9ae22","name":"Loop Over Items1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"ac36e2df-0a6e-4fa5-bc9d-ad55c8b4d0d6","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3080,860]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"62474699-657b-4b9d-b5c1-23e3e44aee6c","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-2880,940]},{"parameters":{"operation":"xlsx","options":{}},"id":"c5a60954-ac10-444e-89ac-54a78e4a0e80","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3300,860]},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3300,1040],"id":"8d2c93b0-c6a8-42cf-bcab-8d67e838d619","name":"Extract from CSV"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows","mode":"list","cachedResultName":"document_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID Google').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3080,1040],"id":"4312d682-aae3-4e6d-9ceb-218cf78ece4a","name":"Insert Table Rows","credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"operation":"text","options":{}},"id":"07d3a36c-9aac-43b3-aab5-c59b29a73599","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3180,1180],"alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID Google').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"b29b07d6-f286-4b5b-abcf-400743e4236a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID Google').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID Google').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID Google').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"62d0b0c2-9fe0-487e-8075-9116f0b2d2a1","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3580,940]},{"parameters":{"authentication":"serviceAccount","operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID Google').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3740,960],"id":"b87c77c9-b30f-4fa2-9ff9-bf3dea01c2c2","name":"Google Drive Download File","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2660,720],"id":"e9f6c0ce-089e-40e8-bfac-04d6e9d405b0","name":"Set Schema"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID Google').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2420,720],"id":"c5d86747-0b9a-4624-8bf5-b0899e214238","name":"Update Schema for Document Metadata","credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"method":"POST","url":"http://localhost:6333/collections/hr_admin_vstore/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.file_id\",\n        \"match\": {\n          \"value\": \"{{ $json.file_id }}\"\n        }\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4020,1180],"id":"533e6261-f2ee-4fda-8e18-58855701c20a","name":"Delete Old Doc Rows","credentials":{"httpHeaderAuth":{"id":"Su50S1k8jMWKHQEJ","name":"Qdrant key"}}},{"parameters":{"method":"POST","url":"http://localhost:6333/collections/hr_admin_vstore/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"file_id\",\n        \"match\": {\n          \"value\": \"{{ $('Set File ID Google').item.json.file_id }}\"\n        }\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3780,1180],"id":"e231a7b1-7543-4287-8c9a-b5d62776f077","name":"Delete Old Data Rows","credentials":{"httpHeaderAuth":{"id":"Su50S1k8jMWKHQEJ","name":"Qdrant key"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Loop Over Items').item.json.question }} {{ $('Loop Over Items').item.json.answer }}","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"url","value":"={{ $('Set File ID').first().json.file_url }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-2420,580],"id":"4b309a54-48da-4c9e-820d-5a688bb7ea82","name":"Default Data Loader1"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"hr_admin_vstore","mode":"id"},"embeddingBatchSize":500,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-2540,420],"id":"ba74cbb7-6e5c-4722-9cb9-93cebc4b3514","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"al5kamDWkQkppHXv","name":"QdrantApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2640,580],"id":"d392e897-a7bc-40ec-a4a1-779c97e0c0e1","name":"RAG Model (OpenAI)2","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-2520,580],"id":"0ec22a18-eeee-4f6b-9657-975ab86b77f8","name":"Character Text Splitter1"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3080,420],"id":"bc268aa0-75b1-418b-84b8-b7b38812dac1","name":"Insert Document Metadata1","executeOnce":true,"credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"method":"POST","url":"http://localhost:6333/collections/hr_admin_vstore/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.file_id\",\n        \"match\": {\n          \"value\": \"{{ $json.file_id }}\"\n        }\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3520,420],"id":"88f186cf-20e5-48f6-aeea-177726dc5d3f","name":"Delete Old Doc Rows1","credentials":{"httpHeaderAuth":{"id":"Su50S1k8jMWKHQEJ","name":"Qdrant key"}}},{"parameters":{"method":"POST","url":"http://localhost:6333/collections/hr_admin_vstore/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"file_id\",\n        \"match\": {\n          \"value\": \"{{ $('Set File ID').item.json.file_id }}\"\n        }\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3280,420],"id":"3e789692-934e-4de3-94c5-6884ff2b144d","name":"Delete Old Data Rows1","credentials":{"httpHeaderAuth":{"id":"Su50S1k8jMWKHQEJ","name":"Qdrant key"}}}],"connections":{"Webhook":{"main":[[{"node":"UserInput","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"UserInput","type":"main","index":0}]]},"Fetch All FAQs":{"main":[[{"node":"Turn into array","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"IT Publics_Documents_RAG","type":"main","index":0}]]},"GET API meeting_rooms":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"GET API meeting_rooms_availability":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"GET API bookings one_time":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"meeting_agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[]]},"rag_agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory3":{"ai_memory":[[]]},"Simple Memory":{"ai_memory":[[]]},"UserInput":{"main":[[{"node":"Router Agent","type":"main","index":0}]]},"currentTime":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0},{"node":"rag_agent","type":"ai_tool","index":0},{"node":"Self Help Agent","type":"ai_tool","index":0}]]},"FAQ Retriever":{"ai_tool":[[{"node":"rag_agent","type":"ai_tool","index":0}]]},"userInput_assignedAgent":{"main":[[{"node":"Switch Agents","type":"main","index":0}]]},"Router Agent":{"main":[[{"node":"userInput_assignedAgent","type":"main","index":0}]]},"Switch Agents":{"main":[[{"node":"meeting_agent","type":"main","index":0}],[{"node":"rag_agent","type":"main","index":0}],[{"node":"Self Help Agent","type":"main","index":0}]]},"Router Agent Gemini":{"ai_languageModel":[[{"node":"Router Agent","type":"ai_languageModel","index":0}]]},"Self Help Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Meeting Model (Gemini)":{"ai_languageModel":[[{"node":"meeting_agent","type":"ai_languageModel","index":0}]]},"RAG Model (Gemini)":{"ai_languageModel":[[{"node":"rag_agent","type":"ai_languageModel","index":0}]]},"Embeddings Model (OpenAI)":{"ai_embedding":[[{"node":"FAQ Retriever","type":"ai_embedding","index":0}]]},"RAG Model (OpenAI)":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Selfhelp Model (Gemini)":{"ai_languageModel":[[{"node":"Self Help Agent","type":"ai_languageModel","index":0}]]},"Chat Memory (Postgres)":{"ai_memory":[[{"node":"Self Help Agent","type":"ai_memory","index":0}]]},"Chat Memory (Postgres)1":{"ai_memory":[[{"node":"meeting_agent","type":"ai_memory","index":0}]]},"Chat Memory (Postgres)2":{"ai_memory":[[{"node":"rag_agent","type":"ai_memory","index":0}]]},"Send Email":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"POST book recurring":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"POST book one_time":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"Selfhelp Model (OpenAI)":{"ai_languageModel":[[]]},"RAG Model (OpenAI)1":{"ai_languageModel":[[]]},"Meeting Model (OpenAI)":{"ai_languageModel":[[]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Router Agent","type":"ai_memory","index":0}]]},"Respond to Webhook":{"main":[[]]},"Retrieve Chat History":{"ai_tool":[[{"node":"Router Agent","type":"ai_tool","index":0}]]},"Create Document Metadata Table":{"main":[[{"node":"Create Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"Create Documents Table and Match Function":{"main":[[{"node":"Create Document Metadata Table","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows1","type":"main","index":0}]]},"Turn into array":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Set File ID Google":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"IT Publics_Documents_RAG":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Set File ID Google","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0},{"node":"Set Schema","type":"main","index":0}]]},"Google Drive Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Google Drive Download File","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Qdrant Vector Store1","type":"ai_document","index":0}]]},"RAG Model (OpenAI)2":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Qdrant Vector Store1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Delete Old Doc Rows1":{"main":[[{"node":"Delete Old Data Rows1","type":"main","index":0}]]},"Delete Old Data Rows1":{"main":[[{"node":"Insert Document Metadata1","type":"main","index":0}]]},"Insert Document Metadata1":{"main":[[{"node":"Qdrant Vector Store1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f0b8e11-67c2-4d3b-832d-9f1ea585196e","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-04-23T08:39:06.406Z","createdAt":"2025-04-23T08:39:06.406Z","role":"workflow:owner","workflowId":"GRlCqQ1uprOlcxyt","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}