demo_-_hr,_admin,_company_information_-_meeting_copy_2_-_sao_ho-P6pHTxYGxagVxGLc.json
{"updatedAt":"2025-04-21T08:21:46.221Z","createdAt":"2025-04-21T08:21:46.221Z","id":"P6pHTxYGxagVxGLc","name":"Demo - HR, Admin, Company Information - Meeting copy 2 - Sao Ho","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"6e8bbab1-576b-4f91-9b1e-bd4716f75128","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2440,600],"id":"60df42d4-73d0-490f-bb25-a3ce31e91f07","name":"Webhook","webhookId":"6e8bbab1-576b-4f91-9b1e-bd4716f75128"},{"parameters":{"options":{},"path":"5ba55a9b-432d-43e9-8ac5-934bbd6b91de"},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2440,800],"id":"a808a08a-465c-46c8-94ff-61bb7b867a24","name":"When chat message received","webhookId":"5ba55a9b-432d-43e9-8ac5-934bbd6b91de"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-264,700],"id":"131c0946-4c26-45cb-a899-00d64ee45b69","name":"Respond to Webhook"},{"parameters":{"url":"https://intranet.cennext.com/api/faq/all","options":{}},"id":"839725a9-c186-4ea6-868c-df44956e385b","name":"Fetch All FAQs","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-2000,1760]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1560,2080],"id":"fa9665a0-7551-4133-a863-8e324626a7a7","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"source","value":"={{ $json.source }}"},{"name":"url","value":"={{ $json.url }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-1440,2082.5],"id":"b4b23c1b-cf11-4d9b-a206-37f763f785fa","name":"Default Data Loader"},{"parameters":{"chunkSize":500,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-1352,2280],"id":"9940bb57-5438-4414-b71c-59f953558980","name":"Recursive Character Text Splitter"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2440,1860],"id":"e126d543-328b-4a3d-9b84-fcf333d1c71c","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Embed FAQ","height":640,"width":1420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2572,1760],"id":"51529ff7-e87c-4292-81f1-cea3fc18e362","name":"Sticky Note"},{"parameters":{"content":"## https//intranet.cennext.com/meeting Agent","height":820,"width":1820,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1754,-260],"id":"e66ffc91-3fe0-4424-bd96-d25215885684","name":"Sticky Note1"},{"parameters":{"operation":"pdf","binaryPropertyName":"=data","options":{"keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-2000,1960],"id":"09e44f33-9ad3-41d2-b294-0ed4f17ddee3","name":"Extract from File","alwaysOutputData":false,"executeOnce":false},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://drive.google.com/file/d/12BD0xhn5NKbcmbPz_ul_lDVb8fXq7tZs","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2220,1960],"id":"0b7984e0-3638-4bbc-a13b-99ee69f9b11c","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"5aBlQx6C9SVhzh6m","name":"Google Drive account"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"hr_admin_vstore","mode":"id"},"embeddingBatchSize":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-1544,1860],"id":"41b4d19f-372a-4a92-b690-57ed424f6a8e","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"al5kamDWkQkppHXv","name":"QdrantApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-704,1620],"id":"5da83471-ad5b-4224-a2ce-83ddf055bfbf","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}}},{"parameters":{"content":"## Python tools","height":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-544,360],"id":"0cfba2dd-8577-407d-8dce-6456c879c480","name":"Sticky Note2"},{"parameters":{"content":"## RAG tools","height":200,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-854,1560],"id":"b5d1e699-11b8-4bb0-9ac4-8817ef23aa4f","name":"Sticky Note3"},{"parameters":{"content":"## API meeting room tools","height":440,"width":440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-944,120],"id":"1356e0e3-a9da-4412-b870-042af1554345","name":"Sticky Note4"},{"parameters":{"toolDescription":"This tool returns a list of all meeting rooms in json format","url":"https://intranet.cennext.com/api/meeting_rooms","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-944,420],"id":"89428c61-e0d4-4cc6-94b7-b8b8f84efaaf","name":"GET API meeting_rooms","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"toolDescription":"This tool returns a list of all meeting rooms in json format","url":"https://intranet.cennext.com/api/meeting_rooms","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-824,420],"id":"47a1894c-d4f7-4008-9046-ff5ee6c64133","name":"GET API meeting_rooms3","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}},"disabled":true},{"parameters":{"toolDescription":"This tool returns rooms available between specified start and end times","url":"https://intranet.cennext.com/api/meeting_rooms","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"start_date"},{"name":"end_date","valueProvider":"modelOptional"},{"name":"start_hour","valueProvider":"modelOptional"},{"name":"end_hour","valueProvider":"modelOptional"}]},"optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-704,420],"id":"4339569e-1946-4078-a8a0-94e7c1b5ad44","name":"GET API meeting_rooms_availability","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"toolDescription":"This tool returns one-time bookings for rooms","url":"https://intranet.cennext.com/api/bookings/one-time","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"room_name"},{"name":"start_after","valueProvider":"modelOptional"},{"name":"end_before","valueProvider":"modelOptional"}]},"optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-584,420],"id":"d9438f7f-5a96-40e5-8d87-48610d2b0b2c","name":"GET API bookings one_time","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"promptType":"define","text":"={{ $('UserInput').item.json.message }}","options":{"systemMessage":"You are a helpful bilingual HR assistant at a professional company.\n\nYou have access to a tool called \"FAQ Retriever\" that searches company HR documents and FAQs. Use this tool to answer questions about policies, salary, leave, insurance, or internal procedures. You always use \"FAQ Retriever\" tool first to find relevant answer before any other actions.\n\nIf a relevant answer cannot be found using the tool, you may use your own language model knowledge to respond — but clearly inform the user that this answer is based on general knowledge, not official company documentation.\n\nYou also have access to the user's 5 most recent chat messages via a variable called chat_history. If the user refers to a previous message (e.g. “câu hỏi trước”, “as I asked before”, “trả lời lại giúp tôi”), you must:\n- Review the chat_history array\n- Identify the relevant past question\n- Respond based on that previous query\n\nIf the chat history is unavailable, empty, or unclear, kindly ask the user to rephrase or repeat their question.\n\n---\n\nIf the user's question is in English:\n1. Translate it into Vietnamese. (Don't add this content to your answer)\n2. Use the translated question with the FAQ Retriever tool.\n3. Translate the tool's result back to English before replying. (Don't add this content to your answer)\n4. Rewrite the final answer in a friendly, professional tone — like a real HR assistant.\n\nIf the question is in Vietnamese:\n1. Don't do translation\n2. Use the original question directly with the FAQ Retriever tool.\n3. Rewrite the result using formal, polite, and natural Vietnamese.\n\n---\n\nAfter retrieving a result:\n- Feel free to summarize, clarify, rephrase, or reformat the content to improve readability.\n- If the user asks for a table, respond using **Markdown** table format.\n- Keep your tone concise, helpful, and professional.\n- If the `FAQ Retriever` tool is used, include the appropriate reference line, source, url base on metadata you have and language of user:\n\nExample\n    ▸ **English**:  \n    _You can refer to the internal FAQ page for more details: [source](url)_\n\n    ▸ **Vietnamese**:  \n    _Bạn có thể tham khảo thêm tại trang Intranet: [source](url)_\n\n---\n\n**Important:**\n- Do **not** describe what tools you are using — just provide the final answer.\n- Always answer as if you are a real HR assistant helping an employee.\n- If the retrieved information is unclear or incomplete, kindly suggest contacting the HR department for clarification."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1000,1200],"id":"a10d3576-d0b2-4bde-a37f-c3b534ca8f16","name":"rag_agent","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $('UserInput').item.json.message }}","options":{"systemMessage":"You are a smart assistant tasked with interacting with an API to retrieve meeting room information. Your job is to process user input and use available tool to return smart answer. Note that users will ask you questions in current time, so find current time using tool `currentTime` for real time date, `currentTime` returns time in UTC. \n\n\n\nThese tools always give results relating to date, time in UTC, the available tools are:\n1. `GET API meeting_rooms` – Returns a list of all meeting rooms.\n2. `GET API meeting_rooms_availability` – Returns rooms available between specified start and end date with specific start hour and end_hour (`start_date` is required while `end_date`, `start_hour` and `end_hour` are optional).\n3. `GET API bookings one-time` - Returns one-time bookings for specific room\n\n- For tool **GET API meeting_rooms_availability**: You need to parse `start_date` and `end_date` parameters to tool in the YYYY-MM-DD format (e.g., 2025-04-18) and `start_hour` and `end_hour` parameters to tool in the HH-MM-SS format (e.g., 16:00:00).\nYou will need to retrieve `start_date` from user input and it is required (this should be date only, no hours), if no `start_date`, ask user to give you again.\n`end_date`, `start_hour` and `end_hour` are optional so you will handle it if user gave you information, if user don't specific this don't automatically assign value for it. If there are `start_hour` and `end_hour` data, they should be automatically set to HH:00:SS or HH:30:SS since MM can only be 00 or 30. If user gave MM in different concept eg 13, 37 ... Please notify them that you make it round to 00 or 30.\n\n- For tool **GET API meeting_rooms_availability**: You need to parse `room_name` or `room_id` parameters to tool. You will need to retrieve `room_name` or `room_id` from user input and it is required. Parameters `start_after` (the timestamp to list any bookings after this time), `end_before` (the timestamp to list any bookings before this time) are optional so you will handle it if user gave you information, if user don't specific this don't automatically assign value for it. If there are `start_after` and `end_before` data, you need to parse it in the **ISO 8601 format**: `YYYY-MM-DDTHH:MM:SSZ` (e.g., `2025-04-18T10:00:00Z`)\n\nYou should use `GET API meeting_rooms` tool to have the list of meeting rooms name to find out if users question about it. For example, user ask `Do The Den having any meeting?`, The Den is name of meeting room\n\nRemember your tool return you datetime in UTC\n - If user ask you in Vietnamese, you should answer in GMT+7\n - If user ask you in English, you should answer in UTC"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-912,200],"id":"2c2822db-9e7e-4424-890b-0d90ff08d721","name":"meeting_agent","alwaysOutputData":false},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-912,1420],"id":"0e87cff2-7e95-412d-9c8b-9a8102998f33","name":"Simple Memory1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1032,1420],"id":"5e80f54d-6ef2-440e-91f0-622d882b059b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1184,420],"id":"9f793fd5-b09d-42f1-81db-378a7e880e5d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"content":"## RAG Agent","height":840,"width":1820,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1694,920],"id":"d3457237-229e-4caf-ae7a-0f9f041fad41","name":"Sticky Note5"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2080,900],"id":"c588d462-70bd-4d50-be4c-990a6eb1ca3e","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.assigned_agent }}","rightValue":"meeting_agent","operator":{"type":"string","operation":"equals"},"id":"fe80e5e6-12a5-44b1-bf72-5fe16b3125bd"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ee593fc-8073-4f34-a899-a92f02e24d3e","leftValue":"={{ $json.assigned_agent }}","rightValue":"rag_agent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1404,700],"id":"a9a1c251-8c6b-4cb6-9165-63936166a55a","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $('UserInput').item.json.message }}","options":{"systemMessage":"You are a helpful assistant. You are in charge of failback route which user ask questions marked as `other`.\n- You can answer user based on your own LLM knowledge but let user know that.\nYou also have access to the user's 5 most recent chat messages via a variable called chat_history. If the user refers to a previous message (e.g. “câu hỏi trước”, “as I asked before”, “trả lời lại giúp tôi”), you must:\n- Review the chat_history array\n- Identify the relevant past question\n- Respond based on that previous query\n- Skip chat_history where AI return exactly one of these value: `meeting_agent`, `rag_agent`, `other` since these are non-sense data for users.\n\nYou never make up answers about company that users are working for, you should guide them to ask departments in charging of that matter.\nAlways answer in short, formal, well-structured and clean sentences"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-940,620],"id":"61a096bc-a22e-403c-9073-ecbcfab5f9bc","name":"self help"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-760,820],"id":"7bdd903f-a34a-4ccb-908e-e68b6f09502a","name":"Simple Memory3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1064,420],"id":"088a5caa-af6c-4a0b-834a-15d865b4765b","name":"Simple Memory"},{"parameters":{"language":"python","pythonCode":"# Access Webhook data if it exists (from first item in input)\nmessage_from_webhook = _input.item.json.get(\"body\", {}).get(\"message\", None)\nsessionId_from_webhook = _input.item.json.get(\"body\", {}).get(\"sessionId\", None)\nusername_from_webhook = _input.item.json.get(\"body\", {}).get(\"username\", None)\n\n# Fallback to chat trigger message if Webhook data is not available\nmessage_from_chat = _input.item.json.get(\"chatInput\", None)\nsessionId_from_chat = _input.item.json.get(\"sessionId\", None)\nusername_from_chat = _input.item.json.get(\"username\", \"n8n chat system\")\n\n# Determine which message to use (Webhook or Chat Trigger)\nmessage_to_use = message_from_webhook if message_from_webhook else message_from_chat\nsessionId_to_use = sessionId_from_webhook if sessionId_from_webhook else sessionId_from_chat\nusername_to_use = username_from_webhook if username_from_webhook else username_from_chat\n\n# Return the message to be used further\nreturn {\n    \"json\": {\n        \"message\": message_to_use,\n        \"sessionId\": sessionId_to_use,\n        \"username\": username_to_use\n    }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2220,700],"id":"44576449-a13a-4bac-be70-ca20c20ded37","name":"UserInput"},{"parameters":{"name":"get_current_time","description":"Fetch the current time (UTC) when user asking question relate to real date time.","language":"python","pythonCode":"from datetime import datetime\nimport pytz\n\nutc_tz = pytz.utc\nutc_time = datetime.now(utc_tz)\n\n# Format as 'YYYY-MM-DDTHH:MM:SSZ'\nformatted_time = utc_time.strftime('%Y-%m-%dT%H:%M:%SZ')\nreturn formatted_time\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-464,420],"id":"8a8f7811-32ed-476c-8723-97e33ddaeadd","name":"currentTime"},{"parameters":{"assignments":{"assignments":[{"id":"731a83c0-5873-4844-821b-080ccf3ae42e","name":"source","value":"={{ $json.info.Title }}","type":"string"},{"id":"9ff2f120-48d8-4e2b-979b-696d112a65ee","name":"url","value":"https://intranet.cennext.com/basic/web/index.php?r=documents%2Fview&id=8","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1780,1960],"id":"b9d45a2c-36ec-4fc4-b12e-295d3d92b739","name":"Set source"},{"parameters":{"assignments":{"assignments":[{"id":"731a83c0-5873-4844-821b-080ccf3ae42e","name":"source","value":"=FAQ Intranet","type":"string"},{"id":"ff40e782-999e-4137-8657-b2390b9aad19","name":"url","value":"https://intranet.cennext.com/basic/web/index.php?r=faq%2Findex","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1780,1760],"id":"f16a9acc-9fc1-49f4-a5ca-347469c57953","name":"Set source1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"admin_hr_vector","toolDescription":"This tool searches the company HR FAQ and Rules. Use it when the user asks about salary, leave, insurance, or company policy.","qdrantCollection":{"__rl":true,"value":"hr_admin_vstore","mode":"id"},"topK":5,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-792,1422.5],"id":"7ce342ff-7dc8-40d9-a0fe-e1566279b743","name":"FAQ Retriever","credentials":{"qdrantApi":{"id":"al5kamDWkQkppHXv","name":"QdrantApi account"}}},{"parameters":{"language":"python","pythonCode":"# Loop through all items in _('UserInput').all() to get message, sessionId, username\nfor user_item in _('UserInput').all():\n    message = user_item.json.get(\"message\", None)\n    sessionId = user_item.json.get(\"sessionId\", None)\n    username = user_item.json.get(\"username\", None)\n    \n    # Find the corresponding item in _input.all() to get the assigned_agent\n    for input_item in _input.all():\n        assigned_agent = input_item.json.get(\"output\", \"\").strip()  # Clean the output and get assigned_agent\n        input_item.json[\"assigned_agent\"] = assigned_agent  # Assign cleaned value to 'assigned_agent'\n        del input_item.json[\"output\"]  # Remove 'output' if you don't need it\n\n    # Combine the data from both sources into the user_item\n    user_item.json[\"assigned_agent\"] = assigned_agent  # Add the assigned_agent to the user_item\n    user_item.json[\"message\"] = message\n    user_item.json[\"sessionId\"] = sessionId\n    user_item.json[\"username\"] = username\n\n# Return the modified input data with combined information\nreturn _('UserInput').all()\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1624,700],"id":"392bc83f-74dc-45f0-b6c0-4fce1b55ca89","name":"userInput_assignedAgent"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"You are a routing assistant. Your job is to classify the user's input and determine which agent should handle the task. Based on the input message, assign it to one of the following agents:\n\n- `meeting_agent`: For anything related to meetings, meeting rooms, room bookings, availability checking, etc.\n- `rag_agent`: For anything related to company FAQ, company's rules\n- If the input doesn't belong to either category, return `other` to indicate that the message cannot be processed by these agents.\n\nYour response should only be the name of the assigned agent (`meeting_agent`, `rag_agent`, or `other`). Respond with only one word: meeting_agent, rag_agent, or other. Do not add any punctuation, newline, or extra space.\n\nExample user input: \"Can you check the availability of the meeting rooms for tomorrow?\"\nExpected output: `meeting_agent`\n\nExample user input: \"Search for the latest report on sales performance.\"\nExpected output: `rag_agent`\n\nExample user input: \"I need some help.\"\nExpected output: `other`"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-2000,700],"id":"59ca8d09-a9dc-4502-8079-8d33d87d567c","name":"Router Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-940,780],"id":"08c9b722-4054-4388-9861-337878985766","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}}],"connections":{"Webhook":{"main":[[{"node":"UserInput","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"UserInput","type":"main","index":0}]]},"Fetch All FAQs":{"main":[[{"node":"Set source1","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Fetch All FAQs","type":"main","index":0},{"node":"Google Drive","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Set source","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"FAQ Retriever","type":"ai_embedding","index":0}]]},"GET API meeting_rooms":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"GET API meeting_rooms3":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"GET API meeting_rooms_availability":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"GET API bookings one_time":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"meeting_agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"rag_agent","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"rag_agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"meeting_agent","type":"ai_languageModel","index":0}]]},"rag_agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Router Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"meeting_agent","type":"main","index":0}],[{"node":"rag_agent","type":"main","index":0}],[{"node":"self help","type":"main","index":0}]]},"self help":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"self help","type":"ai_memory","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"meeting_agent","type":"ai_memory","index":0}]]},"UserInput":{"main":[[{"node":"Router Agent","type":"main","index":0}]]},"currentTime":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0},{"node":"rag_agent","type":"ai_tool","index":0},{"node":"self help","type":"ai_tool","index":0}]]},"Set source":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Set source1":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"FAQ Retriever":{"ai_tool":[[{"node":"rag_agent","type":"ai_tool","index":0}]]},"userInput_assignedAgent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Router Agent":{"main":[[{"node":"userInput_assignedAgent","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"self help","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8645dc80-c656-4e60-a71e-a45266864f18","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-04-21T08:21:46.230Z","createdAt":"2025-04-21T08:21:46.230Z","role":"workflow:owner","workflowId":"P6pHTxYGxagVxGLc","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}