demo_-_ai_chatbot_intranet_(in_use)_supabase-Tk9uEssYX2La7LJ0.json
{"updatedAt":"2025-06-13T02:26:45.000Z","createdAt":"2025-06-10T08:48:22.563Z","id":"Tk9uEssYX2La7LJ0","name":"Demo - AI ChatBot Intranet (IN USE) Supabase","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"98753ad7-81ae-451d-8ea2-f64f9e59cd9e","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3760,1980],"id":"f46daaa7-c6df-4cc8-8ee5-c7b5d45665a7","name":"Webhook","webhookId":"98753ad7-81ae-451d-8ea2-f64f9e59cd9e"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-3760,2180],"id":"78437fc4-fa1c-4f5e-bade-f6797ee7df2e","name":"When chat message received","webhookId":"1a0b85ff-9d56-4d7f-8627-775b1d509684"},{"parameters":{"options":{"responseHeaders":{"entries":[{"name":"agent_name","value":"={{ $('userInput_assignedAgent').item.json.assigned_agent }}"},{"name":"referred_team_id","value":"={{ $execution.nodeExecutions[\"referred_teamid\"]?.json?.data?.[\"referred_team_id\"] ?? \"\" }}"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[360,1800],"id":"613d4b9f-0a2e-4e0f-8d81-7938ccb6631c","name":"Respond to Webhook"},{"parameters":{"authentication":"headerAuth","url":"https://intranet.cennext.com/api/faq/all","options":{}},"id":"0019bf60-dbe5-4aed-b1b4-801abecd46aa","name":"Fetch All FAQs","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-4220,800],"credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set File ID Google').first().json.file_id }}"},{"name":"url","value":"={{ $('Set File ID Google').first().json.file_url }}"},{"name":"file_title","value":"={{ $('Set File ID Google').first().json.file_title }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-2420,1180],"id":"05f6e88e-36fd-4b69-b19e-bc569c103780","name":"Default Data Loader"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4380,880],"id":"514321c8-f8b7-4c59-bdbf-9b09193d6146","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## RAG","height":1780,"width":2260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4400,-180],"id":"6e032857-23de-4e0d-a766-c07c3a4d2b2b","name":"Sticky Note"},{"parameters":{"content":"## https//intranet.cennext.com/meeting Agent","height":660,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,840],"id":"52847462-f5db-4c6a-870c-ff051e7b7bc4","name":"Sticky Note1"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"hr_admin_vstore","mode":"id"},"embeddingBatchSize":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-2480,940],"id":"ef34ba02-d7f3-445e-8bfa-7111bfea13d1","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"al5kamDWkQkppHXv","name":"QdrantApi account"}}},{"parameters":{"content":"## Common Python Tools","height":200,"width":280},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-280,960],"id":"b7ef8f10-ce8c-4faf-ba95-bd217705387a","name":"Sticky Note2"},{"parameters":{"content":"## RAG tools (QDRANT)","height":180,"width":500},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,2660],"id":"eeededea-ce23-48e5-a0e7-5a16e597dc70","name":"Sticky Note3"},{"parameters":{"content":"## API meeting room tools","height":420,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,1220],"id":"5e40929c-38d8-467c-9822-f809da1970cb","name":"Sticky Note4"},{"parameters":{"toolDescription":"=This tool returns a list of all meeting rooms in json format","url":"https://intranet.cennext.com/api/meeting_rooms","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1520,1300],"id":"1879144e-c71c-497a-9b17-fdd800ef1242","name":"GET API meeting_rooms","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"toolDescription":"This tool returns rooms available between specified start and end times","url":"https://intranet.cennext.com/api/meeting_rooms/availability","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"start_date"},{"name":"end_date","valueProvider":"modelOptional"},{"name":"start_hour","valueProvider":"modelOptional"},{"name":"end_hour","valueProvider":"modelOptional"}]},"optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1220,1300],"id":"a460a40b-bb6d-4919-a19e-b67bb71173cf","name":"GET API meeting_rooms_availability","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"toolDescription":"This tool returns one-time bookings for rooms","url":"https://intranet.cennext.com/api/bookings/one-time","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"room_name"},{"name":"start_after","valueProvider":"modelOptional"},{"name":"end_before","valueProvider":"modelOptional"}]},"optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1060,1300],"id":"8f5bb008-a65f-4ea9-9b5e-5a76a5373d84","name":"GET API bookings one_time","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"promptType":"define","text":"={{ $('UserInput').item.json.message }}","options":{"systemMessage":"You are a smart assistant that help users with meetings or booking meeting rooms in system. Your goal is to understand their request, extract required data, always call currentTime tool to get current datetime, call the appropriate other tools, and respond accordingly. Your response should be smart, human-language, polite. You should also let user now if no tools triggered.\n\nYou **MUST ALWAYS use currentTime tool first before taking any action**. Use this time to adapt user questions (eg. today, hôm nay, mai, tomorrow ...)\n\nYou should notice:\n- Vietnamese user default timezone is GMT+7, final response need to be in GMT+7, always follow logic to convert time accordingly.\n- English user default timezone is UTC, final response need to be in GMT+7, always follow logic to convert time accordingly.\n- Remember that all tools working under UTC time zone. If user specific timezone, convert it to UTC to use tools, final response need to be user specific timezone, always follow logic to convert time accordingly.\n- When `GET API bookings one_time` tool get triggered, it always return date data in Epoch & Unix Timestamp, ALWAYS use `convertEpochUnix` tool to convert it into standard time. Always parse data to `convertEpochUnix` tool with same structure, as example:\n[\n{\n\"query\": \"0123456789\"\n}\n]\n\nYou **MUST ALWAYS USE** tool `currentTime` to fetch current time before any other actions, `currentTime` returns time in UTC and you should smartly use this with other tools for queries.\n\nIf user ask question without year, default year is current year from `currentTime` tool.\n\nFor response, you should notice:\n- Users recent inputs in English or Vietnamese. \n- If major in **English**, respond in UTC.\n- If **Vietnamese**, user default input is always in GMT+7, you need convert to UTC to use tool, convert results from tool to GMT+7 then answer.\n- You can use convertEpochUnix tool to convert Epoch & Unix Timestamp to UTC time if you find any Epoch & Unix Timestamp property, but REMEMBER to convert final answer to GMT+7 for Vietnamese users.\n- If response relate to time, contain timezone and time should be easy to read by human.\n\nYou should consider user timezone to use `GET API meeting_rooms_availability` and `GET API bookings one_time`. Always convert user input timezone (if specific) into UTC timezone to use these tools. But you need to returns answer in user specified timezone.\n\nYou also have access to the user's 5 most recent chat as `AI:` `Human:` concept, use this information to adapt user requests, don't use error or non-sense conversations. Don't use history data as revelant in function tools API queries, always use latest values from user input. If the user refers to a previous message (e.g. “câu hỏi trước”, “as I asked before”, “trả lời lại giúp tôi” or in any other language), you must:\n- Review the `chat_history` content, always use function tools to get newest data or post newest request first.\n- Identify the relevant past question\n- Respond based on previous queries and user behavior, but don't make up information.\n\nYou can answer user based on your own LLM knowledge if you cannot handle question via any tools but let user know when you do that.\n\nTry to use tool `GET API meeting_rooms` to get `room_id` information if user don't specific `room_id`.\n\nUse tool `GET API meeting_rooms_availability` to get available rooms for specific times and check for conflicts before booking.\n\nWhen a user books a meeting room via the **POST book one_time** or **POST book recurring** tools, add successed booking `id` to response. Date/time using for these POST tools must be in GMT+7. If any conflicts, include conflicted booking `id` to response. You must send a summary email to the user with the booking details. Use the **Send Mail** tool to send this email. Include the following details in the email:\n\n1. Room Name\n2. Booking Start Time\n3. Booking End Time\n4. Meeting Name\n5. Meeting Description (if available)\n6. Meeting Type\n7. Meeting ID (if recurring, multiple `id` values separated by comma)\n\n---\n\n## Tools details\n1. **currentTime**: Returns current time in UTC. This should be used before other tools and this data should be parse to other tools.\n2. **GET API meeting_rooms**: Returns a list of meeting rooms. Use this to find `room_id` from room names.\n3. **GET API meeting_rooms_availability**: Find available rooms to do meetings or booking for a given time. You ALWAYS convert user timezone into UTC to use in this tool. You should smartly use this with `currentTime` tool to get data base on current date,time.\n   - **Required**: `start_date` (YYYY-MM-DD).  \n   - **Optional**: `end_date`, `start_hour`, `end_hour` (HH:00:00 or HH:30:00, round if needed). Notify users that you make it round to 00 or 30.\n\n4. **GET API bookings one_time**: Return booked meeting for a given time in Epoch & Unix Timestamp (eg: 1745901753 is Tuesday, April 29, 2025 4:42:33 AM GMT). You ALWAYS convert user timezone into UTC to use as input parameter in this tool (Remember that if user recent input in Vietnamese, user default timezone is GMT+7 and need to be converted to UTC - user input time plus 7 hours - for parameter in  this tool). Output of tool need to be UTC for English users, GMT+7 for Vietnamese user, convert results base on users timezone. You should smartly use this with `currentTime` tool to get data base on current date,time.\n   - User might not input exactly `room_name`, ALWAYS use tool `GET API meeting_rooms` first before any other actions to find full reffered `room_name`. Example: `Room A` might refer to full `room_name` `Room A - Extra name`\n   - **Required**: `room_id` or `room_name`. Don't query both parameters at same time.  \n   - **Optional**: `start_after`, `end_before`. It's optional but you should suggest user to use it.\n   - `start_after`, `end_before` in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ` (e.g., `2025-04-18T10:00:00Z`)\n\n\n5. **POST book one_time**: Book one-time meeting for specific `room_id` for a given time.\n   - **Required**: `room_id` (must resolve from room name via `GET API meeting_rooms`), `start_time`, `end_time`, `name`, `type` (default `\"I\"`), `validate_only` (false).  \n   - **Optional**: `description` (can be generated from the name if available).  \n   - If the duration is >5 hours, ask for confirmation.\n   - `start_time`, `end_time` in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ` (e.g., `2025-04-18T10:00:00Z`)\n   - If user specific timezone condition (for example: UTC,GMT+7, PST...), convert their time/date to GMT+7 to use in API queries, since API system is GMT+7. If specified timezone is GMT+7, no need to convert. If no specific timezone, should ask users to give specific timezone before use tool.\n   - After booking, trigger **Send Email** to send the booking summary to the user.\n\n   Example JSON:\n   {\n     \"room_id\": 5,\n     \"start_time\": \"2025-04-20T09:00:00Z\",\n     \"end_time\": \"2025-04-20T10:00:00Z\",\n     \"name\": \"Team Sync\",\n     \"description\": \"Weekly team check-in\",\n     \"type\": \"I\",\n     \"validate_only\": false\n   }\n\n\n6. **POST book recurring**: Book recurring meeting for specific `room_id` for a given time. You should smartly use this with `currentTime` tool to get data base on current date,time.\n   - **Required**: `room_id`, `start_time`, `end_time`, `repeat_type` (daily, weekly, monthly), `repeat_until`, `name`, `type` (default `\"I\"`), `validate_only` (false).  \n   - **Optional**: `description`.  \n   - If the duration of meeting/occur is >5 hours, ask for confirmation.\n   - `start_time`, `end_time`, `repeat_until` in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ` (e.g., `2025-04-18T10:00:00Z`)\n   - If user specific timezone condition (for example: UTC,GMT+7, PST...), convert their time/date to GMT+7 to use in API queries, since API system is GMT+7. If specified timezone is GMT+7, no need to convert. If no specific timezone, should ask users to give specific timezone before use tool.\n   - After booking, trigger **Send Email** to send the booking summary to the user.\n\n   Example JSON:\n   {\n     \"room_id\": 5,\n     \"start_time\": \"2025-04-21T10:00:00Z\",\n     \"end_time\": \"2025-04-21T11:00:00Z\",\n     \"repeat_type\": \"weekly\",\n     \"repeat_until\": \"2025-06-01T00:00:00Z\",\n     \"name\": \"Weekly Sync\",\n     \"description\": \"Team planning\",\n     \"type\": \"I\",\n     \"validate_only\": false\n   }\n\n7. **convertEpochUnix**: Convert Epoch & Unix Timestamp to standard UTC time\n\n---\n\n## Time Handling\n- Smartly use time from `currentTime` tool to fetch current date/time.\n- User should specify their timezone in request.\n- If no specified timezone, **Vietnamese users** default is GMT+7 → response in GMT+7, **English users** default is UTC → response in UTC or their specified timezone.\n- Date/time using for POST tools must be converted into GMT+7 before tool usage.\n---\n\n## Key Fields Summary\n\n| Field           | Required | Format                  | Notes                               |\n|-----------------|----------|-------------------------|-------------------------------------|\n| `room_name`     | Yes      | Text                    | Resolve to `room_id`                |\n| `start_date`    | Yes      | YYYY-MM-DD              | Ask if missing                      |\n| `start_hour`    | Optional | HH:00:00 or HH:30:00     | Round if needed                     |\n| `end_hour`      | Optional | HH:00:00 or HH:30:00     | Round if needed                     |\n| `start_time`    | Yes      | ISO 8601 (`YYYY-MM-DDTHH:MM:SSZ`) | Ask if missing                      |\n| `end_time`      | Yes      | ISO 8601                | Ask if missing                      |\n| `repeat_type`   | Yes (recurring) | `daily`, `weekly`, `monthly` | Ask if missing                      |\n| `repeat_until`  | Yes (recurring) | ISO 8601              | Ask if missing                      |\n| `name`          | Yes      | Text                    | Ask if missing                      |\n| `type`          | Yes      | `\"I\"` (default)         | Always required                     |\n| `description`   | Optional | Text                    | Can be generated from `name`        |\n| `validate_only` | Yes      | Always `false`           | Do not change                       |\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1560,2300],"id":"8d87d7b3-1272-4111-a7ed-d732d12582af","name":"rag_agent","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"You are a smart assistant that help users with meetings or booking meeting rooms in system. Your goal is to understand their request, extract required data, always call currentTime tool to get current datetime, call the appropriate other tools, and respond accordingly. Your response should be smart, human-language, polite. You should also let user now if no tools triggered.\n\nYou **MUST ALWAYS use currentTime tool first before taking any action**. Use this time to adapt user questions (eg. today, hôm nay, mai, tomorrow ...)\n\nIf user don't specific `room_id`, use `GET API meeting_rooms` tool to get `room_id` information.\n\nUse tool `GET API meeting_rooms_availability` to get available rooms for specific times and check for conflicts before booking.\n\nYou should notice:\n- Vietnamese user default timezone is GMT+7, final response need to be in GMT+7, always follow logic to convert time accordingly.\n- English user default timezone is UTC, final response need to be in GMT+7, always follow logic to convert time accordingly.\n- Remember that all tools working under UTC time zone. If user specific timezone, convert it to UTC to use tools, final response need to be user specific timezone, always follow logic to convert time accordingly.\n- When `GET API bookings one_time` tool get triggered, it always return date data in Epoch & Unix Timestamp, ALWAYS use convertEpochUnix tool to convert it into standard time.\n\nYou **MUST ALWAYS USE** tool `currentTime` to fetch current time before any other actions, `currentTime` returns time in UTC and you should smartly use this with other tools for queries.\n\nIf user ask question without year, default year is current year from `currentTime` tool.\n\nFor response, you should notice:\n- Users recent inputs in English or Vietnamese. \n- If major in **English**, respond in UTC.\n- If **Vietnamese**, user default input is always in GMT+7, you need convert to UTC to use tool, convert results from tool to GMT+7 then answer.\n- You can use convertEpochUnix tool to convert Epoch & Unix Timestamp to UTC time if you find any Epoch & Unix Timestamp property, but REMEMBER to convert final answer to GMT+7 for Vietnamese users.\n- If response relate to time, contain timezone and time should be easy to read by human.\n\nYou should consider user timezone to use `GET API meeting_rooms_availability` and `GET API bookings one_time`. Always convert user input timezone (if specific) into UTC timezone to use these tools. But you need to returns answer in user specified timezone.\n\nYou also have access to the user's 5 most recent chat as `AI:` `Human:` concept, use this information to adapt user requests, don't use error or non-sense conversations. Don't use history data as revelant in function tools API queries, always use latest values from user input. If the user refers to a previous message (e.g. “câu hỏi trước”, “as I asked before”, “trả lời lại giúp tôi” or in any other language), you must:\n- Review the `chat_history` content, always use function tools to get newest data or post newest request first.\n- Identify the relevant past question\n- Respond based on previous queries and user behavior, but don't make up information.\n\nYou can answer user based on your own LLM knowledge if you cannot handle question via any tools but let user know when you do that.\n\nWhen a user books a meeting room via the **POST book one_time** or **POST book recurring** tools, add successed booking `id` to response. Date/time using for these POST tools must be in GMT+7. If any conflicts, include conflicted booking `id` to response. You must send a summary email to the user with the booking details. Use the **Send Mail** tool to send this email. Include the following details in the email:\n\n1. Room Name\n2. Booking Start Time\n3. Booking End Time\n4. Meeting Name\n5. Meeting Description (if available)\n6. Meeting Type\n7. Meeting ID (if recurring, multiple `id` values separated by comma)\n\n---\n\n## Tools details\n1. **currentTime**: Returns current time in UTC. This should be used before other tools and this data should be parse to other tools.\n2. **GET API meeting_rooms**: Returns a list of meeting rooms. Use this to find `room_id` from room names.\n3. **GET API meeting_rooms_availability**: Find available rooms to do meetings or booking for a given time. You ALWAYS convert user timezone into UTC to use in this tool. You should smartly use this with `currentTime` tool to get data base on current date,time.\n   - **Required**: `start_date` (YYYY-MM-DD).  \n   - **Optional**: `end_date`, `start_hour`, `end_hour` (HH:00:00 or HH:30:00, round if needed). Notify users that you make it round to 00 or 30.\n\n4. **GET API bookings one_time**: Return booked meeting for a given time in Epoch & Unix Timestamp (eg: 1745901753 is Tuesday, April 29, 2025 4:42:33 AM GMT). You ALWAYS convert user timezone into UTC to use as input parameter in this tool (Remember that if user recent input in Vietnamese, user default timezone is GMT+7 and need to be converted to UTC - user input time plus 7 hours - for parameter in  this tool). Output of tool need to be UTC for English users, GMT+7 for Vietnamese user, convert results base on users timezone. You should smartly use this with `currentTime` tool to get data base on current date,time.\n   - User might not input exactly `room_name`, ALWAYS use tool `GET API meeting_rooms` first before any other actions to find full reffered `room_name`. Example: `Room A` might refer to full `room_name` `Room A - Extra name`\n   - **Required**: `room_id` or `room_name`. Don't query both parameters at same time.  \n   - **Optional**: `start_after`, `end_before`. It's optional but you should suggest user to use it.\n   - `start_after`, `end_before` in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ` (e.g., `2025-04-18T10:00:00Z`)\n\n\n5. **POST book one_time**: Book one-time meeting for specific `room_id` for a given time.\n   - **Required**: `room_id` (must resolve from room name via `GET API meeting_rooms`), `start_time`, `end_time`, `name`, `type` (default `\"I\"`), `validate_only` (false).  \n   - **Optional**: `description` (can be generated from the name if available).  \n   - If the duration is >5 hours, ask for confirmation.\n   - `start_time`, `end_time` in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ` (e.g., `2025-04-18T10:00:00Z`)\n   - If user specific timezone condition (for example: UTC,GMT+7, PST...), convert their time/date to GMT+7 to use in API queries, since API system is GMT+7. If specified timezone is GMT+7, no need to convert. If no specific timezone, should ask users to give specific timezone before use tool.\n   - After booking, trigger **Send Email** to send the booking summary to the user.\n\n   Example JSON:\n   {\n     \"room_id\": 5,\n     \"start_time\": \"2025-04-20T09:00:00Z\",\n     \"end_time\": \"2025-04-20T10:00:00Z\",\n     \"name\": \"Team Sync\",\n     \"description\": \"Weekly team check-in\",\n     \"type\": \"I\",\n     \"validate_only\": false\n   }\n\n\n6. **POST book recurring**: Book recurring meeting for specific `room_id` for a given time. You should smartly use this with `currentTime` tool to get data base on current date,time.\n   - **Required**: `room_id`, `start_time`, `end_time`, `repeat_type` (daily, weekly, monthly), `repeat_until`, `name`, `type` (default `\"I\"`), `validate_only` (false).  \n   - **Optional**: `description`.  \n   - If the duration of meeting/occur is >5 hours, ask for confirmation.\n   - `start_time`, `end_time`, `repeat_until` in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ` (e.g., `2025-04-18T10:00:00Z`)\n   - If user specific timezone condition (for example: UTC,GMT+7, PST...), convert their time/date to GMT+7 to use in API queries, since API system is GMT+7. If specified timezone is GMT+7, no need to convert. If no specific timezone, should ask users to give specific timezone before use tool.\n   - After booking, trigger **Send Email** to send the booking summary to the user.\n\n   Example JSON:\n   {\n     \"room_id\": 5,\n     \"start_time\": \"2025-04-21T10:00:00Z\",\n     \"end_time\": \"2025-04-21T11:00:00Z\",\n     \"repeat_type\": \"weekly\",\n     \"repeat_until\": \"2025-06-01T00:00:00Z\",\n     \"name\": \"Weekly Sync\",\n     \"description\": \"Team planning\",\n     \"type\": \"I\",\n     \"validate_only\": false\n   }\n\n---\n\n## Time Handling\n- Smartly use time from `currentTime` tool to fetch current date/time.\n- User should specify their timezone in request.\n- If no specified timezone, **Vietnamese users** default is GMT+7 → response in GMT+7, **English users** default is UTC → response in UTC or their specified timezone.\n- Date/time using for POST tools must be converted into GMT+7 before tool usage.\n---\n\n## Key Fields Summary\n\n| Field           | Required | Format                  | Notes                               |\n|-----------------|----------|-------------------------|-------------------------------------|\n| `room_name`     | Yes      | Text                    | Resolve to `room_id`                |\n| `start_date`    | Yes      | YYYY-MM-DD              | Ask if missing                      |\n| `start_hour`    | Optional | HH:00:00 or HH:30:00     | Round if needed                     |\n| `end_hour`      | Optional | HH:00:00 or HH:30:00     | Round if needed                     |\n| `start_time`    | Yes      | ISO 8601 (`YYYY-MM-DDTHH:MM:SSZ`) | Ask if missing                      |\n| `end_time`      | Yes      | ISO 8601                | Ask if missing                      |\n| `repeat_type`   | Yes (recurring) | `daily`, `weekly`, `monthly` | Ask if missing                      |\n| `repeat_until`  | Yes (recurring) | ISO 8601              | Ask if missing                      |\n| `name`          | Yes      | Text                    | Ask if missing                      |\n| `type`          | Yes      | `\"I\"` (default)         | Always required                     |\n| `description`   | Optional | Text                    | Can be generated from `name`        |\n| `validate_only` | Yes      | Always `false`           | Do not change                       |\n\n","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1540,900],"id":"1071761b-fed3-4ed8-ba43-ea52885d4d03","name":"meeting_agent","alwaysOutputData":false},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1300,2500],"id":"7d19c006-6429-4aae-9cfc-31894c5cbbab","name":"Simple Memory1"},{"parameters":{"content":"## RAG Agent","height":600,"width":500,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,2240],"id":"7307cf99-3150-4bb5-96f8-9ecedc4ecf33","name":"Sticky Note5"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1300,1980],"id":"c0d73ad2-3b2a-4c01-8db9-33c0a866caa6","name":"Simple Memory3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1160,1080],"id":"0e2544ed-ba8a-46ce-8e98-bd535be0ebfe","name":"Simple Memory"},{"parameters":{"language":"python","pythonCode":"# Access Webhook data if it exists (from first item in input)\nmessage_from_webhook = _input.item.json.get(\"body\", {}).get(\"message\", None)\nsessionId_from_webhook = _input.item.json.get(\"body\", {}).get(\"sessionId\", None)\nusername_from_webhook = _input.item.json.get(\"body\", {}).get(\"username\", None)\nemail_from_webhook = _input.item.json.get(\"body\", {}).get(\"email\", None)\ngmail_from_webhook = _input.item.json.get(\"body\", {}).get(\"gmail\", None)\n\n# Fallback to chat trigger message if Webhook data is not available\nmessage_from_chat = _input.item.json.get(\"chatInput\", None)\nsessionId_from_chat = _input.item.json.get(\"sessionId\", None)\nusername_from_chat = _input.item.json.get(\"username\", \"n8n chat system\")\nemail_from_chat = _input.item.json.get(\"email\", \"it-internal@cennos.com\")\ngmail_from_chat = _input.item.json.get(\"gmail\", \"vund1209@gmail.com\")\n\n# Determine which message to use (Webhook or Chat Trigger)\nmessage_to_use = message_from_webhook if message_from_webhook else message_from_chat\nsessionId_to_use = sessionId_from_webhook if sessionId_from_webhook else sessionId_from_chat\nusername_to_use = username_from_webhook if username_from_webhook else username_from_chat\nemail_to_use = email_from_webhook if email_from_webhook else email_from_chat\ngmail_to_use = gmail_from_webhook if gmail_from_webhook else gmail_from_chat\n# Return the message to be used further\nreturn {\n    \"json\": {\n        \"message\": message_to_use,\n        \"sessionId\": sessionId_to_use,\n        \"username\": username_to_use,\n        \"email\": email_to_use,\n        \"gmail\": gmail_to_use\n    }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3540,2080],"id":"f167630c-f5f2-4a48-81d7-7e2e24385e1e","name":"UserInput"},{"parameters":{"name":"get_current_time","description":"Fetch the current time (UTC) when user asking question relate to date, time.","language":"python","pythonCode":"from datetime import datetime\nimport pytz\n\nutc_tz = pytz.utc\nutc_time = datetime.now(utc_tz)\n\n# Format as 'YYYY-MM-DDTHH:MM:SSZ'\nformatted_time = utc_time.strftime('%Y-%m-%dT%H:%M:%SZ')\nreturn formatted_time\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-260,1040],"id":"bc510afb-a6c8-49a7-8cf7-83b67844494d","name":"currentTime"},{"parameters":{"language":"python","pythonCode":"# Loop through all items in _('UserInput').all() to get message, sessionId, username\nfor user_item in _('UserInput').all():\n    message = user_item.json.get(\"message\", None)\n    sessionId = user_item.json.get(\"sessionId\", None)\n    username = user_item.json.get(\"username\", None)\n    \n    # Find the corresponding item in _input.all() to get the assigned_agent\n    for input_item in _input.all():\n        assigned_agent = input_item.json.get(\"output\", \"\").strip()  # Clean the output and get assigned_agent\n        input_item.json[\"assigned_agent\"] = assigned_agent  # Assign cleaned value to 'assigned_agent'\n        del input_item.json[\"output\"]  # Remove 'output' if you don't need it\n\n    # Combine the data from both sources into the user_item\n    user_item.json[\"assigned_agent\"] = assigned_agent  # Add the assigned_agent to the user_item\n    user_item.json[\"message\"] = message\n    user_item.json[\"sessionId\"] = sessionId\n    user_item.json[\"username\"] = username\n\n# Return the modified input data with combined information\nreturn _('UserInput').all()\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2940,2080],"id":"4d1accb9-83f2-4f42-b044-2889efc8f120","name":"userInput_assignedAgent"},{"parameters":{"promptType":"define","text":"={{ $('UserInput').item.json.message }}","options":{"systemMessage":"\nYou are a routing assistant. Your job is to classify the user's input and determine which agent should handle the task. Based on the input message, assign it to one of the following agents:\n\n- `meeting_agent`: For anything related to meetings, meeting rooms, room bookings, availability checking, etc.\n- `rag_agent`: For anything related to working, job, company FAQ, company's rules, salaries, .etc\n- `users_agent`: For anything related to users, user name, user's information .etc. \n- `searchOnline_agent`: For any requests checking online, searching online.\n- If the input doesn't belong to either category, return `other` to indicate that the message cannot be processed by these agents.\n\nYour response should only be the name of the assigned agent (`meeting_agent`, `rag_agent`, `users_agent`, `searchOnline_agent`  or `other`). Respond with only one word: meeting_agent, rag_agent, users_agent, searchOnline_agent or other. Do not add any punctuation, newline, or extra space.\n\nExample user input: \"Can you check the availability of the meeting rooms for tomorrow?\"\nExpected output: `meeting_agent`\n\nExample user input: \"Search for the latest report on sales performance.\"\nExpected output: `rag_agent`\n\nExample user input: \"Search for information of user with id 9742.\"\nExpected output: `users_agent`\n\nExample user input: \"Search online for information about cars.\"\nExpected output: `searchOnline_agent`\n\nExample user input: \"I need some help.\"\nExpected output: `other`\n\nYou can access history chat with user (Human) from memory `Retrieve Chat History`. If user question refer to previous question (maybe keyword like \"that\", \"previous\" ...), you can reroute user to previous agent for continuous chat."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-3320,2080],"id":"7f459be8-2f50-4c04-b880-7a6d7f272005","name":"Router Agent"},{"parameters":{"content":"## Router Agent","height":580,"width":1220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3800,1880],"id":"e59e8445-f3d9-45da-a474-e4f704fa0f77","name":"Sticky Note6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.assigned_agent }}","rightValue":"meeting_agent","operator":{"type":"string","operation":"equals"},"id":"fe80e5e6-12a5-44b1-bf72-5fe16b3125bd"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ee593fc-8073-4f34-a899-a92f02e24d3e","leftValue":"={{ $json.assigned_agent }}","rightValue":"rag_agent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"954be5d8-f74c-432b-a586-786f221433fc","leftValue":"={{ $json.assigned_agent }}","rightValue":"users_agent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96b080e3-54cc-45c9-a87e-57115d8d11e1","leftValue":"={{ $json.assigned_agent }}","rightValue":"searchOnline_agent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2040,2040],"id":"9550c9db-b9e3-4aa6-b722-10c4c1756f03","name":"Switch Agents"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3380,2300],"id":"3f0aaeb2-090b-4e8b-bd6b-228fa3b34799","name":"Router Agent Gemini","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"={{ $('UserInput').item.json.message }}","options":{"systemMessage":"You are a professional agent who answer user input. You are in charge of fallback route where user input things that other agents cannot answer.\n\nYou can answer user by your own LLM knowledge, always let user know that this is your own LLM answer and use recent user input language in response.\n\nYou also have access to the user's 5 most recent chat messages. If the user refers to a previous message (e.g. “câu hỏi trước”, “as I asked before”, “trả lời lại giúp tôi”), you must:\n- Review the chat history\n- Identify the relevant past question from user (human)\n- Respond based on previous user input for better answers\n- Skip chat history where AI return exactly one of these value: `meeting_agent`, `rag_agent`, `other` since these are non-sense data for users.\n\nIf users asked question about previous requests, questions and you cannot have that information, ask them specify detail about which AI Agent reponsed so they can get reach to suitable AI Agent (meeting, faq, ...)\n\nYou never making up answers about company rules, policies, salaries, etc.\n\nYou should guide them to ask departments for current company information.\n\nAlways answer in short, formal, well-structured and clean sentences.\n\nIf users asking request support, help for IT, HR issues, kindly guide them to Support Portal https://intranet.cennext.com/basic/web/index.php?r=site%2Fportal\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1560,1800],"id":"6151fc40-af51-4c2e-86e4-030390df9385","name":"Self Help Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1440,1080],"id":"2a58228b-0073-4667-be64-920847b9f44f","name":"Meeting Model (Gemini)","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2640,1180],"id":"f0e6f988-d31b-4b22-a2a1-27ca68290050","name":"RAG Model (OpenAI)","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi - vund"}}},{"parameters":{"content":"## FAILBACK Route","height":380,"width":500,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,1740],"id":"b7b78847-267e-4fce-9b5b-94760c529074","name":"Sticky Note7"},{"parameters":{"content":"## Memory","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,1020],"id":"8899fc0c-6739-4518-a96c-693dd64ced6c","name":"Sticky Note8"},{"parameters":{"content":"## Memory","height":200,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1340,1920],"id":"588a470b-646a-425a-880a-df67804215b5","name":"Sticky Note9"},{"parameters":{"content":"## Memory","height":220,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1320,2440],"id":"ce263237-57f7-4ec8-a5f8-2cd133eecc96","name":"Sticky Note10"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1440,1980],"id":"798c9a19-dcc6-40fa-aaeb-e1772d62314a","name":"Selfhelp Model (Gemini)","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1180,1980],"id":"dd6eb871-3fad-4441-97d7-93403fcad74a","name":"Chat Memory (Postgres)","credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1040,1080],"id":"c6ea048e-ff52-4e74-92b6-1654a19b3e94","name":"Chat Memory (Postgres)1","credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"fromEmail":"=AI System <ai_agent@cennos.com>","toEmail":"={{ $('userInput_assignedAgent').item.json.email }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","html":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('HTML', `- Generate professional email with clean, easy to read, well-structured content.\n- Seperate content into lines, paragraphs\n-Always include full date,time.`, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSendTool","typeVersion":2.1,"position":[-1520,1480],"id":"5d4ed023-4c8f-4c2f-b1d5-8259665d0286","name":"Send Email","webhookId":"881d9394-90b3-4987-b397-1f4801a045a4","credentials":{"smtp":{"id":"cEoNVA9lQ1I8l08j","name":"SMTP account"}}},{"parameters":{"toolDescription":"This tool will book recurring meeting room using internal booking system","method":"POST","url":"https://intranet.cennext.com/api/bookings/recurring","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"room_id\": {room_id},\n  \"start_time\": {start_time},\n  \"end_time\": {end_time},\n  \"repeat_type\": {repeat_type},\n  \"repeat_until\": {repeat_until},\n  \"name\": {name},\n  \"description\": {description},\n  \"type\": {type},\n  \"validate_only\": {validate_only}\n}","placeholderDefinitions":{"values":[{"name":"room_id","description":"room_id is id of meeting room","type":"number"},{"name":"start_time","description":"start time of meeting","type":"string"},{"name":"end_time","description":"end time of meeting","type":"string"},{"name":"name","description":"name of meeting, can be auto generated from AI base on user input","type":"string"},{"name":"description","description":"description of meeting, can be auto generated from AI base on user input","type":"string"},{"name":"type","description":"type of meeting, internal (I) or external (E)","type":"string"},{"name":"validate_only","description":"validate_only data","type":"boolean"},{"name":"repeat_type","description":"repeat type of meeting `daily`, `weekly`, `monthly`","type":"string"},{"name":"repeat_until","description":"recurring meeting should be last till this value","type":"string"}]},"optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1380,1480],"id":"51cda564-1b85-46f1-8a4a-ad3b210906c7","name":"POST book recurring","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"toolDescription":"This tool will book one-time meeting room using internal booking system","method":"POST","url":"https://intranet.cennext.com/api/bookings/one-time","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"room_id\": {room_id},\n  \"start_time\": {start_time},\n  \"end_time\": {end_time},\n  \"name\": {name},\n  \"description\": {description},\n  \"type\": {type},\n  \"validate_only\": {validate_only}\n}","placeholderDefinitions":{"values":[{"name":"room_id","description":"room_id is id of meeting room"},{"name":"start_time","description":"start time of meeting","type":"string"},{"name":"end_time","description":"end time of meeting","type":"string"},{"name":"name","description":"name of meeting","type":"string"},{"name":"description","description":"description of meeting","type":"string"},{"name":"type","description":"type of meeting, internal (I) or external (E)","type":"string"},{"name":"validate_only","description":"validate_only data","type":"boolean"}]},"optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-1380,1300],"id":"32275e5b-e95e-4acf-a1a1-fe18afd5b312","name":"POST book one_time","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1540,1980],"id":"d7523850-8947-4f69-907a-0414473f3e75","name":"Selfhelp Model (OpenAI)","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi - vund"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1540,1080],"id":"336150e6-2c07-436c-819f-e26039b90252","name":"Meeting Model (OpenAI)","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi - vund"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"limit":2,"where":{"values":[{"column":"session_id","condition":"LIKE","value":"={{ $json.username }}"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-3120,2300],"id":"670033f6-15b3-4d25-b003-34bb88ba5ca5","name":"Retrieve Chat History","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4820,440],"id":"0d76dd42-cecb-4e5b-b37e-3c0fee7b263a","name":"Create Document Metadata Table","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4600,440],"id":"0eb7c82b-ef07-47df-84d3-82f155b1a8e7","name":"Create Document Rows Table (for Tabular Data)","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-5020,440],"id":"cbbfc964-cbd0-482c-9b12-b29dda58b4e7","name":"Create Documents Table and Match Function","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"content":"## Run Each Node Once to Set Up Database Tables","height":300,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-5080,340],"typeVersion":1,"id":"d36df882-4a5b-497a-9378-25220762dc47","name":"Sticky Note11"},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"=faq id - {{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"=Intranet FAQ - {{ $json.category_code }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.category_code }} - {{ $json.question }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"=https://intranet.cennext.com/basic/web/index.php?r=faq%2Findex&category={{ $json.category_code }}#{{ $json.id }}","type":"string"}]},"options":{}},"id":"7093161a-c2dd-459e-9f22-d6959f2d3184","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3740,800]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3900,800],"id":"0d8e3ce7-79db-459c-b6a4-f9f376b0b386","name":"Loop Over Items"},{"parameters":{"jsCode":"// Access the incoming data (API response)\nconst items = $json[\"data\"];\n\n// Iterate through each item in the 'data' array and return each item as a new workflow item\nreturn items.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4060,800],"id":"fa8915fe-e2bf-4e7b-bf0d-f1f58c700c75","name":"Turn into array"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-2520,1180],"id":"1d02aa9e-f24d-4641-a732-934288f6ae10","name":"Character Text Splitter"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID Google').item.json.file_id }}","title":"={{ $('Set File ID Google').item.json.file_title }}","url":"={{ $('Set File ID Google').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3740,1180],"id":"58ede9c3-181e-4b82-97b4-d971adff0496","name":"Insert Document Metadata","executeOnce":true,"credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"operation":"pdf","binaryPropertyName":"=data","options":{"keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3180,720],"id":"2b252476-7fc7-4c69-a15a-cf1a29201ce0","name":"Extract PDF Text","alwaysOutputData":false,"executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"731a83c0-5873-4844-821b-080ccf3ae42e","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"9ff2f120-48d8-4e2b-979b-696d112a65ee","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"ce4fc9e9-33cc-4610-9afa-2bd5ab2ea973","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"26612612-6e63-4920-87db-7508424c7079","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3900,960],"id":"803b462a-4679-4700-8dc2-656dccba1491","name":"Set File ID Google"},{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"18i4BLsJVhth1G7NX1_Uexr_uwG-xt6bq","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/18i4BLsJVhth1G7NX1_Uexr_uwG-xt6bq"}},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4220,960],"id":"48bf29a4-9a59-47bb-a861-0ee064acc5d9","name":"IT Publics_Documents_RAG","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4060,960],"id":"002a1067-b28e-443e-85cf-93e55c66317e","name":"Loop Over Items1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"5d33cbc5-39a2-4251-ac31-7c06077a0bb7","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3080,860]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"5ed7772d-b4c8-4458-b6ca-4dce6482a3c0","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-2880,940]},{"parameters":{"operation":"xlsx","options":{}},"id":"17653a81-cbb2-410e-af43-1b47ef6e95e7","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3300,860]},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3300,1040],"id":"9b12f1de-3243-45d4-9125-ab00fc476dd8","name":"Extract from CSV"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows","mode":"list","cachedResultName":"document_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID Google').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3080,1040],"id":"b7492e7f-5f30-40e0-8c69-c5a98603d1db","name":"Insert Table Rows","credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"operation":"text","options":{}},"id":"46999f63-90df-441e-b739-bfaab70c9db0","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3180,1180],"alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID Google').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"b29b07d6-f286-4b5b-abcf-400743e4236a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID Google').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID Google').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID Google').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"17fb9627-e8d2-4e6d-896c-074ed5ce16e3","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3580,940]},{"parameters":{"authentication":"serviceAccount","operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID Google').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3740,960],"id":"6b9fc156-f9ac-4610-bb6e-c8a643f598a8","name":"Google Drive Download File","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2660,720],"id":"697bb35d-4dd5-46d5-804a-c950e4dfcbe2","name":"Set Schema"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID Google').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2420,720],"id":"41c1b948-c1ce-4dd2-8992-c325f6605c88","name":"Update Schema for Document Metadata","credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"method":"POST","url":"http://localhost:6333/collections/hr_admin_vstore/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.file_id\",\n        \"match\": {\n          \"value\": \"{{ $json.file_id }}\"\n        }\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4060,1180],"id":"0c9180ec-0f98-452d-8461-e2886fff38a3","name":"Delete Old Doc Rows","credentials":{"httpHeaderAuth":{"id":"Su50S1k8jMWKHQEJ","name":"Qdrant key"}}},{"parameters":{"method":"POST","url":"http://localhost:6333/collections/hr_admin_vstore/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"file_id\",\n        \"match\": {\n          \"value\": \"{{ $('Set File ID Google').item.json.file_id }}\"\n        }\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3900,1180],"id":"d39725c9-a2c8-405a-b996-aa8a835bac05","name":"Delete Old Data Rows","credentials":{"httpHeaderAuth":{"id":"Su50S1k8jMWKHQEJ","name":"Qdrant key"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Loop Over Items').item.json.question }} {{ $('Loop Over Items').item.json.answer }}","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"url","value":"={{ $('Set File ID').first().json.file_url }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-2420,580],"id":"e7bdb9c0-6bd2-4b86-94fc-7914e4c44103","name":"Default Data Loader1"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"hr_admin_vstore","mode":"id"},"embeddingBatchSize":500,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-2540,420],"id":"1aaf954a-e0b4-4599-9c5f-6311ebc7ee3f","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"al5kamDWkQkppHXv","name":"QdrantApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2640,580],"id":"6ee08622-f713-4503-bd19-da12be5db1e7","name":"RAG Model (OpenAI)2","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi - vund"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-2520,580],"id":"f974ad2c-1458-4484-a59f-6db6730b600f","name":"Character Text Splitter1"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3080,420],"id":"2b0befe6-1cd7-47e2-9557-e121a34e3cc0","name":"Insert Document Metadata1","executeOnce":true,"credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"method":"POST","url":"http://localhost:6333/collections/hr_admin_vstore/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.file_id\",\n        \"match\": {\n          \"value\": \"{{ $json.file_id }}\"\n        }\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3520,420],"id":"c319f53f-408a-4549-8757-f90d9fcbab86","name":"Delete Old Doc Rows1","credentials":{"httpHeaderAuth":{"id":"Su50S1k8jMWKHQEJ","name":"Qdrant key"}}},{"parameters":{"method":"POST","url":"http://localhost:6333/collections/hr_admin_vstore/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"file_id\",\n        \"match\": {\n          \"value\": \"{{ $('Set File ID').item.json.file_id }}\"\n        }\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3280,420],"id":"9e4878b5-d4f5-466b-a01c-46f58655f048","name":"Delete Old Data Rows1","credentials":{"httpHeaderAuth":{"id":"Su50S1k8jMWKHQEJ","name":"Qdrant key"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1440,2500],"id":"57aee65d-3cf2-408b-bf39-fb2314d0cf09","name":"LLM (Gemini)","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1560,2500],"id":"8da1d2ea-4280-4041-bd28-6cb790fbd022","name":"LLM (OpenAI)1","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi - vund"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1220,2720],"id":"908833c8-5d2c-4401-a411-36307cb32684","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi - vund"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1180,2500],"id":"f24b3c93-b3f8-48cf-a467-6e7dc8ff1e9d","name":"Chat Memory (Postgres)2","credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"description":"Use the tool to think about how you should cooperate with other tool to help better answer logic. Use the tool to think about how you should cooperate with other tool to help better answer logic. Always use data from vector store via tool `hr_admin_vstore` "},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-1220,2300],"id":"8449403a-b201-4eb7-8153-8f1de3a991e4","name":"Think"},{"parameters":{"mode":"raw","jsonOutput":"[\n{\n\"query\": \"1745917200\"\n}\n}\n]","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,1260],"id":"46109140-5065-43a1-b4c0-21e531a6333f","name":"Edit Fields","disabled":true},{"parameters":{"name":"convertEpochUnix","description":"Convert Epoch & Unix Timestamp to UTC time in format '%Y-%m-%dT%H:%M:%SZ'","jsCode":"const epochTime = JSON.parse(query);\nconst date = new Date(epochTime * 1000);\nconst formattedDate = date.toISOString().split('.')[0] + 'Z';\nreturn formattedDate;\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-140,1040],"id":"387f9ef1-da12-45c4-acc1-2ac8d169c8c4","name":"convertEpochUnix"},{"parameters":{"operation":"executeQuery","query":"SELECT clean_memory();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3540,2300],"id":"08173e9d-edc1-4da6-bb8e-11e6844a11b3","name":"Clean memory","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"description":"Use the tool to think about how you should cooperate with other tool to help better answer logic"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-1100,920],"id":"6e866e97-df8a-4dff-b2ca-8e5e82245934","name":"Think1"},{"parameters":{"language":"python","pythonCode":"from datetime import datetime\n\ndef convert_to_utc(timestamp):\n    # Convert unix timestamp to datetime object in UTC\n    utc_time = datetime.utcfromtimestamp(int(timestamp))\n    # Format the datetime in the desired format\n    format_utc = utc_time.strftime(\"%Y-%m-%dT%H:%M:%SZ\")\n    \n    # Return the formatted datetime as a string directly\n    return format_utc"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,1280],"id":"68713087-3bcb-4603-8426-fc04e220e249","name":"Code1","disabled":true},{"parameters":{"authentication":"headerAuth","url":"https://intranet.cennext.com/api/users/get_users","options":{}},"id":"931bf4c3-739a-47a5-934f-caaee99dffef","name":"Fetch All FAQs1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-4220,1380],"credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"users_info","mode":"list","cachedResultName":"users_info"},"columns":{"mappingMode":"autoMapInputData","value":{"team_id":0,"day":0,"month":0,"year":0,"fullname":"={{ $json.fullname }}","employee_id":0},"matchingColumns":["employee_id"],"schema":[{"id":"employee_id","displayName":"employee_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"fullname","displayName":"fullname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"team_id","displayName":"team_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"gmail","displayName":"gmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"mission","displayName":"mission","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"day","displayName":"day","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"month","displayName":"month","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"year","displayName":"year","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"workday","displayName":"workday","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"active","displayName":"active","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"manage_team","displayName":"manage_team","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":false,"removed":false},{"id":"office","displayName":"office","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"work_shift","displayName":"work_shift","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"discord","displayName":"discord","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"discord_uid","displayName":"discord_uid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"status_team","displayName":"status_team","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"team_work_shift","displayName":"team_work_shift","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"teamgroup","displayName":"teamgroup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"leaders","displayName":"leaders","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"supervisor","displayName":"supervisor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"project_manager","displayName":"project_manager","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3740,1380],"id":"e9e250d7-8a5f-4ed3-a16f-01ed9ca69577","name":"Update users_info","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"jsCode":"// Access the incoming data (API response)\nconst items = $json[\"data\"];\n\n// Iterate through each item in the 'data' array and return each item as a new workflow item\nreturn items.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4060,1380],"id":"54f24080-ba19-47cb-8ee9-f479e3f00c33","name":"Turn into array1"},{"parameters":{"promptType":"define","text":"={{ $('UserInput').item.json.message }}","options":{"systemMessage":"You are an expert in generating SQL for the \"users_info\" table in Postgres. Given a user’s question, output only a safe SELECT SQL query as a plain string.\n- Do NOT use Markdown formatting.\n- NEVER give query inside ```\n- Do NOT include explanations or any extra fields.\n- Do NOT wrap the query in code blocks.\n- Output ONLY the SQL query string, nothing else.\n- Never use SELECT *.\n- Never write INSERT, UPDATE, or DELETE.\n\n\"users_info\" table contain:\n - employee_id: Employee ID of the user\n - username: Username of the user\n - fullname: Full name of the user\n - team_id: Team ID the user belongs to\n - email: Office email address\n - gmail: Personal Google email address\n - mission: User's position in the company\n - day: Day of birth (integer)\n - month: Month of birth (integer)\n - year: Year of birth (integer)\n - workday: Date of first working day (YYYY-MM-DD)\n - active: User status (active/inactive)\n - manage_team: Array of team IDs managed by the user (TEXT[])\n - office: Office location\n - work_shift: User's work shift\n - discord: User's Discord username\n - discord_uid: User's Discord UID\n - status_team: Team status (active/inactive)\n - team_work_shift: Work shift of the team\n - teamgroup: Team group name\n - leaders: Team leaders\n - supervisor: Team supervisor\n - project_manager: Team project manager"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1540,2960],"id":"2b2d60e9-b1ed-4685-b17e-88c5a3b72874","name":"users_agent"},{"parameters":{"content":"## USERS Agent","height":400,"width":500,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,2900],"id":"adabf507-94a4-4820-9559-030942d57743","name":"Sticky Note12"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1420,3160],"id":"e3bf2a1b-3f88-440a-9572-86bc819fe749","name":"Users LLM (Gemini)","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1540,3160],"id":"fd9d8b17-83cb-479f-9d07-4dcc285ac99f","name":"Users LLM (OpenAI)","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi - vund"}}},{"parameters":{"description":"Use the tool to think about how you should cooperate with other tool to help better answer logic. Use the tool to think about how you should cooperate with other tool to help better answer logic. Always use data from vector store via tool `hr_admin_vstore` "},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-1200,3060],"id":"e61497d2-2314-471f-92a4-55fd9ad5db64","name":"Think2"},{"parameters":{"language":"python","pythonCode":"for input_item in _input.all():\n  query = input_item.json.get(\"output\", \"\").strip().replace(\"\\n\", \"\")\n  input_item.json[\"query\"] = query\n  del input_item.json[\"output\"]\nreturn _input.all()\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,2960],"id":"0e0ae21f-80ec-4712-a056-c72fd74cc5e3","name":"query2JSON"},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-820,2960],"id":"6bd19a6f-0450-46fd-8439-af55ba909c12","name":"execQuery","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json) }}","options":{"systemMessage":"You are an assistant that formats database results for end-users. Given the following data from a Postgres query, generate a clear, concise, and human-readable answer.\n\nIgnore `referred_team_id`, NEVER use it for answer.\n\nIf input is blank or null, you should ask users to verify question again.\n\nUse tables or bullet points for lists, and a short summary for single records. Do not include raw JSON or SQL. Only output the answer, nothing else.\n\nYou can refer to this guideline of attributes to adapt better answer:\n - employee_id: Employee ID of the user\n - username: Username of the user\n - fullname: Full name of the user\n - team_id: Team ID the user belongs to\n - email: Office email address\n - gmail: Personal Google email address\n - mission: User's position in the company\n - day: Day of birth (integer)\n - month: Month of birth (integer)\n - year: Year of birth (integer)\n - workday: Date of first working day (YYYY-MM-DD)\n - active: User status (active/inactive)\n - manage_team: Array of team IDs managed by the user (TEXT[])\n - office: Office location\n - work_shift: User's work shift\n - discord: User's Discord username\n - discord_uid: User's Discord UID\n - status_team: Team status (active/inactive)\n - team_work_shift: Work shift of the team\n - teamgroup: Team group name\n - leaders: Team leaders\n - supervisor: Team supervisor\n - project_manager: Team project manager"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[460,2960],"id":"47abde69-3d5e-465e-856f-3668abc521aa","name":"format_Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[460,3160],"id":"883ff319-7fb6-4b4d-be5a-af8ee93e3548","name":"users Format LLM (Gemini)","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"=Hôm nay là ngày giờ nào,\n{{ $json.message }}","options":{"systemMessage":"You are an intelligent AI agent operating in a modular tool environment.\n\nYou have access to the following tools:\n\n1. **get_current_time** tool:  \n   Use this to get the current UTC timestamp when you need to log time or reference the present moment.  \n   ❗ Always convert UTC time to Vietnam time (GMT+7) before replying.\n\n2. **Brave_Search_tool** tool:  \n   Use this to look up the latest information from the internet. Only use it when the user's question depends on internet data. Use concise search keywords, and summarize the top result clearly.\n\n🧠 **Memory Access**:\nYou can access internal memory (e.g., PostgreSQL) to retrieve saved knowledge or structured data. Always attempt to query memory first before using external tools.\n\nInstructions:\n- Use tools only when necessary.\n- Always check memory (e.g., PostgreSQL) first.  \n  ❗If memory does not contain relevant or updated information, fallback to `Brave_Search_tool`.\n- Use `get_current_time` to provide timestamps or context involving the current time.\n- Avoid fabricating facts; if a search returns no useful result, say so.\n- Always explain why a tool was used.\n\nRespond clearly and helpfully to user questions."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1540,3440],"id":"da75a5be-1377-48de-832d-ee772a2c0437","name":"searchOnline_agent"},{"parameters":{"content":"## Search online Agent","height":400,"width":500,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,3360],"id":"97f53a7e-8ba0-4d8d-884d-52dd8639256d","name":"Sticky Note13"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1540,3640],"id":"efc72bcf-fbfb-4366-abda-bfbc7a63aa0e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sseEndpoint":"http://localhost:5678/mcp/testHR/sse","include":"selected","includeTools":["Brave_Search_tool","get_current_time"]},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-1320,3640],"id":"a7de70a2-04bc-46f0-8952-d1124d5c4941","name":"BraveSearchTool"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('userInput_assignedAgent').item.json.username }}_{{ $('userInput_assignedAgent').item.json.assigned_agent }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1180,3620],"id":"93272beb-a193-4018-9a0a-8c50bd0ac1be","name":"Chat Memory (Postgres)3","credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-600,2960],"id":"1de7901c-3b62-425a-a4e0-1789b9c4f2a9","name":"Aggregate1"},{"parameters":{"assignments":{"assignments":[{"id":"832ba4f6-87fb-4bf6-a543-139f79498a64","name":"referred_team_id","value":"={{ [...($json.manage_team || []), ...($json.team_id || [])] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,3240],"id":"c4f6eed8-acf9-4c55-9cea-47781a29edae","name":"referred_teamid"},{"parameters":{"language":"python","pythonCode":"all_manage_team = []\nall_team_ids = []\n\nfor item in _input.all():\n    manage_team = item.json.get(\"manage_team\", [])\n    team_id = item.json.get(\"team_id\")\n\n    all_manage_team.extend(manage_team)\n    if team_id is not None:\n        all_team_ids.append(str(team_id))  # convert to string to match format\n\n# Optional: remove duplicates if needed\n# all_manage_team = list(set(all_manage_team))\n# all_team_ids = list(set(all_team_ids))\n\nreturn [{\n    \"json\": {\n        \"manage_team\": all_manage_team,\n        \"team_id\": all_team_ids\n    }\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,3240],"id":"74364aab-a6ea-4ed7-a31c-66ab45dffc1c","name":"merge_referred_team_id"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-240,3080],"id":"51e691f3-19f8-4885-af7a-569ad6b36618","name":"Merge"},{"parameters":{"language":"python","pythonCode":"return [_input.all()[0]]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-20,3080],"id":"bacb9b08-2afa-4811-af4e-c911687db5cd","name":"split_1st_item"},{"parameters":{"url":"={{$node[\"SplitInBatches\"].json[\"url\"]}}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[-3760,-140],"id":"be3518f6-0a80-4f9a-99ac-06f73cbdc699","name":"RSS Read"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3900,60],"id":"fd4a95b1-54df-4c7e-b313-d42c9f31b8ea","name":"SplitInBatches"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      url: 'https://baohiemxahoi.gov.vn/pages/chi-tiet-kenh-rss.aspx?ItemID=2',\n    }\n  },\n  {\n    json: {\n      url: 'https://baohiemxahoi.gov.vn/pages/chi-tiet-kenh-rss.aspx?ItemID=3',\n    }\n  },\n  {\n    json: {\n      url: 'https://baohiemxahoi.gov.vn/pages/chi-tiet-kenh-rss.aspx?ItemID=4',\n    }\n  },\n  {\n    json: {\n      url: 'https://baohiemxahoi.gov.vn/pages/chi-tiet-kenh-rss.aspx?ItemID=8',\n    }\n  },\n  {\n    json: {\n      url: 'https://baohiemxahoi.gov.vn/pages/chi-tiet-kenh-rss.aspx?ItemID=10',\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4200,60],"id":"027349a7-1cd6-4219-a61e-33117e78f932","name":"RSS_list"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3540,60],"id":"58664270-a2d9-4ffe-86a1-d1d5496fb4dd","name":"Loop Over News"},{"parameters":{"assignments":{"assignments":[{"id":"5111e7e6-622b-4e11-bab4-2bdabc8e3164","name":"file_id","value":"=BHXH - {{ $json.file_id }}","type":"string"},{"id":"24ef5715-a8d5-4dec-9602-5f44c724020c","name":"file_type","value":"Tin tức Bảo hiểm Xã hội","type":"string"},{"id":"e04c185b-b358-4017-940c-4ca811d2a795","name":"file_title","value":"={{ $json.title }}","type":"string"},{"id":"6a187beb-8bf8-44b1-853a-80995799ebe3","name":"file_url","value":"={{ $json.link }}","type":"string"},{"id":"c6d07815-43cf-4ea8-8af2-e0cb9d034ec5","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3280,-140],"id":"5edc44e6-1c2a-4c35-8a3f-5769bdfdf346","name":"Set ID RSS"},{"parameters":{"method":"POST","url":"http://localhost:6333/collections/hr_admin_vstore/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.file_id\",\n        \"match\": {\n          \"value\": \"{{ $json.file_id }}\"\n        }\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3080,-140],"id":"62fa724d-5733-4740-b641-0e4f6f0b48ca","name":"Delete Old Doc Rows2","credentials":{"httpHeaderAuth":{"id":"Su50S1k8jMWKHQEJ","name":"Qdrant key"}}},{"parameters":{"method":"POST","url":"http://localhost:6333/collections/hr_admin_vstore/points/delete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"file_id\",\n        \"match\": {\n          \"value\": \"{{ $('Set ID RSS').item.json.file_id }}\"\n        }\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3280,60],"id":"3332209d-e222-404d-886b-ff729990fa77","name":"Delete Old Data Rows2","credentials":{"httpHeaderAuth":{"id":"Su50S1k8jMWKHQEJ","name":"Qdrant key"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set ID RSS').item.json.file_id }}","title":"={{ $('Set ID RSS').item.json.file_title }}","url":"={{ $('Set ID RSS').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3080,60],"id":"1b79714b-07b2-40de-8eec-5ecfb6f97a45","name":"Insert Document Metadata2","executeOnce":true,"credentials":{"postgres":{"id":"cGNz2BVXYyhl0irf","name":"n8n account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Set ID RSS').first().json.file_title }} {{ $('Set ID RSS').first().json.content }}","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set ID RSS').first().json.file_id }}"},{"name":"url","value":"={{ $('Set ID RSS').first().json.file_url }}"},{"name":"file_title","value":"={{ $('Set ID RSS').first().json.file_title }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-2420,40],"id":"3db6b7c2-b03a-433a-9bc5-1a492fabfae5","name":"Default Data Loader2"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"hr_admin_vstore","mode":"id"},"embeddingBatchSize":500,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-2540,-120],"id":"edf9c4b3-7fdb-4915-b4b9-6d8405759f70","name":"Qdrant Vector Store2","credentials":{"qdrantApi":{"id":"al5kamDWkQkppHXv","name":"QdrantApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2640,40],"id":"2f7375e2-a539-4a4e-bc54-b60bd08f03ee","name":"RAG Model (OpenAI)3","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi - vund"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-2520,40],"id":"adfb2a4f-4627-4883-828f-cfb1d29c9b21","name":"Character Text Splitter2"},{"parameters":{"language":"python","pythonCode":"# Iterate over the input data passed from the previous node\nfor item in items:\n    # Extract the ItemID from the link\n    item_id = item[\"json\"][\"link\"].split(\"ItemID=\")[-1]\n    \n    # Add the file_id to the item\n    item[\"json\"][\"file_id\"] = item_id\n\n# Return the modified items\nreturn items"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3540,-140],"id":"e19ff7c3-196c-424e-8612-0a5660f4da68","name":"getFileID"},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-1000,2700],"id":"81734ff6-0d3d-4ae9-9e97-4bc1ca1628a6","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"Wel10dRI3jnBP3w6","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Webhook":{"main":[[{"node":"UserInput","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"UserInput","type":"main","index":0}]]},"Fetch All FAQs":{"main":[[{"node":"Turn into array","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"RSS_list","type":"main","index":0}]]},"GET API meeting_rooms":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"GET API meeting_rooms_availability":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"GET API bookings one_time":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"meeting_agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[]]},"rag_agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory3":{"ai_memory":[[]]},"Simple Memory":{"ai_memory":[[]]},"UserInput":{"main":[[{"node":"Clean memory","type":"main","index":0}]]},"currentTime":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0},{"node":"rag_agent","type":"ai_tool","index":0},{"node":"Self Help Agent","type":"ai_tool","index":0}]]},"userInput_assignedAgent":{"main":[[{"node":"Switch Agents","type":"main","index":0}]]},"Router Agent":{"main":[[{"node":"userInput_assignedAgent","type":"main","index":0}]]},"Switch Agents":{"main":[[{"node":"meeting_agent","type":"main","index":0}],[{"node":"rag_agent","type":"main","index":0}],[{"node":"users_agent","type":"main","index":0}],[{"node":"searchOnline_agent","type":"main","index":0}],[{"node":"Self Help Agent","type":"main","index":0}]]},"Router Agent Gemini":{"ai_languageModel":[[{"node":"Router Agent","type":"ai_languageModel","index":0}]]},"Self Help Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Meeting Model (Gemini)":{"ai_languageModel":[[{"node":"meeting_agent","type":"ai_languageModel","index":0}]]},"RAG Model (OpenAI)":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Selfhelp Model (Gemini)":{"ai_languageModel":[[{"node":"Self Help Agent","type":"ai_languageModel","index":0}]]},"Chat Memory (Postgres)":{"ai_memory":[[{"node":"Self Help Agent","type":"ai_memory","index":0}]]},"Chat Memory (Postgres)1":{"ai_memory":[[{"node":"meeting_agent","type":"ai_memory","index":0}]]},"Send Email":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"POST book recurring":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"POST book one_time":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"Selfhelp Model (OpenAI)":{"ai_languageModel":[[]]},"Meeting Model (OpenAI)":{"ai_languageModel":[[]]},"Respond to Webhook":{"main":[[]]},"Retrieve Chat History":{"ai_tool":[[{"node":"Router Agent","type":"ai_tool","index":0}]]},"Create Document Metadata Table":{"main":[[{"node":"Create Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"Create Documents Table and Match Function":{"main":[[{"node":"Create Document Metadata Table","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows1","type":"main","index":0}]]},"Turn into array":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Set File ID Google":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"IT Publics_Documents_RAG":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Set File ID Google","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0},{"node":"Set Schema","type":"main","index":0}]]},"Google Drive Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Google Drive Download File","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Qdrant Vector Store1","type":"ai_document","index":0}]]},"RAG Model (OpenAI)2":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Qdrant Vector Store1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Delete Old Doc Rows1":{"main":[[{"node":"Delete Old Data Rows1","type":"main","index":0}]]},"Delete Old Data Rows1":{"main":[[{"node":"Insert Document Metadata1","type":"main","index":0}]]},"Insert Document Metadata1":{"main":[[{"node":"Qdrant Vector Store1","type":"main","index":0}]]},"LLM (Gemini)":{"ai_languageModel":[[{"node":"rag_agent","type":"ai_languageModel","index":0}]]},"LLM (OpenAI)1":{"ai_languageModel":[[]]},"Embeddings OpenAI":{"ai_embedding":[[]]},"Chat Memory (Postgres)2":{"ai_memory":[[{"node":"rag_agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"rag_agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"convertEpochUnix":{"ai_tool":[[{"node":"meeting_agent","type":"ai_tool","index":0}]]},"Clean memory":{"main":[[{"node":"Router Agent","type":"main","index":0}]]},"Think1":{"ai_tool":[[]]},"Fetch All FAQs1":{"main":[[{"node":"Turn into array1","type":"main","index":0}]]},"Update users_info":{"main":[[]]},"Turn into array1":{"main":[[{"node":"Update users_info","type":"main","index":0}]]},"Users LLM (Gemini)":{"ai_languageModel":[[{"node":"users_agent","type":"ai_languageModel","index":0}]]},"users_agent":{"main":[[{"node":"query2JSON","type":"main","index":0}]]},"query2JSON":{"main":[[{"node":"execQuery","type":"main","index":0}]]},"execQuery":{"main":[[{"node":"merge_referred_team_id","type":"main","index":0},{"node":"Aggregate1","type":"main","index":0}]]},"users Format LLM (Gemini)":{"ai_languageModel":[[{"node":"format_Agent","type":"ai_languageModel","index":0}]]},"format_Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"searchOnline_agent","type":"ai_languageModel","index":0}]]},"BraveSearchTool":{"ai_tool":[[{"node":"searchOnline_agent","type":"ai_tool","index":0}]]},"searchOnline_agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Chat Memory (Postgres)3":{"ai_memory":[[{"node":"searchOnline_agent","type":"ai_memory","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"referred_teamid":{"main":[[{"node":"Merge","type":"main","index":1}]]},"merge_referred_team_id":{"main":[[{"node":"referred_teamid","type":"main","index":0}]]},"Merge":{"main":[[{"node":"split_1st_item","type":"main","index":0}]]},"split_1st_item":{"main":[[{"node":"format_Agent","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"getFileID","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"Loop Over News","type":"main","index":0}],[{"node":"RSS Read","type":"main","index":0}]]},"RSS_list":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"Loop Over News":{"main":[[],[{"node":"Set ID RSS","type":"main","index":0}]]},"Delete Old Doc Rows2":{"main":[[{"node":"Delete Old Data Rows2","type":"main","index":0}]]},"Set ID RSS":{"main":[[{"node":"Delete Old Doc Rows2","type":"main","index":0}]]},"Delete Old Data Rows2":{"main":[[{"node":"Insert Document Metadata2","type":"main","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Qdrant Vector Store2","type":"ai_document","index":0}]]},"RAG Model (OpenAI)3":{"ai_embedding":[[{"node":"Qdrant Vector Store2","type":"ai_embedding","index":0}]]},"Character Text Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Insert Document Metadata2":{"main":[[{"node":"Loop Over News","type":"main","index":0}]]},"getFileID":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b00629a8-1f0b-4236-b478-c9c7fae1bed0","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-06-10T08:48:22.577Z","createdAt":"2025-06-10T08:48:22.577Z","role":"workflow:owner","workflowId":"Tk9uEssYX2La7LJ0","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}