image_classify-lQfiIDwW6NCn9PUj.json
{"updatedAt":"2025-10-22T00:44:44.000Z","createdAt":"2025-10-11T04:59:37.526Z","id":"lQfiIDwW6NCn9PUj","name":"Image Classify","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,0],"id":"c312a5fd-c6fc-4340-bd0a-6fb465b8bbaf","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"={{ $json['Image Link'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"image/webp"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,0],"id":"12a907eb-0f36-4b6a-90a6-2120bad0c60a","name":"HTTP Request"},{"parameters":{"operation":"resize","width":100,"height":100,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[960,0],"id":"e174f0d9-2f51-43bc-8777-fc9bd246c3af","name":"Edit Image"},{"parameters":{"promptType":"define","text":"Your Role: You are an AI assistant acting as an expert Digital Asset Analyst. Your primary function is to classify product images as either 'Primary' or 'Secondary' based on a detailed set of rules. You must provide a classification and a clear justification for your decision.\n\nI. General Criteria for Primary Images (Default Tagging)\nMost front-facing silo and zoomed-in environmental images should generally be tagged as Primary.\nAn image is eligible to be tagged as Primary if it meets the following criteria:\n1. Focus and View: It must be a zoomed-in environmental or silo image presenting a forward-facing or angled front-facing view of the complete product. The product must be the clear focus of the image.\n2. Visibility: The image must show at least 75% of the front of the product (angled shots are acceptable if the front is still visible).\n3. Standard State: The product must be shown in its standard state. The product can be shown in use, but generally not showing functionality, unless an exception is specified at the class level.\n4. Set Quantity (DSQ): It must show the correct Display Set Quantity (DSQ) or pieces included in the product. If the correct DSQ is not available, one image showing the full single product should be tagged as Primary.\n5. Props: Props are acceptable if they are used to accentuate the product and the product remains the main feature of the image.\n6. Context (Environmental Images): Environmental, Silo, and Floor & Wall Images can be Primary as long as they meet the general criteria. The product must be placed in a scene that is a relevant representation of its use (e.g., Patio heaters outdoors, Christmas Trees indoors).\n\nII. General Criteria for Secondary Images (Exclusions)\nImagery, including Dimensional, Non-Photo, and Functional images, is generally considered Secondary.\nAn image should be tagged as Secondary if any of the following general conditions apply (unless a specific Class Level Guidance creates an exception):\n\nFocus/Angle: The product is visible but is not the focal point of the image.\nAngle/Crop: Images showing a side view, top view, or detail shot of the product.\nFunctionality: The product is showing functionality (e.g., a dresser with open drawers, a vanity with an open cabinet, a faucet with running water). Functional images show the product while not in its natural, usable state.\nText/Graphics: Dimensional Images which include product measurements in the form of graphics or text.\nNon-Photo: Images showcasing Non-Photorealistic elements, such as digital graphics overlaid to call out features, or obviously photoshopped elements.\nBackground: The silo image has a solid black background.\nPeople/Animals: Images featuring a person (unless otherwise specified at the class level).\n\nQuality Control Guideline\nImagery that fails quality standards must be tagged as Secondary:\n• Imagery that does not look professionally taken, well lit, new, or in pristine condition.\n• Images that have watermarks (unless a brand is affixed to the product, which is acceptable).\n• Images that have a Made in America overlay.\n\nIII. Key Exceptions (Functional Imagery)\n\nWhile showing functionality usually results in a Secondary tag, many classes have specific exceptions where functional images are allowed or even preferred as Primary images (see Slide 12 for a table of exception classes).\nDefinition of Functional Image: An image is functional if the product has moved in a clear way, is in a unique configuration or layout different from its 'normal' position, or has changed from its default state (e.g., opening up, collapsed, expanded, extended, or doors/drawers open).\nExamples of Functionality Exceptions (where function can be Primary):\n• Recliners: Primary imagery is allowed to show the product's function (e.g., ottoman raised, recliner extended).\n• Coffee & Cocktail Tables: Images showing functionality for only lift top are acceptable as Primary.\n• Kids Beds: Primary imagery should ALWAYS show the product’s function (e.g., extended trundle or storage drawers), if available.\n• Adjustable Beds: The ideal primary image is of the adjustable base with some part of the base folded, showing the function.\n• Trash Cans & Recycling: Functional images (with the lid off/open) can be tagged as Primary.\n• Sofas & Sectionals: Functional imagery showing the sleeper component, ottoman raised, or sofa extended can be tagged as Primary.\n\nIf no result, please give back \"Missing\"","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[96,208],"id":"4255e0d6-650f-4e29-9ebc-9b89afa47ab0","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[96,432],"id":"c69edd18-6fd7-4af1-8bee-aebadc0fe9e1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"EwU0onAEQOlD6XWC","name":"Chinh - IT 1"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-240,224],"id":"0feed6de-068d-4a8b-a656-37b780958b9a","name":"OpenAI Chat Model"},{"parameters":{"jsonSchemaExample":"{\n\t\"Result\": \"Classify1\",\n\t\"Reason\": [\"It should be Classify1\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[256,416],"id":"1c8e60ed-baab-47a0-9970-2ebf302071c7","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,0],"id":"f7b4e40d-69c4-4b69-a145-49f113586256","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[608,0],"id":"1c702b2a-d281-42ea-acd8-08e3c650e7fe"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE","mode":"list","cachedResultName":"Tagging Image Automation - Pilot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1105744645,"mode":"list","cachedResultName":"Pri/Sec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE/edit#gid=1105744645"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[192,0],"id":"331d65b5-3028-4737-9f63-60f6612ece00","name":"Tagging Image Automation - Pilot","credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE","mode":"list","cachedResultName":"Tagging Image Automation - Pilot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1105744645,"mode":"list","cachedResultName":"Pri/Sec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s_n4KNilZc9Hh3eOr4uX74-THzwSQCeYNyyNq8iVPoE/edit#gid=1105744645"},"columns":{"mappingMode":"defineBelow","value":{"IreID":"={{ $('Tagging Image Automation - Pilot').item.json.IreID }}","Result":"={{ $json.output.Result }}","Reason":"={{ $json.output.Reason }}"},"matchingColumns":["IreID"],"schema":[{"id":"IreID","displayName":"IreID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image Link","displayName":"Image Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Result","displayName":"Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reason","displayName":"Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image","displayName":"Image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,208],"id":"4c8f5ceb-53f5-4a59-b19f-234d7d6314c5","name":"Result","credentials":{"googleApi":{"id":"D06psFsmktq1AjOT","name":"n8n-bot@n8n-self-host-474705.iam.gserviceaccount.com"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Tagging Image Automation - Pilot","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Result","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Tagging Image Automation - Pilot":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Result":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"023d33b3-5e18-473b-86e7-bd74a0ace1c2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-11T04:59:37.530Z","createdAt":"2025-10-11T04:59:37.530Z","role":"workflow:owner","workflowId":"lQfiIDwW6NCn9PUj","projectId":"V0CmH8bYQGkBMXhQ"}],"activeVersion":null,"tags":[]}