image_classify-xGy23zx0FVQ8zNgK.json
{"updatedAt":"2025-10-10T04:49:40.000Z","createdAt":"2025-10-10T04:36:10.362Z","id":"xGy23zx0FVQ8zNgK","name":"Image Classify","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-464,-176],"id":"3cdd38ba-1e04-4b7d-95e2-915a05254573","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zub2rXQogLA_jHNqBM284Quj0hvw4FXRs10uFMrB-I8","mode":"list","cachedResultName":"Vũ test 10.8","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zub2rXQogLA_jHNqBM284Quj0hvw4FXRs10uFMrB-I8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":279845084,"mode":"list","cachedResultName":"Vũ test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zub2rXQogLA_jHNqBM284Quj0hvw4FXRs10uFMrB-I8/edit#gid=279845084"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-272,-176],"id":"299b272a-1273-47d5-8815-204763f8bb34","name":"Get row(s) in sheet","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"url":"={{ $json['Image Link'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"image/webp"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-176],"id":"1268defa-d87a-4f8c-a73c-2a76a3f4707a","name":"HTTP Request"},{"parameters":{"operation":"resize","width":100,"height":100,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[96,-176],"id":"b20ddb5f-3f3b-4da4-8758-125bf461b7c1","name":"Edit Image"},{"parameters":{"promptType":"define","text":"Your Role: You are an AI assistant acting as an expert Digital Asset Analyst. Your primary function is to classify product images as either 'Primary' or 'Secondary' based on a detailed set of rules. You must provide a classification and a clear justification for your decision.\nPrimary Objective: Evaluate a given product image and determine if it qualifies as a Primary image. A Primary image is the main, default image for a product, intended to clearly and professionally showcase the complete item to a customer. All other images are considered Secondary.\nDecision-Making Workflow: To ensure accuracy, follow this step-by-step process for every image:\nStep 1: Initial Quality and Integrity Check\nDoes the image have watermarks, \"Made in America\" overlays, or is it of very poor quality (blurry, badly lit, incorrectly oriented)?\nIf Yes, classify as Secondary and cite \"Poor Quality\" or \"Watermark\" as the reason. Stop here.\nIf No, proceed to Step 2.\nStep 2: Identify the Product Class (Crucial for Exceptions)\nFirst, identify the specific category of the product shown in the image (e.g., \"Recliner,\" \"TV Stand,\" \"Rug Pad,\" \"Dining Table Set,\" \"Bathrobe\"). This is the most critical step, as many classes have rules that override the general guidelines.\nStep 3: Check for Class-Specific Exceptions\nReview the list of class-specific exceptions below. If the product belongs to one of these classes, apply its specific rule FIRST.\nClass-Specific Exception Rules:\nFunctionality IS Primary for:\nRecliners: Image can show the recliner in an extended or reclined state.\nKids Beds / Adjustable Beds: Image should show function (trundle extended, base folded).\nTrash Cans: Image can show the lid open or off.\nLift Top Coffee/Cocktail Tables: Image can show the lift-top function.\nMakeup Vanities: Image can show lights on or cabinets open.\nSheds: Image can show doors open if a closed-door version is unavailable.\nRoom Dividers: Image should show the divider extended and in use.\nFunctionality is STRICTLY Secondary for:\nTV Stands / Entertainment Centers: Open doors/drawers are Secondary.\nFaucets: Water running is Secondary.\nToilets: The toilet lid being open is Secondary.\nPeople/Pets ARE Primary for:\nBathrobes: Image can show a model wearing the robe (front view).\nChanging Table Pads: Image can feature people or children using the product.\nPet Ramps: Image can feature a cat or dog.\nDetail/Non-Photo Elements ARE Primary for:\nRug Pads: A detail shot of a folded corner is Primary.\nCurtain Hardware: A detail shot of the end of the rod is Primary.\nString Lights / Undercabinet Lights: Non-photorealistic images showing the lights and remote control are Primary.\nLightbulbs: Images showing the packaging/box or the correct count of bulbs are Primary.\nMolding & Millwork: A side-profile view is Primary for Casing, Crown, Corner Molding, and Chair Rails.\nSet/Quantity Rules for Primary:\nDining/Living/Outdoor Sets: Must show all included components.\nStools/Chairs (in sets): At least one chair must be forward-facing.\nTiles/Wall Paneling: An image of multiple pieces is preferred for Primary. A single piece is only Primary if a multi-piece image is unavailable.\nIf a class-specific rule applies, make your classification based on that rule and provide it as the reason. If no exception applies, proceed to Step 4.\nStep 4: Evaluate Against General Primary Image Rules If the image does not fall under a class-specific exception, evaluate it against these general criteria. To be Primary, the image must meet ALL of the following:\nProduct View & Visibility: Shows a forward-facing or angled-front view of the complete product. At least 75% of the product's front must be visible.\nProduct Focus: The product is the clear focal point. Props are acceptable only if they accentuate the product without distracting from it.\nProduct State: The product is shown in its standard, non-functional state (e.g., drawers closed, no water running).\nDisplay Set Quantity (DSQ): The image shows the correct number of items included.\nProfessional Quality: The image is well-lit, in focus, and shows the product in new, pristine condition.\nBackground: The background is a clean silo (white/light grey) or a relevant environmental scene (e.g., a patio heater on a patio). Solid black backgrounds are not permitted for Primary images.\nIf the image meets all these criteria, classify it as Primary.\nStep 5: Default to Secondary If the image fails to meet the General Primary rules (and was not classified by an exception), classify it as Secondary. Common reasons for a Secondary classification include:\nAngle/View: Side view, top view, back view, or a detail/close-up shot.\nFunctionality Shown: Demonstrates a function not covered by an exception (e.g., a standard dresser with a drawer open).\nPeople Included: Features a person in a class where it is not allowed.\nDimensional/Non-Photorealistic: Overlays with measurements or significant digital graphics calling out features.\nFocus: The product is not the main focal point of the image.\nBackground: Silo image with a solid black background.\nFinal Consideration: The Findability Fallback Rule In a scenario where you are told that no other images meet the Primary criteria, you may select the \"best available\" image as Primary. However, NEVER tag an image as Primary if it is:\nA back or side view where the front is not highly visible.\nA detail or dimensional shot.\nMostly non-photorealistic.\nSignificantly blocked or obscured.\nOutput Format: Provide your response in the following format:\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-368,32],"id":"a42bdc08-d2cd-42d7-ac13-bf7b7e5f3fc8","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-368,208],"id":"15e36e23-16d6-4858-a38b-bdbe4f5fdf17","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"yC4FijtmjmDBJpsr","name":"vund1209 - n8n key"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-704,32],"id":"3a62c7d7-c7e2-465b-b20a-14e9d83ece7c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"j7IfLkcRzoKMmB2N","name":"OpenAi account allen.nguyen"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"Result\": \"Classify1\",\n\t\"Reason\": [\"It should be Classify1\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-208,240],"id":"55eabbe0-afc4-41e4-aee2-11f24d31ef38","name":"Structured Output Parser"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zub2rXQogLA_jHNqBM284Quj0hvw4FXRs10uFMrB-I8","mode":"list","cachedResultName":"Vũ test 10.8","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zub2rXQogLA_jHNqBM284Quj0hvw4FXRs10uFMrB-I8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":279845084,"mode":"list","cachedResultName":"Vũ test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zub2rXQogLA_jHNqBM284Quj0hvw4FXRs10uFMrB-I8/edit#gid=279845084"},"columns":{"mappingMode":"defineBelow","value":{"IreID":"={{ $('Get row(s) in sheet').item.json.IreID }}","Reason":"={{ $json.output.Reason }}","Result":"={{ $json.output.Result }}"},"matchingColumns":["IreID"],"schema":[{"id":"IreID","displayName":"IreID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image Link","displayName":"Image Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Result","displayName":"Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reason","displayName":"Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image","displayName":"Image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"check khớp","displayName":"check khớp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-16,32],"id":"6e782198-a283-4a52-9abe-f31975c6ebd8","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d7a2fe6a-0d93-4ef0-b195-ef889984cd25","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-10T04:36:10.367Z","createdAt":"2025-10-10T04:36:10.367Z","role":"workflow:owner","workflowId":"xGy23zx0FVQ8zNgK","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}