mcp_summary_seats_employees-jw4HcAlyOJbfvbq5.json
{"updatedAt":"2025-07-28T02:31:46.000Z","createdAt":"2025-04-27T05:47:19.339Z","id":"jw4HcAlyOJbfvbq5","name":"MCP_Summary_Seats_Employees","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"240147dd-34ff-4d4a-bf42-60f6a3bef2dd","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[100,-60],"webhookId":"53c136fe-3e77-4709-a143-fe82746dd8b6","typeVersion":1.1},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[260,140],"id":"bc20ef5d-ab93-4bda-8a3c-b6b237dd940f","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are an intelligent assistant dedicated to providing information about the company's equipment inventory.\n\nYou can use the `EquipmentInventoryTool` to get necessary information.\n\nYou have access to detailed internal data through available tools, including:\n- Current equipment listings, their properties, and statuses.\n- Ability to query or filter equipment based on specific criteria (e.g., by ID, name, serial, location, status).\n\nThe `EquipmentInventoryTool` provides data in a structured format, where each row represents a single piece of equipment or an inventory record, with the following columns:\n\n- `ID`: Mã định danh duy nhất của thiết bị.\n- `Tên thiết bị`: Tên đầy đủ hoặc mô tả của thiết bị.\n- `Serial`: Số serial duy nhất của thiết bị.\n- `Số lượng`: Số lượng của thiết bị (thường là 1 cho từng ID duy nhất).\n- `Vị trí`: Vị trí hiện tại của thiết bị (ví dụ: \"Trong kho\", \"Phòng A1\", \"Đang sử dụng\").\n- `Tình trạng`: Tình trạng hoạt động của thiết bị (ví dụ: \"Tốt\", \"Hỏng\", \"Đang sửa chữa\").\n- `Ngày kiểm kê`: Ngày gần nhất thiết bị được kiểm kê hoặc cập nhật thông tin.\n- `Kho`: Kho chứa thiết bị (ví dụ: \"HCM\", \"Hà Nội\", \"Đà Nẵng\").\n\n---\nWhen the user asks a question about equipment inventory:\n\n1. **Identify** the specific equipment information or query being requested (e.g., \"tìm thiết bị có ID X\", \"liệt kê tất cả thiết bị trong kho HCM\", \"kiểm tra tình trạng của serial Y\").\n2. **Use** the `EquipmentInventoryTool` to retrieve the relevant equipment data based on the user's request.\n3. **Receive** a table-like structure containing the requested equipment details, with the columns specified above.\n4. **Present** the requested equipment details clearly and concisely, prioritizing the most relevant information. Use a table or a structured list format for readability.\n5. **Answer** any specific queries regarding a particular piece of equipment, its attributes, or a summary of inventory.\n6. **Always** provide up-to-date information from the latest available inventory data."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[360,-60],"id":"4ec9856c-36b9-4dcf-a3ce-50f59bb711a4","name":"AI Agent3"},{"parameters":{"content":"\nNếu bị ảo tưởng thì nó sẽ lưu vào chat memory \nGây trả lời sai \n\n**Giải pháp:** Có thể updat  ","height":200,"width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,-80],"id":"a1e2aade-3956-4c90-a283-8b7bd685f8f2","name":"Sticky Note3"},{"parameters":{"toolDescription":"Get query from AI AGENT send to.\nTool get current employees , new employees, seats, off employees, employee tenures, pregnant employees.","url":"https://script.google.com/macros/s/AKfycbzV70ycHgpli_Bvq6VFV7T7EvM12DoP1BB82kvDbIzHXP5jEtFsfcnsTiR8C3Vvg9jcbA/exec","sendQuery":true,"parametersQuery":{"values":[{"name":"sheet","valueProvider":"fieldValue","value":"{query}"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"accept","valueProvider":"fieldValue","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"},{"name":"accept-language","valueProvider":"fieldValue","value":"en-US,en;q=0.9,vi-VN;q=0.8,vi;q=0.7,fr-FR;q=0.6,fr;q=0.5"},{"name":"dnt","valueProvider":"fieldValue","value":"1"},{"name":"priority","valueProvider":"fieldValue","value":"u=0, i"},{"name":"sec-ch-ua","valueProvider":"fieldValue","value":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\""},{"name":"sec-ch-ua-arch","valueProvider":"fieldValue","value":"\"x86\""},{"name":"sec-ch-ua-bitness","valueProvider":"fieldValue","value":"\"64\""},{"name":"sec-ch-ua-form-factors","valueProvider":"fieldValue","value":"\"Desktop\""},{"name":"sec-ch-ua-full-version","valueProvider":"fieldValue","value":"\"136.0.7103.48\""},{"name":"sec-ch-ua-full-version-list","valueProvider":"fieldValue","value":"\"Chromium\";v=\"136.0.7103.48\", \"Google Chrome\";v=\"136.0.7103.48\", \"Not.A/Brand\";v=\"99.0.0.0\""},{"name":"sec-ch-ua-mobile","valueProvider":"fieldValue","value":"?0"},{"name":"sec-ch-ua-model","valueProvider":"fieldValue","value":"\"\""},{"name":"sec-ch-ua-platform","valueProvider":"fieldValue","value":"\"Linux\""},{"name":"sec-ch-ua-platform-version","valueProvider":"fieldValue","value":"\"6.8.0\""},{"name":"sec-ch-ua-wow64","valueProvider":"fieldValue","value":"?0"},{"name":"sec-fetch-dest","valueProvider":"fieldValue","value":"document"},{"name":"sec-fetch-mode","valueProvider":"fieldValue","value":"navigate"},{"name":"sec-fetch-site","valueProvider":"fieldValue","value":"none"},{"name":"sec-fetch-user","valueProvider":"fieldValue","value":"?1"},{"name":"upgrade-insecure-requests","valueProvider":"fieldValue","value":"1"},{"name":"user-agent","valueProvider":"fieldValue","value":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36"},{"name":"x-browser-channel","valueProvider":"fieldValue","value":"beta"},{"name":"x-browser-copyright","valueProvider":"fieldValue","value":"Copyright 2025 Google LLC. All rights reserved."},{"name":"x-browser-validation","valueProvider":"fieldValue","value":"ctYldj7UqvsGWB62N+qJrQZxvXA="},{"name":"x-browser-year","valueProvider":"fieldValue","value":"2025"},{"name":"x-client-data","valueProvider":"fieldValue","value":"CKG1yQEIkbbJAQijtskBCKqdygEIlYzLAQiUocsBCNb0zQEI/qXOAQjEzc4BCJbOzgEIo9DOAQjH0c4BCILTzgEIstTOAQi21c4BCJrWzgEI2NbOAQjU184BCP/ZzgEI+eTOAQiM5s4BCNvmzgEI6efOAQiD6M4BCJLozgEIk+jOAQjG6M4BCJzpzgEIpenOAQjU6c4BCNrpzgEYttDOARjf0c4BGPbezgEY7d/OARiq6s4BGKzqzgEYverOAQ=="},{"name":"cookie","valueProvider":"fieldValue","value":"SID=g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0hv3FNXXaa29QahARjCrHvywACgYKAYcSARESFQHGX2MiB3qFE1Kw8zxwvga42JCS_RoVAUF8yKpzbYunt7xi4HoYlRXebebY0076;__Secure-1PSID=g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0h7QIdEHpm5g7fJ-Mz5KKjbwACgYKAScSARESFQHGX2Mi1clA1j-EtpfCVdPvfmW2eRoVAUF8yKp7mWUjyMP3gkOM6Xbipzhj0076;__Secure-3PSID=g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0hqTJrtrOYUL_3ILHlCVjzzAACgYKASkSARESFQHGX2MiB8A4u5Vf7ZGP34H64SyfqhoVAUF8yKqQzuVRUsS_vo9wNt4O2W8f0076;HSID=A9a7ofsCEbgRkIo-a;SSID=A_SpYWMzN5Aphkb9X;APISID=lgO-i_KUJJ39FOG6/A4DaXABZVs_SMq8v3;SAPISID=O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ;__Secure-1PAPISID=O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ;__Secure-3PAPISID=O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ;OSID=g.a000wAiXIoDw3dofkjAv3JIrvyJGa-Pjc-iRQVAc4wqrkrlSpp-JR432U-FMCKBPapYAIwB-BwACgYKAU8SARESFQHGX2MibGSaaWHMCYR2DV7IqLyu3BoVAUF8yKpxbCzuBbG9dyYI-Bq7Un3W0076;__Secure-OSID=g.a000wAiXIoDw3dofkjAv3JIrvyJGa-Pjc-iRQVAc4wqrkrlSpp-JmsRpbC5Gn-9R_uNYbkYeOAACgYKAdsSARESFQHGX2Mi3qS3VoZs6WDknzquFBa8ThoVAUF8yKoYneeXdEH3BrH_POy0HgG_0076;OTZ=8050326_28_28__28_;NID=523=lgrQ8cvTjCLMOJ-PMd2kynVxvK-2QJOi8wW4Fqn_an4ZwxVltJSOjFbzZONt_eF9fr7g4rHvF7nXwmq_vp0S7UhMRTKSsfsIJ9rRQoTCJVQiDAeHYpqoqGyCIYXzSv5JsyxEdtyIMbXT4hLFJwY8hA73IM77epbgKzJWnSv1n9Ydyu4jE_1CBao7iET3VKm34cIPjGWCx9528at_2gtAWORNF-gVq7vWyWf8Bk4;_ga=GA1.3.2123990946.1745323536;_gid=GA1.3.2125380534.1745723612;__Secure-1PSIDTS=sidts-CjIBjplskNuud68yQBpPG_HApMyQeNsw8R2iFzVswG5zPapy6S1XXijJBNOP1jIxkh49uRAA;__Secure-3PSIDTS=sidts-CjIBjplskNuud68yQBpPG_HApMyQeNsw8R2iFzVswG5zPapy6S1XXijJBNOP1jIxkh49uRAA;_ga_60Q1X42Z2X=GS1.1.1745723611.2.1.1745723667.0.0.0;_ga_S6TL92G5N1=GS1.1.1745723611.2.1.1745723667.0.0.0;SIDCC=AKEyXzUK8OFNMXo1J5kDsRmF9_pwSE2Y-9PKB71AXqGBvsjwz878hSDfwYOD-hOzSxfH_MYAocM;__Secure-1PSIDCC=AKEyXzU6jsjGEpzIFNbhrzeLjLwTnCqV6V-cNTAFp8f65X3S3aSjcTMI4bqz5539NQzFHEdong;__Secure-3PSIDCC=AKEyXzVENldu4WnrzVhVaL9PLDKeb9cdqcOkNOvkCm2h_7Kox-Hc09Cff0MgqaeK9kk28i7kFQ;"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1160,400],"id":"ad90a285-5629-449c-9ecd-6d62ccc3ff56","name":"HTTP Request"},{"parameters":{"tableName":"n8n_chat_histories_demo"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[820,400],"id":"5bdfc90e-26c3-44ee-b0e0-7d70c7e03ad0","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"2xMfWnaepJwnTFP5","name":"Postgres account"}}},{"parameters":{"sseEndpoint":"http://localhost:5678/mcp/testHR/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1300,400],"id":"f44423df-d5cd-4a87-90eb-72ff93de3701","name":"EmployeeSeat"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are an intelligent assistant dedicated to providing information about the company's staff and office seating arrangements.\n\nYou can use EmployeeSeatNode tool to get nescessary infomation.\n\nYou have access to detailed internal data through available tools, including:\n- Staff categorized by branch, job role, and work shift.\n- Current seating positions and office layouts.\n- Special cases such as maternity leave, new joiners, and monthly leave types.\n\nYou are provided with multiple datasets representing various staff metrics.\n\nEach dataset is identified by a specific `param` keyword:\n\n- `staffBranchNow`: \"Current Employees by Branch\" (Rows(top→bottom): HCMC, MĐ, TC, TC 3D, TC CE, WFH, Total || Columns(left→right): Handover, On duty, Total)\n- `staffCategoryNow`: \"Current Employees by Job Role\" (Rows(top→bottom): 3D, Admin, BOD, Data CE, Data WF, Other, PTS, Total || Columns(left→right): Handover, On duty, Total)\n- `staffShiftNow`: \"Current Shift-Based Employees\" (Rows(top→bottom): Day-shift, Night Shift, Part-time, Part-time (AM), Part-time (PM), Slide-shift, Total || Columns(left→right): Handover, On duty, Total)\n- `seatOffice`: \"Current Office Seats by Branch\" (Rows(top→bottom): Amount || Columns(left→right): HCMC, MD, TC - T3, TC - T4, TC - T5, Total)\n- `pregnant`: \"Maternity/pregnant Employees Leave Overview\" (Rows(top→bottom):  On Maternity Leave, Maternity Leave Upcoming, Total || Columns(left→right): MD, TC, TC CE, WFH, Total)\n- `offMonthlyType`: \"Monthly Employee Leave by Leave Type\" (Rows(top→bottom): Unplanned Leave, On-Time Leave, Early Planned Leave, Total || Columns(left→right): January, February, March, April, May, June, Total)\n- `offMonthlyBranch`: \"Monthly Employees Leave by Branch\" (Rows(top→bottom): _, HCMC, MĐ, TC, TC CE, WFH, Total || Columns(left→right): January, February, March, April, May, June, Total)\n- `offMonthlyShift`: \"Monthly Employees Leave by Role\" (Rows(top→bottom): _, Day-shift, Night-shift, Slide-shift, Total || Columns: January, February, March, April, May, June, Total)\n- `offMonthlyCategory`: \"Monthly Employees Leave by Role\" (Rows: Admin, Data CE, Data WF, PTS, Total || Columns(left→right): January, February, March, April, May, June, Total)\n- `newMonthlyBranch`: \"Monthly New Employees hires by Branch\" (Rows(top→bottom): HCMC, MĐ, TC, TC 3D, TC CE, WFH, Total || Columns(left→right): January, February, March, April, May, June, July, August, September, October, November, December, Total)\n- `newMonthlyCategory`: \"Monthly New Employees Hires by Role\" (Rows(top→bottom): Admin, Data CE, Data WF, Other, PTS, Total || Columns(left→right): January, February, March, April, May, Total)\n- `newMonthlyShift`: \"Monthly Shift-Based New Employees Hires\" (Rows(top→bottom): Day-shift, Night Shift, Part-time (AM), Slide-shift, Total || Columns(left→right): January, February, March, April, May, Total)\n- `staffYear`: \"Employees Tenure by Branch\" (Rows(top→bottom): from 1 to 2 years, from 2 to 3 years, from 2 to 6 months, from 3 to 4 years, from 4 to 5 years, from 5 to 6 years, from 6 months to 1 year, from 6 to 7 ears, from 7 to 8 years, from 8 to 9 years, from 9 to 10 years, Probation, >10 years, Total || Columns(left→right): HCMC, MĐ, TC, TC 3D, TC CE, WFH, Total)\n\nEach dataset:\n\n- Each row represents one abstract object.\n- Each column represents one abstract object.\n- The last column is always the row total.\n- The last row is always the column total.\n\n---\nWhen the user asks a question:\n\n1. **Identify** the correct dataset by analyzing the intent and matching the best `param`.\n2. **Send** the `param` as input to the backend tool.\n3. **Receive** a 2D list with rows, columns, and totals.\n4. **Validate** that row and column totals are correct.\n5. **Present** the full table first.\n6. **Then** answer any specific cell, row, column, or overall total queries.\n6. **Finally** always response up-to-date information."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1040,160],"id":"114c1b7f-2975-4126-9fcc-7e407c3d79a2","name":"AI Agent"},{"parameters":{"name":"EquipmentInventoryTool","description":"Call this tool to get device information detail in inventory list.","workflowId":{"__rl":true,"value":"pvPfCc6ewSSg3hRY","mode":"list","cachedResultName":"CheckDevice"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[680,200],"id":"fb2b5532-cde3-4157-a5d9-c32addd27498","name":"EquipmentInventoryTool"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[460,200],"id":"92def4d1-104c-41bd-8aa3-45756b0e9847","name":"Simple Memory"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[]]},"EmployeeSeat":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"EquipmentInventoryTool":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fc3c4e52-25a7-4e0f-96e9-d9b2b3453efe","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-04-27T05:47:19.342Z","createdAt":"2025-04-27T05:47:19.342Z","role":"workflow:owner","workflowId":"jw4HcAlyOJbfvbq5","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}