n8n_basics-s7vWqJWj7yfFt8CU.json
{"updatedAt":"2025-10-10T04:52:29.402Z","createdAt":"2025-10-10T04:52:29.402Z","id":"s7vWqJWj7yfFt8CU","name":"n8n Basics","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## ... now let's schedule it ⏰\n\n1. Double-click “Schedule” to set when it runs\n\n2. Connect your Gmail and set the recepient\n\n3. To test, click “Execute workflow” on \nthe \"Schedule\" node","height":208,"width":1072,"color":7},"id":"ddf6bdb8-b608-4a87-82c8-f17c5d1eb44e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,688],"typeVersion":1},{"parameters":{"content":"","height":208,"width":230,"color":3},"id":"81b1d46b-d153-41cc-aa13-20ccd48e47c2","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1776,688],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"4f9e88f1-98a1-48d8-afb6-172278a98376","name":"Schedule me here","type":"n8n-nodes-base.scheduleTrigger","position":[1152,720],"notesInFlow":true,"typeVersion":1.2,"notes":"Double-click to set!"},{"parameters":{"assignments":{"assignments":[{"id":"fa43a283-e401-46e3-bf3c-9cc7fb7dae2f","name":"quote","type":"string","value":"={{ $json.q }}"},{"id":"c16964d2-b6a6-40d4-a4d2-bef0760d0d26","name":"author","type":"string","value":"={{ $json.a }}"}]},"options":{}},"id":"dbf22515-0068-4a65-99d5-c9b41da073e2","name":"Results","type":"n8n-nodes-base.set","position":[1616,720],"notesInFlow":true,"typeVersion":3.4},{"parameters":{"url":"https://zenquotes.io/api/random","options":{}},"id":"a50343ac-98ec-44d4-91f0-65296f45f9f5","name":"Get quote","type":"n8n-nodes-base.httpRequest","position":[1376,720],"notesInFlow":true,"typeVersion":4.2},{"parameters":{"subject":"Daily quote","emailType":"text","message":"=Hey,\n\nHere's a quote by {{ $json.author }}:\n\n\"{{ $json.quote }}\"","options":{}},"id":"fd6d2436-5cc0-4082-a72a-a57cf7e147c8","name":"Connect your Gmail","type":"n8n-nodes-base.gmail","position":[1840,720],"webhookId":"83a06a0c-4824-44ea-b593-18917e1b3fe4","notesInFlow":true,"typeVersion":2.1,"notes":"Double-click here to connect!"},{"parameters":{"content":"","height":208,"width":198,"color":3},"id":"188ddf1e-c21e-48ed-aed7-9df8f91bed85","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[1104,688],"typeVersion":1},{"parameters":{"content":"## 🚀🚀 Start here 🚀🚀\n\n1. Click “Execute workflow” to run it\n\n2. This gets a random quote from the internet\n\n3. Double-click the last node to check what\nquote you got\n","height":208,"width":1088,"color":7},"id":"86e82575-dab9-414b-b83c-265cc8ddf0b5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[704,64],"typeVersion":1},{"parameters":{},"id":"3a7518d0-a0c5-4fdc-bad9-e808f844cf8a","name":"1. Click 'Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[1136,96],"notesInFlow":false,"typeVersion":1,"notes":"\n"},{"parameters":{"url":"https://zenquotes.io/api/random","options":{}},"id":"a8e2d4a9-c601-421b-bafe-a3366a298861","name":"2. Get inspirational quote from the internet","type":"n8n-nodes-base.httpRequest","position":[1360,96],"notesInFlow":true,"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"fa43a283-e401-46e3-bf3c-9cc7fb7dae2f","name":"quote","type":"string","value":"={{ $json.q }}"},{"id":"c16964d2-b6a6-40d4-a4d2-bef0760d0d26","name":"author","type":"string","value":"={{ $json.a }}"}]},"options":{}},"id":"554fdbad-6cfa-4934-b966-b0a3af59e483","name":"3. See the resutls","type":"n8n-nodes-base.set","position":[1600,96],"notesInFlow":true,"typeVersion":3.4,"notes":"Double-click to open!"},{"parameters":{"content":"","height":208,"width":198,"color":3},"id":"260b61ae-8d17-499b-bf52-5405905c550e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1088,64],"typeVersion":1},{"parameters":{"content":"## ❓ How about a joke...\n\n1. Execute this workflow\n\n2. Check out the new \"Programming Joke\"\n\n3. Try mapping the new results and add them to\nyour email","height":224,"width":1520,"color":7},"id":"335ea081-8447-4f47-8db5-7b12d9867351","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[736,1296],"typeVersion":1},{"parameters":{"content":"","height":224,"width":198,"color":3},"id":"a5a005fc-96ac-415a-895b-2c2ae8951db0","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1808,1296],"typeVersion":1},{"parameters":{"url":"https://zenquotes.io/api/random","options":{}},"id":"ec68d07e-8673-4a9c-9274-712eaefe32cb","name":"Quote","type":"n8n-nodes-base.httpRequest","position":[1408,1344],"notesInFlow":true,"typeVersion":4.2},{"parameters":{"rule":{"interval":[{"field":"months","monthsInterval":12,"triggerAtHour":6}]}},"id":"d46d0da3-8a90-49f0-a97b-5ea3cc17fff1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1168,1344],"notesInFlow":true,"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"57322775-a00d-47f5-9424-3188ca2e46e6","name":"author","type":"string","value":"="},{"id":"1b141196-bc29-49d9-9e10-78bf17975cee","name":"quote","type":"string","value":"="},{"id":"b33e5122-1419-4bae-bfd5-0d5fb22a95f2","name":"joke","type":"string","value":"="}]},"options":{}},"id":"9b7fb275-727a-49ec-9695-0ab72bc3171d","name":"Map the fields","type":"n8n-nodes-base.set","position":[1856,1344],"notesInFlow":true,"typeVersion":3.4,"notes":"Double-click to set!"},{"parameters":{"url":"=https://v2.jokeapi.dev/joke/Programming?blacklistFlags=nsfw,religious,political,racist,sexist,explicit&type=single","options":{}},"id":"16da4423-1d01-4497-bc2e-c55e4fc9e55b","name":"Programming joke","type":"n8n-nodes-base.httpRequest","position":[1648,1344],"notesInFlow":true,"typeVersion":4.2,"notes":"Check out after running!"},{"parameters":{"content":"@[youtube](dKTcAfBfFLU)","height":400,"width":704,"color":7},"id":"5c5da319-850a-46ee-b72c-ebe574ecd1ad","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-32,-48],"typeVersion":1},{"parameters":{"content":"@[youtube](LdE0KnhRtsY)","height":400,"width":720,"color":7},"id":"11091a79-6698-426f-a1a6-3347cf6fd495","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-16,1200],"typeVersion":1},{"parameters":{"content":"@[youtube](5CBUXMO_L2Y)","height":400,"width":720,"color":7},"id":"c9aaa0ea-0606-4a77-bcf6-1aa58f2f36cd","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-32,576],"typeVersion":1},{"parameters":{"content":"# Step 1","height":544,"width":1936,"color":5},"id":"c14d5c5e-d7ff-4c35-89b7-a3d48c194c92","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[-80,-144],"typeVersion":1},{"parameters":{"content":"# Step 2","height":560,"width":2144,"color":5},"id":"3e873a39-24cd-4e7b-82b4-80a3723879cc","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-80,464],"typeVersion":1},{"parameters":{"content":"# Step 3","height":560,"width":2400,"color":5},"id":"ea3b23c9-27a4-410d-a1b9-d7abaf537924","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-80,1088],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Click + to add Gmail","height":224,"width":214,"color":3},"id":"fa812e3e-31e0-4272-ba30-da5c1c9fd8dd","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[2048,1296],"typeVersion":1}],"connections":{"Quote":{"main":[[{"node":"Programming joke","type":"main","index":0}]]},"Results":{"main":[[{"node":"Connect your Gmail","type":"main","index":0}]]},"Get quote":{"main":[[{"node":"Results","type":"main","index":0}]]},"Programming joke":{"main":[[{"node":"Map the fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Quote","type":"main","index":0}]]},"Schedule me here":{"main":[[{"node":"Get quote","type":"main","index":0}]]},"1. Click 'Execute workflow’":{"main":[[{"node":"2. Get inspirational quote from the internet","type":"main","index":0}]]},"2. Get inspirational quote from the internet":{"main":[[{"node":"3. See the resutls","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b2171744-2833-416d-90e3-4b67f4a5b18e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-10T04:52:29.406Z","createdAt":"2025-10-10T04:52:29.406Z","role":"workflow:owner","workflowId":"s7vWqJWj7yfFt8CU","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}