p1_-_materialbank_dispatcher-qu1V8fYBWt1MUqBW.json
{"updatedAt":"2025-10-30T02:13:11.000Z","createdAt":"2025-10-09T03:11:58.561Z","id":"qu1V8fYBWt1MUqBW","name":"P1 - MaterialBank Dispatcher","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5632,4288],"id":"780b4346-2aa7-4d4f-88b1-7456b97911bc","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"={{ $json['Site PDF'] }}","options":{"launchArguments":{"args":[{"arg":"--no-sandbox"}]}}},"type":"n8n-nodes-puppeteer.puppeteer","typeVersion":1,"position":[-4320,64],"id":"35ed6d85-c58b-413c-b3f9-32ed198acda0","name":"Puppeteer"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-4048,-192],"id":"405a45cf-1990-4b11-96f0-36f3c7e85389","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4032,32],"id":"54cd230d-c68b-4af6-9969-5d17c7566d57","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xojEEzlYFLJmDUW3","name":"Google Gemini(PaLM) Api account vund1209"}}},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"body","extractionValues":{"values":[{"key":"base64","cssSelector":"object#objectPdf","returnValue":"attribute","attribute":"data"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-5136,288],"id":"979d2eeb-04af-4633-a357-95565bbb0acb","name":"HTML"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item;\n// READ from the input field named \"base64\", not \"data\"\nconst dataUri = item.json.base64;\n\nif (dataUri && dataUri.includes(',')) {\n  // Create a new json object that includes all the old data...\n  // ...and OVERWRITE the 'base64' field with the cleaned-up version.\n  item.json = {\n    ...item.json,\n    base64: dataUri.split(',')[1]\n  };\n}\n\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4976,288],"id":"84c0aeaa-d061-421a-ab55-f5ae0db4a959","name":"Code in JavaScript"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-4768,288],"id":"667833e2-7470-4c0a-8142-b9274c14c0dd","name":"Convert to File"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-4592,288],"id":"0fa71d3f-c33a-41f0-b299-486fa96d5e66","name":"Extract from File"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B13:S28"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5136,64],"id":"e841760f-0b28-4dfa-8863-fc34690f6f98","name":"List of Values","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B1:AN2"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5296,64],"id":"7dbd2caf-9808-4c54-a173-11a93cdffe71","name":"Instruction","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":794520309,"mode":"list","cachedResultName":"VU-Architex","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=794520309"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Material Url"],"schema":[{"id":"Material Url","displayName":"Material Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Note","displayName":"Note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MBID","displayName":"MBID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer","displayName":"Manufacturer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer Sku","displayName":"Manufacturer Sku","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Bank SKU","displayName":"Material Bank SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Name","displayName":"Product Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Collection Name","displayName":"Collection Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPS Hierarchy","displayName":"GPS Hierarchy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backing","displayName":"Backing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pile / Face Weight","displayName":"Pile / Face Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Carpet Fiber Type","displayName":"Carpet Fiber Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Overall Thickness","displayName":"Overall Thickness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Construction (Filter)","displayName":"Construction (Filter)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organizational Commitments","displayName":"Organizational Commitments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification","displayName":"Multi Attribute Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification Expiration Date","displayName":"Multi Attribute Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sustainability Action Plan","displayName":"Sustainability Action Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Environmental Product Declaration","displayName":"Environmental Product Declaration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EPD Expiration Date","displayName":"EPD Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Global Warming Potential (GWP)","displayName":"Global Warming Potential (GWP)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GWP Functional Unit","displayName":"GWP Functional Unit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LCA Optimization Plan","displayName":"LCA Optimization Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate","displayName":"VOC Emissions Testing Certificate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate Expiration Date","displayName":"VOC Emissions Testing Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Methodology","displayName":"VOC Emissions Testing Methodology","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FSC Certified Wood","displayName":"FSC Certified Wood","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ingredient Disclosure","displayName":"Ingredient Disclosure","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure/ Certification Expiration Date","displayName":"Disclosure/ Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure Level","displayName":"Disclosure Level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"75% of Ingredients Disclosed","displayName":"75% of Ingredients Disclosed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Industrial Recycled Content Percentage","displayName":"Post-Industrial Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Consumer Recycled Content Percentage","displayName":"Post-Consumer Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bio-Based Content Percentage","displayName":"Bio-Based Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Third-Party Bio-Based Certification","displayName":"Third-Party Bio-Based Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certifications","displayName":"Material Health Certifications","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certificate Expiration Date","displayName":"Material Health Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chemicals of Concern","displayName":"Chemicals of Concern","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturing Location","displayName":"Manufacturing Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End-of-Life Options","displayName":"End-of-Life Options","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RoHS Compliance","displayName":"RoHS Compliance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Electronic Components in Product","displayName":"Electronic Components in Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Target URL","displayName":"Target URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site Content","displayName":"Site Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF","displayName":"Site PDF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"External PDF","displayName":"External PDF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Climate Impact","displayName":"Climate Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Human Health Impact","displayName":"Human Health Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Social Equity Impact","displayName":"Social Equity Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-3440,-192],"id":"8a958d6d-2f97-46d1-81bf-eb8086105049","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"jsCode":"// This code waits for all items from the previous node to arrive,\n// then it returns just ONE item to trigger the next node only once.\nreturn [{ json: { status: 'knowledge_loaded' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4976,64],"id":"52a3d7e7-3fc2-4a3a-9894-dd5dd5f27bb0","name":"knowledge_loaded","executeOnce":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// --- Step 1: Get all the data ---\n\n// The Merge Node has combined everything. Get the merged data.\nconst mergedData = $input.item.json;\n\n// Get the text from the PDF (the Read PDF node usually names this 'text')\nconst pdfText = mergedData.text;\n\n// Get the text from the 'Site Content' column of your sheet\nconst siteContentText = mergedData['Site Content'];\nconst materialURL = mergedData['Material Url'];\n\n// Get the knowledge sources (this logic is the same)\nconst instructions = $items(\"Instruction\")[0].json;\nconst listOfValues = $items(\"List of Values\");\nconst formattedValues = listOfValues.map(item => item.json);\n\n\n// --- Step 2: Reformat the \"List of Values\" to be easier for the AI ---\nconst allowedValues = {};\nfor (const item of listOfValues) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (key === 'row_number' || value === '') continue;\n    if (!allowedValues[key]) {\n      allowedValues[key] = [];\n    }\n    allowedValues[key].push(value);\n  }\n}\n\n\n// --- Step 3: Build the final, optimized prompt with BOTH text sources ---\n\nlet prompt = `You are a highly intelligent data extraction assistant. Your task is to analyze two documents, \"PDF Content\" and \"Site Content\", and populate a JSON object with extreme precision. The PDF is the primary source for technical specifications.\n\nFollow these rules without deviation:\n\nMaterial Url: ${materialURL}\n\n1.  **FIELD DESCRIPTIONS:** Use these descriptions to understand what information to find for each field.\n    \\`\\`\\`json\n    ${JSON.stringify(instructions, null, 2)}\n    \\`\\`\\`\n\n2.  **STRICT VALUE SELECTION:** For the fields listed below, you MUST select a value from the provided array of options.\n    \\`\\`\\`json\n    ${JSON.stringify(allowedValues, null, 2)}\n    \\`\\`\\`\n\n3.  **MISSING DATA:** If you cannot find the information in EITHER document for any field, you MUST return the exact string \"MISSING\".\n\n4.  **DOCUMENTS TO ANALYZE:**\n    ---PDF CONTENT START---\n    ${pdfText}\n    ---PDF CONTENT END---\n\n    ---SITE CONTENT START---\n    ${siteContentText}\n    ---SITE CONTENT END---\n\n5.  **OUTPUT:** Your response must be ONLY the raw JSON object itself, starting with { and ending with }.`;\n\nreturn { json: { prompt: prompt } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4176,288],"id":"c66e409f-669d-42c8-ae97-5eb7c8db075d","name":"prompt_generator"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":794520309,"mode":"list","cachedResultName":"VU-Architex","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=794520309"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4768,64],"id":"b7f7b6ff-17a8-4576-8d6f-7dbbab123963","name":"Sheet Data","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-4368,304],"id":"bd022a38-eec9-48be-8ece-a74cb9d56362","name":"Merge"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rawOutput = $input.item.json.output;\n\n// This regular expression finds the content between the first { and the last }\nconst jsonRegex = /({[\\s\\S]*})/;\nconst match = rawOutput.match(jsonRegex);\n\n// Check if a JSON object was found in the text\nif (match && match[1]) {\n  const cleanJsonString = match[1];\n  \n  // Now, parse the CLEAN string\n  const parsedJson = JSON.parse(cleanJsonString);\n  \n  // Return the final, usable JSON object\n  return { json: parsedJson };\n} else {\n  // If no JSON was found at all, return an error to make it easy to see\n  return { json: { error: \"Could not find a JSON object in the AI's output.\", rawOutput: rawOutput } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3680,-192],"id":"b8268cf7-b2e9-44b9-b096-1b841032d31e","name":"Final JSON"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce1d58d7-7a8f-44e5-8628-18fa776318d3","leftValue":"={{ $json['Site PDF'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"092a020c-1f1e-44ca-982f-bc640e6f5b44","leftValue":"={{ $json['Site PDF'] }}","rightValue":"N/A","operator":{"type":"string","operation":"notEquals"}},{"id":"c6307091-9736-4d3d-b4a3-ba4f157bc653","leftValue":"={{ $json['Site PDF'] }}","rightValue":"Lỗi: HTTP error! status: 404","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-4592,64],"id":"cb7aa9a1-33c1-4579-bbe6-ab86f76de2d6","name":"Filter"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4496,-176],"id":"97497da2-ba3c-4e66-91f3-e59a0ce93126","name":"Loop Over Items"},{"parameters":{"content":"## https://www.architex-ljh.com"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5296,-144],"id":"424b3f59-9a66-4835-9627-5af9f0bee526","name":"Sticky Note"},{"parameters":{"content":"## Pallas Textiles"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5296,608],"id":"3fdab55f-5626-4f58-a386-3edbf04ed75d","name":"Sticky Note1"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B13:S28"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5152,1184],"id":"834d4a86-a05e-48dd-af12-6e6e3d09e3b3","name":"List of Values1","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B1:AN2"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5312,1184],"id":"ac96e949-e7a1-45c9-93f4-ee758e29a97b","name":"Instruction1","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"jsCode":"// This code waits for all items from the previous node to arrive,\n// then it returns just ONE item to trigger the next node only once.\nreturn [{ json: { status: 'knowledge_loaded' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4992,1184],"id":"5a2a7133-c569-4608-818f-0278fe7a54de","name":"knowledge_loaded1","executeOnce":true},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":869626057,"mode":"list","cachedResultName":"VU-Pallas Textiles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=869626057"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4784,1184],"id":"70a7d88b-b3e0-43f6-8948-50d9d5941007","name":"Sheet Data1","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce1d58d7-7a8f-44e5-8628-18fa776318d3","leftValue":"={{ $json['Site PDF'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"092a020c-1f1e-44ca-982f-bc640e6f5b44","leftValue":"={{ $json['Site PDF'] }}","rightValue":"N/A","operator":{"type":"string","operation":"notEquals"}},{"id":"c6307091-9736-4d3d-b4a3-ba4f157bc653","leftValue":"={{ $json['Site PDF'] }}","rightValue":"Lỗi: HTTP error! status: 404","operator":{"type":"string","operation":"notEquals"}},{"id":"5472b151-cd28-406f-99f0-ecab0d2cb50a","leftValue":"={{ $json['Material Url'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"110155f9-c547-4c47-81e4-a71ce2b7c834","leftValue":"={{ $json['Climate Impact'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-4784,1008],"id":"04edd27c-92bb-4dd0-becf-c548fbca0911","name":"Filter1"},{"parameters":{"url":"={{ $json['Site PDF'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4336,656],"id":"35665c49-117a-483a-b1bb-47968d2da600","name":"HTTP Request","retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3600,784],"id":"3f68c6fa-cb42-4862-a31d-14fb178fd7de","name":"Merge1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// --- Step 1: Get all the data ---\n// Get the single input item which contains BOTH the binary 'data' and the 'json' properties\nconst item = $input.item;\n// The Merge Node has combined everything. Get the merged data.\nconst mergedData = $input.item.json;\n\n// Get the text from the PDF (the Read PDF node usually names this 'text')\nconst pdfText = mergedData.text;\n\n// Get the text from the 'Site Content' column of your sheet\nconst siteContentText = mergedData['Site Content'];\nconst materialURL = mergedData['Material Url'];\n\n// Get the knowledge sources (this logic is the same)\nconst instructions = $items(\"Instruction1\")[0].json;\nconst listOfValues = $items(\"List of Values1\");\nconst formattedValues = listOfValues.map(item => item.json);\n\n\n// --- Step 2: Reformat the \"List of Values\" to be easier for the AI ---\nconst allowedValues = {};\nfor (const item of listOfValues) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (key === 'row_number' || value === '') continue;\n    if (!allowedValues[key]) {\n      allowedValues[key] = [];\n    }\n    allowedValues[key].push(value);\n  }\n}\n\n\n// --- Step 3: Build the final, optimized prompt with BOTH text sources ---\n\nlet prompt = `You are a highly intelligent data extraction assistant. Your task is to analyze from image and documents, image content, \"PDF Content\" and \"Site Content\", and populate a JSON object with extreme precision. The PDF is the primary source for technical specifications.\n\nFollow these rules without deviation:\n\nMaterial Url: ${materialURL}\n\n1.  **FIELD DESCRIPTIONS:** Use these descriptions to understand what information to find for each field.\n    \\`\\`\\`json\n    ${JSON.stringify(instructions, null, 2)}\n    \\`\\`\\`\n\n2.  **STRICT VALUE SELECTION:** For the fields listed below, you MUST select a value from the provided array of options.\n    \\`\\`\\`json\n    ${JSON.stringify(allowedValues, null, 2)}\n    \\`\\`\\`\n\n3.  **MISSING DATA:** If you cannot find the information in EITHER document for any field, you MUST return the exact string \"MISSING\".\n\n4.  **DOCUMENTS TO ANALYZE:**\n    Image contains information\n\n    ---PDF CONTENT START---\n    ${pdfText}\n    ---PDF CONTENT END---\n    \n    ---SITE CONTENT START---\n    ${siteContentText}\n    ---SITE CONTENT END---\n\n5.  **OUTPUT:** Your response must be ONLY the raw JSON object itself, starting with { and ending with }.`;\n// --- NEW FINAL STEP: Add the prompt to the existing item ---\nitem.json.prompt = prompt;\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3376,1184],"id":"8c7e846f-d479-4cc8-920d-54d1e8633d75","name":"prompt_generator1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4592,816],"id":"2afc4ed7-cf98-4958-bbcf-eedaad5fafe3","name":"Loop Over Items1"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-4496,1552],"id":"74300481-54cb-446b-8a5c-424511d99863","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4496,1744],"id":"5a3d71c2-25b1-4dc5-bf85-a9f4268d766b","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"jtDkPoeo7ImXTwhi","name":"00021"}}},{"parameters":{"command":"/usr/bin/convert -density 300 /tmp/pallas/input.pdf /tmp/pallas/output.png"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-4016,656],"id":"02026f32-46ab-4e89-82ef-be04add6fe0b","name":"Execute Command"},{"parameters":{"operation":"write","fileName":"/tmp/pallas/input.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-4176,656],"id":"ba56af39-95e6-4161-930f-5ee84b7a6f3d","name":"Read/Write Files from Disk"},{"parameters":{"fileSelector":"/tmp/pallas/output.png","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-3840,656],"id":"e25d956c-2eb5-4f1f-8268-264a47b85634","name":"Read/Write Files from Disk1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rawOutput = $input.item.json.output;\n\n// This regular expression finds the content between the first { and the last }\nconst jsonRegex = /({[\\s\\S]*})/;\nconst match = rawOutput.match(jsonRegex);\n\n// Check if a JSON object was found in the text\nif (match && match[1]) {\n  const cleanJsonString = match[1];\n  \n  // Now, parse the CLEAN string\n  const parsedJson = JSON.parse(cleanJsonString);\n  \n  // Return the final, usable JSON object\n  return { json: parsedJson };\n} else {\n  // If no JSON was found at all, return an error to make it easy to see\n  return { json: { error: \"Could not find a JSON object in the AI's output.\", rawOutput: rawOutput } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4192,1552],"id":"9003f700-9f14-4648-87fe-d3aa75f3a169","name":"Final JSON1"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":869626057,"mode":"list","cachedResultName":"VU-Pallas Textiles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=869626057"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Material Url"],"schema":[{"id":"Material Url","displayName":"Material Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Note","displayName":"Note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MBID","displayName":"MBID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer","displayName":"Manufacturer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer Sku","displayName":"Manufacturer Sku","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Bank SKU","displayName":"Material Bank SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Name","displayName":"Product Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Collection Name","displayName":"Collection Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPS Hierarchy","displayName":"GPS Hierarchy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backing","displayName":"Backing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pile / Face Weight","displayName":"Pile / Face Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Carpet Fiber Type","displayName":"Carpet Fiber Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Overall Thickness","displayName":"Overall Thickness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Construction (Filter)","displayName":"Construction (Filter)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organizational Commitments","displayName":"Organizational Commitments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification","displayName":"Multi Attribute Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification Expiration Date","displayName":"Multi Attribute Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sustainability Action Plan","displayName":"Sustainability Action Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Environmental Product Declaration","displayName":"Environmental Product Declaration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EPD Expiration Date","displayName":"EPD Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Global Warming Potential (GWP)","displayName":"Global Warming Potential (GWP)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GWP Functional Unit","displayName":"GWP Functional Unit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LCA Optimization Plan","displayName":"LCA Optimization Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate","displayName":"VOC Emissions Testing Certificate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate Expiration Date","displayName":"VOC Emissions Testing Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Methodology","displayName":"VOC Emissions Testing Methodology","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FSC Certified Wood","displayName":"FSC Certified Wood","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ingredient Disclosure","displayName":"Ingredient Disclosure","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure/ Certification Expiration Date","displayName":"Disclosure/ Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure Level","displayName":"Disclosure Level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"75% of Ingredients Disclosed","displayName":"75% of Ingredients Disclosed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Industrial Recycled Content Percentage","displayName":"Post-Industrial Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Consumer Recycled Content Percentage","displayName":"Post-Consumer Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bio-Based Content Percentage","displayName":"Bio-Based Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Third-Party Bio-Based Certification","displayName":"Third-Party Bio-Based Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certifications","displayName":"Material Health Certifications","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certificate Expiration Date","displayName":"Material Health Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chemicals of Concern","displayName":"Chemicals of Concern","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturing Location","displayName":"Manufacturing Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End-of-Life Options","displayName":"End-of-Life Options","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RoHS Compliance","displayName":"RoHS Compliance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Electronic Components in Product","displayName":"Electronic Components in Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PDFs","displayName":"PDFs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Target URL","displayName":"Target URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site Content","displayName":"Site Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF","displayName":"Site PDF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4000,1552],"id":"1064cac1-3880-4b8e-b691-edd58d308c94","name":"Append or update row in sheet1","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"url":"={{ $json.PDFs }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4176,960],"id":"65965636-0eb0-46cb-b3db-52c2df25995b","name":"HTTP Request1"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-4000,960],"id":"97700c2f-bd71-4391-bc69-8b83020339f7","name":"Extract from File1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4c4f0b72-3e5c-4c75-a4c7-ecf739f1b104","leftValue":"={{ $json.PDFs }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4416,976],"id":"fcd5153d-5909-4024-8e6d-59222580fcac","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"a9bd4f64-c494-4570-a4a5-88d699f72797","name":"text","value":"No pdf file","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4176,1152],"id":"551bbe1c-a47f-41d2-8280-019dc8fa1625","name":"Edit Fields"},{"parameters":{"content":"## jamesdunloptextiles.com","height":144,"width":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2464,-176],"id":"c4dc46e2-450b-43c1-bfe7-d17bfa3aeaee","name":"Sticky Note2"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B13:S28"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2288,448],"id":"b7390ea5-9fb4-4399-b3aa-fba8a5417550","name":"List of Values2","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B1:AN2"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2448,448],"id":"6d9b9c0f-5a84-417a-88f3-f4fa382ac918","name":"Instruction2","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"jsCode":"// This code waits for all items from the previous node to arrive,\n// then it returns just ONE item to trigger the next node only once.\nreturn [{ json: { status: 'knowledge_loaded' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2128,448],"id":"36464b6b-d33f-41da-b557-427c44ac7735","name":"knowledge_loaded2","executeOnce":true},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1631119947,"mode":"list","cachedResultName":"VU-James Dunlop Textiles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=1631119947"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1920,448],"id":"90dfdccf-6b08-4f21-92e5-cc89406e0b64","name":"Sheet Data2","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce1d58d7-7a8f-44e5-8628-18fa776318d3","leftValue":"={{ $json['Site PDF 1 Redir'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"092a020c-1f1e-44ca-982f-bc640e6f5b44","leftValue":"={{ $json['Site PDF 1 Redir'] }}","rightValue":"N/A","operator":{"type":"string","operation":"notEquals"}},{"id":"c6307091-9736-4d3d-b4a3-ba4f157bc653","leftValue":"={{ $json['Site PDF 1 Redir'] }}","rightValue":"Lỗi: HTTP error! status: 404","operator":{"type":"string","operation":"notEquals"}},{"id":"5472b151-cd28-406f-99f0-ecab0d2cb50a","leftValue":"={{ $json['Material Url'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"110155f9-c547-4c47-81e4-a71ce2b7c834","leftValue":"={{ $json['Climate Impact'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1920,272],"id":"6091c6b1-d5d0-40ca-8e79-c3b868f18261","name":"Filter2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-736,32],"id":"3c4ea240-5176-4871-901a-77caecbbea54","name":"Merge2"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// --- Step 1: Get all the data ---\n// Get the single input item which contains BOTH the binary 'data' and the 'json' properties\nconst item = $input.item;\n// The Merge Node has combined everything. Get the merged data.\nconst mergedData = $input.item.json;\n\n// Get the text from the PDF (the Read PDF node usually names this 'text')\nconst pdfText1 = mergedData.text_pdf1;\nconst pdfText2 = mergedData.text_pdf2;\n\n// Get the text from the 'Site Content' column of your sheet\nconst siteContentText = mergedData['Site Content'];\nconst materialURL = mergedData['Material Url'];\n\n// Get the knowledge sources (this logic is the same)\nconst instructions = $items(\"Instruction2\")[0].json;\nconst listOfValues = $items(\"List of Values2\");\nconst formattedValues = listOfValues.map(item => item.json);\n\n\n// --- Step 2: Reformat the \"List of Values\" to be easier for the AI ---\nconst allowedValues = {};\nfor (const item of listOfValues) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (key === 'row_number' || value === '') continue;\n    if (!allowedValues[key]) {\n      allowedValues[key] = [];\n    }\n    allowedValues[key].push(value);\n  }\n}\n\n\n// --- Step 3: Build the final, optimized prompt with BOTH text sources ---\n\nlet prompt = `You are a highly intelligent data extraction assistant. Your task is to analyze from documents, \"PDF 1 Content\",\"PDF 2 Content\" and \"Site Content\", and populate a JSON object with extreme precision. The PDF is the primary source for technical specifications.\n\nFollow these rules without deviation:\n\nMaterial Url: ${materialURL}\n\n1.  **FIELD DESCRIPTIONS:** Use these descriptions to understand what information to find for each field.\n    \\`\\`\\`json\n    ${JSON.stringify(instructions, null, 2)}\n    \\`\\`\\`\n\n2.  **STRICT VALUE SELECTION:** For the fields listed below, you MUST select a value from the provided array of options.\n    \\`\\`\\`json\n    ${JSON.stringify(allowedValues, null, 2)}\n    \\`\\`\\`\n\n3.  **MISSING DATA:** If you cannot find the information in EITHER document for any field, you MUST return the exact string \"MISSING\".\n\n4.  **DOCUMENTS TO ANALYZE:**\n\n    ---PDF 1 CONTENT START---\n    ${pdfText1}\n    ---PDF 1 CONTENT END---\n    ---PDF 2 CONTENT START---\n    ${pdfText2}\n    ---PDF 2 CONTENT END---\n    ---SITE CONTENT START---\n    ${siteContentText}\n    ---SITE CONTENT END---\n\n5.  **OUTPUT:** Your response must be ONLY the raw JSON object itself, starting with { and ending with }.`;\n\nreturn { json: { prompt: prompt } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,448],"id":"f05a9cde-16e0-4018-bf3a-7a401cffa587","name":"prompt_generator2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1728,64],"id":"fd1cbd2f-0c13-42cb-a719-89a5a84300c2","name":"Loop Over Items2"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1632,816],"id":"c6236fbc-c66c-4d81-8f88-26ecdf9bda66","name":"AI Agent2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1632,1008],"id":"da8d5274-2d40-4d51-95de-480e367d7390","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"jtDkPoeo7ImXTwhi","name":"00021"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rawOutput = $input.item.json.output;\n\n// This regular expression finds the content between the first { and the last }\nconst jsonRegex = /({[\\s\\S]*})/;\nconst match = rawOutput.match(jsonRegex);\n\n// Check if a JSON object was found in the text\nif (match && match[1]) {\n  const cleanJsonString = match[1];\n  \n  // Now, parse the CLEAN string\n  const parsedJson = JSON.parse(cleanJsonString);\n  \n  // Return the final, usable JSON object\n  return { json: parsedJson };\n} else {\n  // If no JSON was found at all, return an error to make it easy to see\n  return { json: { error: \"Could not find a JSON object in the AI's output.\", rawOutput: rawOutput } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1328,816],"id":"e8427ee3-a130-4a37-9b1d-81d2109e3328","name":"Final JSON2"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1631119947,"mode":"list","cachedResultName":"VU-James Dunlop Textiles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=1631119947"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Material Url"],"schema":[{"id":"Material Url","displayName":"Material Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Note","displayName":"Note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MBID","displayName":"MBID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer","displayName":"Manufacturer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer Sku","displayName":"Manufacturer Sku","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Bank SKU","displayName":"Material Bank SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Name","displayName":"Product Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Collection Name","displayName":"Collection Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPS Hierarchy","displayName":"GPS Hierarchy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backing","displayName":"Backing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pile / Face Weight","displayName":"Pile / Face Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Carpet Fiber Type","displayName":"Carpet Fiber Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Overall Thickness","displayName":"Overall Thickness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Construction (Filter)","displayName":"Construction (Filter)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organizational Commitments","displayName":"Organizational Commitments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification","displayName":"Multi Attribute Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification Expiration Date","displayName":"Multi Attribute Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sustainability Action Plan","displayName":"Sustainability Action Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Environmental Product Declaration","displayName":"Environmental Product Declaration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EPD Expiration Date","displayName":"EPD Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Global Warming Potential (GWP)","displayName":"Global Warming Potential (GWP)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GWP Functional Unit","displayName":"GWP Functional Unit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LCA Optimization Plan","displayName":"LCA Optimization Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate","displayName":"VOC Emissions Testing Certificate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate Expiration Date","displayName":"VOC Emissions Testing Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Methodology","displayName":"VOC Emissions Testing Methodology","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FSC Certified Wood","displayName":"FSC Certified Wood","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ingredient Disclosure","displayName":"Ingredient Disclosure","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure/ Certification Expiration Date","displayName":"Disclosure/ Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure Level","displayName":"Disclosure Level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"75% of Ingredients Disclosed","displayName":"75% of Ingredients Disclosed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Industrial Recycled Content Percentage","displayName":"Post-Industrial Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Consumer Recycled Content Percentage","displayName":"Post-Consumer Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bio-Based Content Percentage","displayName":"Bio-Based Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Third-Party Bio-Based Certification","displayName":"Third-Party Bio-Based Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certifications","displayName":"Material Health Certifications","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certificate Expiration Date","displayName":"Material Health Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chemicals of Concern","displayName":"Chemicals of Concern","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturing Location","displayName":"Manufacturing Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End-of-Life Options","displayName":"End-of-Life Options","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RoHS Compliance","displayName":"RoHS Compliance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Electronic Components in Product","displayName":"Electronic Components in Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PDFs","displayName":"PDFs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Target URL","displayName":"Target URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site Content","displayName":"Site Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 1","displayName":"Site PDF 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 1 Redir","displayName":"Site PDF 1 Redir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 2","displayName":"Site PDF 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 2 Redir","displayName":"Site PDF 2 Redir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Climate Impact","displayName":"Climate Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Human Health Impact","displayName":"Human Health Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Equity Impact","displayName":"Social Equity Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1136,816],"id":"bc3f0af4-5498-4bb4-bd14-d77ba8c96410","name":"Append or update row in sheet2","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1264,-112],"id":"d1292e25-6be2-4f14-9ed5-0b961d3bbfdc","name":"Extract from File2"},{"parameters":{"url":"={{ $json['Site PDF 1 Redir'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1488,-112],"id":"0dd17538-64d1-4419-bc9f-3c37c2b251f9","name":"Site PDF 1 Redir","retryOnFail":true,"waitBetweenTries":3000,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"url":"={{ $json['Site PDF 2 Redir'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1488,128],"id":"b1fc40c2-2402-47d3-bdb9-fe2082730526","name":"Site PDF 2 Redir","retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1264,128],"id":"7dae2a04-a968-4f6d-9960-f4d7e12bab9a","name":"Extract from File3"},{"parameters":{"assignments":{"assignments":[{"id":"74419201-5b6d-443d-b672-7a63ca9dbca5","name":"info.Title_pdf1","value":"={{ $json.info.Title }}","type":"string"},{"id":"392ff210-0aa2-457c-b891-f56f18e1634a","name":"text_pdf1","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,-112],"id":"b650741b-8df6-442c-aa43-3882eb4278b0","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"adc44845-25bd-437e-8bd5-3965c7c6b594","name":"info.Title_pdf2","value":"={{ $json.info.Title }}","type":"string"},{"id":"bf0ab48e-3d77-4621-836d-a151d6052069","name":"text_pdf2","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,128],"id":"a2d2575f-6ea4-4d5d-955d-07ece8e15a33","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"74419201-5b6d-443d-b672-7a63ca9dbca5","name":"info.Title_pdf1","value":"=No file","type":"string"},{"id":"392ff210-0aa2-457c-b891-f56f18e1634a","name":"text_pdf1","value":"=No file","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1264,-288],"id":"d4fcdfc4-baf3-4bc4-b19b-94ae81aa18e8","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"74419201-5b6d-443d-b672-7a63ca9dbca5","name":"info.Title_pdf1","value":"=No file","type":"string"},{"id":"392ff210-0aa2-457c-b891-f56f18e1634a","name":"text_pdf1","value":"=No file","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1264,320],"id":"c7612b60-94fc-40c4-a860-a35e4a1c4378","name":"Edit Fields4"},{"parameters":{"content":"## Garden State Tile","height":144,"width":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2400,1328],"id":"549059ee-7816-4fe0-b498-1ba50cf612c3","name":"Sticky Note3"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B13:S28"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2208,1616],"id":"28f9a004-1ed5-4902-b3a5-81e3225add22","name":"List of Values3","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B1:AN2"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2368,1616],"id":"26e87f2c-7f2a-4ae1-89db-2555d9234d11","name":"Instruction3","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"jsCode":"// This code waits for all items from the previous node to arrive,\n// then it returns just ONE item to trigger the next node only once.\nreturn [{ json: { status: 'knowledge_loaded' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2032,1616],"id":"8187100a-894d-413a-8db8-3dfdc56d562e","name":"knowledge_loaded3","executeOnce":true},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":440306277,"mode":"list","cachedResultName":"VU-Garden State Tile","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=440306277"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1840,1616],"id":"1ff643cb-3bc7-48fc-96b4-d22c74d5dca7","name":"Sheet Data3","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce1d58d7-7a8f-44e5-8628-18fa776318d3","leftValue":"={{ $json['Site Content'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5472b151-cd28-406f-99f0-ecab0d2cb50a","leftValue":"={{ $json['Material Url'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"110155f9-c547-4c47-81e4-a71ce2b7c834","leftValue":"={{ $json['Climate Impact'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1840,1440],"id":"ce7d0214-fee8-4516-989e-e6789eae38e9","name":"Filter3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1648,1440],"id":"fcf7ee57-3efb-48f3-a7be-35131bcf4eda","name":"Loop Over Items3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"718ad56d-8d21-4ab2-b1da-814d77962e1c","leftValue":"={{ $json.PDFs }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1424,1440],"id":"89af73ab-656b-47e2-9811-3a0aa343fa9c","name":"If1"},{"parameters":{"url":"={{ $json.PDFs }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,1264],"id":"b0bb7e72-e47d-41df-ab99-bcd6ae027213","name":"HTTP Request2"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1024,1264],"id":"9d2d9be3-2d3c-47a8-9006-9faf1f0d0a6f","name":"Extract from File4"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-848,1552],"id":"e0eefae1-6ca0-486a-af86-0f6f6cba776c","name":"Merge3"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// --- Step 1: Get all the data ---\n// Get the single input item which contains BOTH the binary 'data' and the 'json' properties\nconst item = $input.item;\n// The Merge Node has combined everything. Get the merged data.\nconst mergedData = $input.item.json;\n\n// Get the text from the PDF (the Read PDF node usually names this 'text')\nconst pdfText = mergedData.text;\n\n// Get the text from the 'Site Content' column of your sheet\nconst siteContentText = mergedData['Site Content'];\nconst materialURL = mergedData['Material Url'];\n\n// Get the knowledge sources (this logic is the same)\nconst instructions = $items(\"Instruction3\")[0].json;\nconst listOfValues = $items(\"List of Values3\");\nconst formattedValues = listOfValues.map(item => item.json);\n\n\n// --- Step 2: Reformat the \"List of Values\" to be easier for the AI ---\nconst allowedValues = {};\nfor (const item of listOfValues) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (key === 'row_number' || value === '') continue;\n    if (!allowedValues[key]) {\n      allowedValues[key] = [];\n    }\n    allowedValues[key].push(value);\n  }\n}\n\n\n// --- Step 3: Build the final, optimized prompt with BOTH text sources ---\n\nlet prompt = `You are a highly intelligent data extraction assistant. Your task is to analyze from documents, \"PDF Content\" and \"Site Content\", and populate a JSON object with extreme precision. The PDF is the primary source for technical specifications.\n\nFollow these rules without deviation:\n\nMaterial Url must be exactly string in this quote: \"${materialURL}\"\n\n1.  **FIELD DESCRIPTIONS:** Use these descriptions to understand what information to find for each field.\n    \\`\\`\\`json\n    ${JSON.stringify(instructions, null, 2)}\n    \\`\\`\\`\n\n2.  **STRICT VALUE SELECTION:** For the fields listed below, you MUST select a value from the provided array of options.\n    \\`\\`\\`json\n    ${JSON.stringify(allowedValues, null, 2)}\n    \\`\\`\\`\n\n3.  **MISSING DATA:** If you cannot find the information in EITHER document for any field, you MUST return the exact string \"MISSING\".\n\n4.  **DOCUMENTS TO ANALYZE:**\n\n    ---PDF CONTENT START---\n    ${pdfText}\n    ---PDF CONTENT END---\n    ---SITE CONTENT START---\n    ${siteContentText}\n    ---SITE CONTENT END---\n\n5.  **OUTPUT:** Your response must be ONLY the raw JSON object itself, starting with { and ending with }.`;\n\nreturn { json: { prompt: prompt } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1584,1792],"id":"faa611dd-50b1-4828-b88d-8c5f9f45dc82","name":"prompt_generator3"},{"parameters":{"assignments":{"assignments":[{"id":"cff54dc1-06f8-4206-8cd3-ac6a84e2f133","name":"text","value":"No PDF file","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,1424],"id":"161846df-e8da-4e71-9d36-b65bf0a7c048","name":"Edit Fields5"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1360,1792],"id":"b1c49976-ab60-492e-8e58-9beaeb226109","name":"AI Agent3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1360,1984],"id":"f8c73faa-b67e-4599-9c51-a66cf07fa5fb","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"JAMpEgCRbuJHQRXU","name":"00013"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rawOutput = $input.item.json.output;\n\n// This regular expression finds the content between the first { and the last }\nconst jsonRegex = /({[\\s\\S]*})/;\nconst match = rawOutput.match(jsonRegex);\n\n// Check if a JSON object was found in the text\nif (match && match[1]) {\n  const cleanJsonString = match[1];\n  \n  // Now, parse the CLEAN string\n  const parsedJson = JSON.parse(cleanJsonString);\n  \n  // Return the final, usable JSON object\n  return { json: parsedJson };\n} else {\n  // If no JSON was found at all, return an error to make it easy to see\n  return { json: { error: \"Could not find a JSON object in the AI's output.\", rawOutput: rawOutput } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1056,1792],"id":"74f28769-f6c6-4805-a594-0daeff0e4cf2","name":"Final JSON3"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":440306277,"mode":"list","cachedResultName":"VU-Garden State Tile","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=440306277"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Material Url"],"schema":[{"id":"Material Url","displayName":"Material Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Note","displayName":"Note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MBID","displayName":"MBID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer","displayName":"Manufacturer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer Sku","displayName":"Manufacturer Sku","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Bank SKU","displayName":"Material Bank SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Name","displayName":"Product Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPS Hierarchy","displayName":"GPS Hierarchy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Collection Name","displayName":"Collection Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backing","displayName":"Backing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pile / Face Weight","displayName":"Pile / Face Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Carpet Fiber Type","displayName":"Carpet Fiber Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Overall Thickness","displayName":"Overall Thickness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Construction (Filter)","displayName":"Construction (Filter)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organizational Commitments","displayName":"Organizational Commitments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification","displayName":"Multi Attribute Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification Expiration Date","displayName":"Multi Attribute Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sustainability Action Plan","displayName":"Sustainability Action Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Environmental Product Declaration","displayName":"Environmental Product Declaration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EPD Expiration Date","displayName":"EPD Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Global Warming Potential (GWP)","displayName":"Global Warming Potential (GWP)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GWP Functional Unit","displayName":"GWP Functional Unit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LCA Optimization Plan","displayName":"LCA Optimization Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate","displayName":"VOC Emissions Testing Certificate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate Expiration Date","displayName":"VOC Emissions Testing Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Methodology","displayName":"VOC Emissions Testing Methodology","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FSC Certified Wood","displayName":"FSC Certified Wood","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ingredient Disclosure","displayName":"Ingredient Disclosure","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure/ Certification Expiration Date","displayName":"Disclosure/ Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure Level","displayName":"Disclosure Level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"75% of Ingredients Disclosed","displayName":"75% of Ingredients Disclosed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Industrial Recycled Content Percentage","displayName":"Post-Industrial Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Consumer Recycled Content Percentage","displayName":"Post-Consumer Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bio-Based Content Percentage","displayName":"Bio-Based Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Third-Party Bio-Based Certification","displayName":"Third-Party Bio-Based Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certifications","displayName":"Material Health Certifications","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certificate Expiration Date","displayName":"Material Health Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chemicals of Concern","displayName":"Chemicals of Concern","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturing Location","displayName":"Manufacturing Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End-of-Life Options","displayName":"End-of-Life Options","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RoHS Compliance","displayName":"RoHS Compliance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Electronic Components in Product","displayName":"Electronic Components in Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PDFs","displayName":"PDFs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Target URL","displayName":"Target URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site Content","displayName":"Site Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 1","displayName":"Site PDF 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 1 Redir","displayName":"Site PDF 1 Redir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 2","displayName":"Site PDF 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 2 Redir","displayName":"Site PDF 2 Redir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Climate Impact","displayName":"Climate Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Human Health Impact","displayName":"Human Health Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Equity Impact","displayName":"Social Equity Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-864,1792],"id":"5739427c-22a9-42cc-85f1-b6b9d36a3d10","name":"Append or update row in sheet3","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"content":"## Flow dùng chung"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5296,2080],"id":"e1f250c5-30ba-4e1e-9ad6-c715cbd0a948","name":"Sticky Note4"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B13:S28"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5040,2336],"id":"4830973e-6856-431d-8e12-7ebedbf2c4a2","name":"List of Values4","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B1:AN2"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5200,2336],"id":"0debb76b-b2e1-425f-bb28-46b19c569707","name":"Instruction4","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"jsCode":"// This code waits for all items from the previous node to arrive,\n// then it returns just ONE item to trigger the next node only once.\nreturn [{ json: { status: 'knowledge_loaded' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4880,2336],"id":"f0190095-0ae7-49c9-9ded-1c2cbba409ed","name":"knowledge_loaded4","executeOnce":true},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1911858490,"mode":"list","cachedResultName":"VU-MSI","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=1911858490"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4672,2336],"id":"309d89ba-1504-4a99-96ef-33d953cf874d","name":"Sheet Data4","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5472b151-cd28-406f-99f0-ecab0d2cb50a","leftValue":"={{ $json['Material Url'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"110155f9-c547-4c47-81e4-a71ce2b7c834","leftValue":"={{ $json['Climate Impact'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-4672,2160],"id":"5657a5d7-9251-4ede-8f6f-787ac138b9ff","name":"Filter4"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4416,2160],"id":"3ed4a30f-93ca-4a14-bc10-6a6b44336e99","name":"Loop Over Items4"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// --- Step 1: Get all the data ---\n// Get the single input item which contains BOTH the binary 'data' and the 'json' properties\nconst item = $input.item;\n// The Merge Node has combined everything. Get the merged data.\nconst mergedData = $input.item.json;\n\n// Get the text from the 'Site Content' column of your sheet\nconst siteContentText = mergedData['Site Content'];\nconst materialURL = mergedData['Material Url'];\n\n// Get the knowledge sources (this logic is the same)\nconst instructions = $items(\"Instruction4\")[0].json;\nconst listOfValues = $items(\"List of Values4\");\nconst formattedValues = listOfValues.map(item => item.json);\n\n\n// --- Step 2: Reformat the \"List of Values\" to be easier for the AI ---\nconst allowedValues = {};\nfor (const item of listOfValues) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (key === 'row_number' || value === '') continue;\n    if (!allowedValues[key]) {\n      allowedValues[key] = [];\n    }\n    allowedValues[key].push(value);\n  }\n}\n\n\n// --- Step 3: Build the final, optimized prompt with BOTH text sources ---\n\nlet prompt = `You are a highly intelligent data extraction assistant. Your task is to analyze \"Site Content\", and populate a JSON object with extreme precision.\n\nFollow these rules without deviation:\n\nMaterial Url: ${materialURL}\n\n1.  **FIELD DESCRIPTIONS:** Use these descriptions to understand what information to find for each field.\n    \\`\\`\\`json\n    ${JSON.stringify(instructions, null, 2)}\n    \\`\\`\\`\n\n2.  **STRICT VALUE SELECTION:** For the fields listed below, you MUST select a value from the provided array of options.\n    \\`\\`\\`json\n    ${JSON.stringify(allowedValues, null, 2)}\n    \\`\\`\\`\n\n3.  **MISSING DATA:** If you cannot find the information in EITHER document for any field, you MUST return the exact string \"MISSING\".\n\n4.  **CONTENT TO ANALYZE:**\n\n    ---SITE CONTENT START---\n    ${siteContentText}\n    ---SITE CONTENT END---\n\n5.  **OUTPUT:** Your response must be ONLY the raw JSON object itself, starting with { and ending with }.`;\n// --- NEW FINAL STEP: Add the prompt to the existing item ---\nitem.json.prompt = prompt;\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4208,2336],"id":"47c62b21-6c8c-4cc6-b86b-6ae1b6098ff6","name":"prompt_generator4"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-4000,2336],"id":"c188fd11-4c8d-4dc9-ae93-9fb880e6e5f6","name":"AI Agent4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4080,2528],"id":"0fe7936d-35ad-4324-bd1a-6ca4f2b3c210","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"ADZi1CQyOvAydYKY","name":"00012"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rawOutput = $input.item.json.output;\n\n// This regular expression finds the content between the first { and the last }\nconst jsonRegex = /({[\\s\\S]*})/;\nconst match = rawOutput.match(jsonRegex);\n\n// Check if a JSON object was found in the text\nif (match && match[1]) {\n  const cleanJsonString = match[1];\n  \n  // Now, parse the CLEAN string\n  const parsedJson = JSON.parse(cleanJsonString);\n  \n  // Return the final, usable JSON object\n  return { json: parsedJson };\n} else {\n  // If no JSON was found at all, return an error to make it easy to see\n  return { json: { error: \"Could not find a JSON object in the AI's output.\", rawOutput: rawOutput } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3712,2336],"id":"3a66d58d-a362-4dce-8e49-19264390698b","name":"Final JSON4"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1911858490,"mode":"list","cachedResultName":"VU-MSI","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=1911858490"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Material Url"],"schema":[{"id":"Material Url","displayName":"Material Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Note","displayName":"Note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MBID","displayName":"MBID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer","displayName":"Manufacturer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer Sku","displayName":"Manufacturer Sku","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Bank SKU","displayName":"Material Bank SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Name","displayName":"Product Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Collection Name","displayName":"Collection Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPS Hierarchy","displayName":"GPS Hierarchy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backing","displayName":"Backing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pile / Face Weight","displayName":"Pile / Face Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Carpet Fiber Type","displayName":"Carpet Fiber Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Overall Thickness","displayName":"Overall Thickness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Construction (Filter)","displayName":"Construction (Filter)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organizational Commitments","displayName":"Organizational Commitments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification","displayName":"Multi Attribute Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification Expiration Date","displayName":"Multi Attribute Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sustainability Action Plan","displayName":"Sustainability Action Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Environmental Product Declaration","displayName":"Environmental Product Declaration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EPD Expiration Date","displayName":"EPD Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Global Warming Potential (GWP)","displayName":"Global Warming Potential (GWP)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GWP Functional Unit","displayName":"GWP Functional Unit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LCA Optimization Plan","displayName":"LCA Optimization Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate","displayName":"VOC Emissions Testing Certificate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate Expiration Date","displayName":"VOC Emissions Testing Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Methodology","displayName":"VOC Emissions Testing Methodology","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FSC Certified Wood","displayName":"FSC Certified Wood","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ingredient Disclosure","displayName":"Ingredient Disclosure","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure/ Certification Expiration Date","displayName":"Disclosure/ Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure Level","displayName":"Disclosure Level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"75% of Ingredients Disclosed","displayName":"75% of Ingredients Disclosed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Industrial Recycled Content Percentage","displayName":"Post-Industrial Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Consumer Recycled Content Percentage","displayName":"Post-Consumer Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bio-Based Content Percentage","displayName":"Bio-Based Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Third-Party Bio-Based Certification","displayName":"Third-Party Bio-Based Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certifications","displayName":"Material Health Certifications","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certificate Expiration Date","displayName":"Material Health Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chemicals of Concern","displayName":"Chemicals of Concern","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturing Location","displayName":"Manufacturing Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End-of-Life Options","displayName":"End-of-Life Options","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RoHS Compliance","displayName":"RoHS Compliance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Electronic Components in Product","displayName":"Electronic Components in Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PDFs","displayName":"PDFs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Target URL","displayName":"Target URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site Content","displayName":"Site Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 1","displayName":"Site PDF 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 1 Redir","displayName":"Site PDF 1 Redir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 2","displayName":"Site PDF 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 2 Redir","displayName":"Site PDF 2 Redir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Climate Impact","displayName":"Climate Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Human Health Impact","displayName":"Human Health Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Equity Impact","displayName":"Social Equity Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Equity Impact","displayName":"Social Equity Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-3504,2336],"id":"34194a8f-2c38-4f2a-bee6-39a2d19cb348","name":"Append or update row in sheet4","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"content":"## riadtile.com"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5456,2944],"id":"405f5c27-d002-4a31-b0f6-bf0addc87a02","name":"Sticky Note5"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B13:S28"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5200,3200],"id":"28740011-9bca-4834-b87e-c46cbfcec931","name":"List of Values5","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B1:AN2"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5360,3200],"id":"4e36170d-3678-4d0c-a1f0-3109a3ee6b0e","name":"Instruction5","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"jsCode":"// This code waits for all items from the previous node to arrive,\n// then it returns just ONE item to trigger the next node only once.\nreturn [{ json: { status: 'knowledge_loaded' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5040,3200],"id":"6d7e264f-6c21-494f-bbe5-a943a408d180","name":"knowledge_loaded5","executeOnce":true},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1111044020,"mode":"list","cachedResultName":"VU-Rial Tile","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=1111044020"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4832,3200],"id":"3538c146-1e4b-44fd-990f-c56bc6ee3edc","name":"Sheet Data5","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5472b151-cd28-406f-99f0-ecab0d2cb50a","leftValue":"={{ $json['Material Url'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"110155f9-c547-4c47-81e4-a71ce2b7c834","leftValue":"={{ $json['Climate Impact'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-4832,3024],"id":"77c53b3a-ca22-4a46-b993-adfbcbe8d4f5","name":"Filter5"},{"parameters":{"options":{"reset":"={{$node[\"Loop Over Items5\"].context[\"done\"];}}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4576,3024],"id":"acb3475c-98c0-45c7-b218-620c32b26405","name":"Loop Over Items5"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// --- Step 1: Get all the data ---\n// Get the single input item which contains BOTH the binary 'data' and the 'json' properties\nconst item = $input.item;\n// The Merge Node has combined everything. Get the merged data.\nconst mergedData = $input.item.json;\n\n// Get the text from the 'Site Content' column of your sheet\nconst siteContentText = mergedData['Site Content'];\nconst materialURL = mergedData['Material Url'];\n\n// Get the knowledge sources (this logic is the same)\nconst instructions = $items(\"Instruction5\")[0].json;\nconst listOfValues = $items(\"List of Values5\");\nconst formattedValues = listOfValues.map(item => item.json);\n\n\n// --- Step 2: Reformat the \"List of Values\" to be easier for the AI ---\nconst allowedValues = {};\nfor (const item of listOfValues) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (key === 'row_number' || value === '') continue;\n    if (!allowedValues[key]) {\n      allowedValues[key] = [];\n    }\n    allowedValues[key].push(value);\n  }\n}\n\n\n// --- Step 3: Build the final, optimized prompt with BOTH text sources ---\n\nlet prompt = `You are a highly intelligent data extraction assistant. Your task is to analyze \"Site Content\", and populate a JSON object with extreme precision.\n\nFollow these rules without deviation:\n\nMaterial Url: ${materialURL}\n\n1.  **FIELD DESCRIPTIONS:** Use these descriptions to understand what information to find for each field.\n    \\`\\`\\`json\n    ${JSON.stringify(instructions, null, 2)}\n    \\`\\`\\`\n\n2.  **STRICT VALUE SELECTION:** For the fields listed below, you MUST select a value from the provided array of options.\n    \\`\\`\\`json\n    ${JSON.stringify(allowedValues, null, 2)}\n    \\`\\`\\`\n\n3.  **MISSING DATA:** If you cannot find the information in EITHER document for any field, you MUST return the exact string \"MISSING\".\n\n4.  **CONTENT TO ANALYZE:**\n\n    ---SITE CONTENT START---\n    ${siteContentText}\n    ---SITE CONTENT END---\n\n5.  **OUTPUT:** Your response must be ONLY the raw JSON object itself, starting with { and ending with }.`;\n// --- NEW FINAL STEP: Add the prompt to the existing item ---\nitem.json.prompt = prompt;\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4368,3200],"id":"c0504189-c831-4853-ad98-743e3b40e0de","name":"prompt_generator5"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-4160,3200],"id":"77c16f89-c93b-4ab5-9eb5-5ab74eace936","name":"AI Agent5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4240,3392],"id":"f7d84831-c882-4da8-8705-d06193b110af","name":"Google Gemini Chat Model5","credentials":{"googlePalmApi":{"id":"ADZi1CQyOvAydYKY","name":"00012"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rawOutput = $input.item.json.output;\n\n// This regular expression finds the content between the first { and the last }\nconst jsonRegex = /({[\\s\\S]*})/;\nconst match = rawOutput.match(jsonRegex);\n\n// Check if a JSON object was found in the text\nif (match && match[1]) {\n  const cleanJsonString = match[1];\n  \n  // Now, parse the CLEAN string\n  const parsedJson = JSON.parse(cleanJsonString);\n  \n  // Return the final, usable JSON object\n  return { json: parsedJson };\n} else {\n  // If no JSON was found at all, return an error to make it easy to see\n  return { json: { error: \"Could not find a JSON object in the AI's output.\", rawOutput: rawOutput } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3872,3200],"id":"03ef003c-c57c-4bd9-96b8-09bc1a896dd2","name":"Final JSON5"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1111044020,"mode":"list","cachedResultName":"VU-Rial Tile","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=1111044020"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Material Url"],"schema":[{"id":"Material Url","displayName":"Material Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Note","displayName":"Note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MBID","displayName":"MBID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer","displayName":"Manufacturer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer Sku","displayName":"Manufacturer Sku","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Bank SKU","displayName":"Material Bank SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Name","displayName":"Product Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Collection Name","displayName":"Collection Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPS Hierarchy","displayName":"GPS Hierarchy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backing","displayName":"Backing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pile / Face Weight","displayName":"Pile / Face Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Carpet Fiber Type","displayName":"Carpet Fiber Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Overall Thickness","displayName":"Overall Thickness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Construction (Filter)","displayName":"Construction (Filter)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organizational Commitments","displayName":"Organizational Commitments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organizational Commitments","displayName":"Organizational Commitments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification","displayName":"Multi Attribute Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification Expiration Date","displayName":"Multi Attribute Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sustainability Action Plan","displayName":"Sustainability Action Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Environmental Product Declaration","displayName":"Environmental Product Declaration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EPD Expiration Date","displayName":"EPD Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Global Warming Potential (GWP)","displayName":"Global Warming Potential (GWP)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GWP Functional Unit","displayName":"GWP Functional Unit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LCA Optimization Plan","displayName":"LCA Optimization Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate","displayName":"VOC Emissions Testing Certificate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate Expiration Date","displayName":"VOC Emissions Testing Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Methodology","displayName":"VOC Emissions Testing Methodology","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FSC Certified Wood","displayName":"FSC Certified Wood","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ingredient Disclosure","displayName":"Ingredient Disclosure","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure/ Certification Expiration Date","displayName":"Disclosure/ Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure Level","displayName":"Disclosure Level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"75% of Ingredients Disclosed","displayName":"75% of Ingredients Disclosed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Industrial Recycled Content Percentage","displayName":"Post-Industrial Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Consumer Recycled Content Percentage","displayName":"Post-Consumer Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bio-Based Content Percentage","displayName":"Bio-Based Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Third-Party Bio-Based Certification","displayName":"Third-Party Bio-Based Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certifications","displayName":"Material Health Certifications","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certificate Expiration Date","displayName":"Material Health Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chemicals of Concern","displayName":"Chemicals of Concern","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturing Location","displayName":"Manufacturing Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End-of-Life Options","displayName":"End-of-Life Options","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RoHS Compliance","displayName":"RoHS Compliance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Electronic Components in Product","displayName":"Electronic Components in Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Target URL","displayName":"Target URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site Content","displayName":"Site Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 1","displayName":"Site PDF 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 1 Redir","displayName":"Site PDF 1 Redir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 2","displayName":"Site PDF 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 2 Redir","displayName":"Site PDF 2 Redir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Climate Impact","displayName":"Climate Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Human Health Impact","displayName":"Human Health Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Equity Impact","displayName":"Social Equity Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-3664,3200],"id":"24f1426a-0eb5-4018-8684-29c809eed440","name":"Append or update row in sheet5","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"content":"VU-Justin David Textiles","height":144,"width":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5472,4000],"id":"f5855779-6922-46b3-b586-6265116277fe","name":"Sticky Note6"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B13:S28"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5280,4288],"id":"fd6df161-f2af-4b29-b088-9817d0d8022b","name":"List of Values6","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Instructions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"B1:AN2"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5440,4288],"id":"cf26d53f-0a06-43f9-ac38-e1bcf053eecf","name":"Instruction6","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"jsCode":"// This code waits for all items from the previous node to arrive,\n// then it returns just ONE item to trigger the next node only once.\nreturn [{ json: { status: 'knowledge_loaded' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5104,4288],"id":"0b30e3d2-103b-4416-984c-4b614aee7e4e","name":"knowledge_loaded6","executeOnce":true},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1573062492,"mode":"list","cachedResultName":"VU-Justin David Textiles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=1573062492"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4928,4288],"id":"d634e85e-51c2-4e72-ac74-3c9fb69681af","name":"Sheet Data6","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce1d58d7-7a8f-44e5-8628-18fa776318d3","leftValue":"={{ $json['Site Content'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5472b151-cd28-406f-99f0-ecab0d2cb50a","leftValue":"={{ $json['Material Url'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"110155f9-c547-4c47-81e4-a71ce2b7c834","leftValue":"={{ $json['Climate Impact'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-4944,4112],"id":"d0e507c5-35aa-4305-9a99-1738d4fbc81b","name":"Filter6"},{"parameters":{"options":{"reset":"={{$node[\"Loop Over Items6\"].context[\"done\"];}}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4720,4112],"id":"d4acd5ed-e049-4530-9b74-38d995b5c32f","name":"Loop Over Items6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"718ad56d-8d21-4ab2-b1da-814d77962e1c","leftValue":"={{ $json.PDFs }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4496,4000],"id":"b97787b4-3d7e-4e86-9256-5353d19ec002","name":"If2"},{"parameters":{"url":"={{ $json.PDFs }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4336,3760],"id":"f6058172-1664-4c96-88ae-7227975b167e","name":"HTTP Request3","onError":"continueErrorOutput"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3840,3808],"id":"1a2cc58b-b384-475e-9819-aa34972f6e53","name":"Extract from File5"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3616,4160],"id":"1920399e-af25-436c-b045-88369fc2ee21","name":"Merge4"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// --- Step 1: Get all the data ---\n// Get the single input item which contains BOTH the binary 'data' and the 'json' properties\nconst item = $input.item;\n// The Merge Node has combined everything. Get the merged data.\nconst mergedData = $input.item.json;\n\n// Get the text from the PDF (the Read PDF node usually names this 'text')\nconst pdfText = mergedData.text;\n\n// Get the text from the 'Site Content' column of your sheet\nconst siteContentText = mergedData['Site Content'];\nconst materialURL = mergedData['Material Url'];\n\n// Get the knowledge sources (this logic is the same)\nconst instructions = $items(\"Instruction6\")[0].json;\nconst listOfValues = $items(\"List of Values6\");\nconst formattedValues = listOfValues.map(item => item.json);\n\n\n// --- Step 2: Reformat the \"List of Values\" to be easier for the AI ---\nconst allowedValues = {};\nfor (const item of listOfValues) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (key === 'row_number' || value === '') continue;\n    if (!allowedValues[key]) {\n      allowedValues[key] = [];\n    }\n    allowedValues[key].push(value);\n  }\n}\n\n\n// --- Step 3: Build the final, optimized prompt with BOTH text sources ---\n\nlet prompt = `You are a highly intelligent data extraction assistant. Your task is to analyze from documents, \"PDF Content\" and \"Site Content\", and populate a JSON object with extreme precision. The PDF is the primary source for technical specifications.\n\nFollow these rules without deviation:\n\nMaterial Url must be exactly string in this quote: \"${materialURL}\"\n\n1.  **FIELD DESCRIPTIONS:** Use these descriptions to understand what information to find for each field.\n    \\`\\`\\`json\n    ${JSON.stringify(instructions, null, 2)}\n    \\`\\`\\`\n\n2.  **STRICT VALUE SELECTION:** For the fields listed below, you MUST select a value from the provided array of options.\n    \\`\\`\\`json\n    ${JSON.stringify(allowedValues, null, 2)}\n    \\`\\`\\`\n\n3.  **MISSING DATA:** If you cannot find the information in EITHER document for any field, you MUST return the exact string \"MISSING\".\n\n4.  **DOCUMENTS TO ANALYZE:**\n\n    ---PDF CONTENT START---\n    ${pdfText}\n    ---PDF CONTENT END---\n    ---SITE CONTENT START---\n    ${siteContentText}\n    ---SITE CONTENT END---\n\n5.  **OUTPUT:** Your response must be ONLY the raw JSON object itself, starting with { and ending with }.`;\n\nreturn { json: { prompt: prompt } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4624,4384],"id":"27954a9c-4e2e-4232-ba78-12144902de0a","name":"prompt_generator6"},{"parameters":{"assignments":{"assignments":[{"id":"cff54dc1-06f8-4206-8cd3-ac6a84e2f133","name":"text","value":"No PDF file","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4160,4016],"id":"b9e5d2f9-12c9-4503-a4a9-079149d6c7f1","name":"Edit Fields6"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-4416,4384],"id":"09c71211-db3c-47aa-b2c3-0651381faaf0","name":"AI Agent6","executeOnce":false,"retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4480,4544],"id":"62c72c9f-a9f3-4072-af44-36d51a848dfb","name":"Google Gemini Chat Model6","credentials":{"googlePalmApi":{"id":"JAMpEgCRbuJHQRXU","name":"00013"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rawOutput = $input.item.json.output;\n\n// This regular expression finds the content between the first { and the last }\nconst jsonRegex = /({[\\s\\S]*})/;\nconst match = rawOutput.match(jsonRegex);\n\n// Check if a JSON object was found in the text\nif (match && match[1]) {\n  const cleanJsonString = match[1];\n  \n  // Now, parse the CLEAN string\n  const parsedJson = JSON.parse(cleanJsonString);\n  \n  // Return the final, usable JSON object\n  return { json: parsedJson };\n} else {\n  // If no JSON was found at all, return an error to make it easy to see\n  return { json: { error: \"Could not find a JSON object in the AI's output.\", rawOutput: rawOutput } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4064,4368],"id":"ed42a245-1b26-481b-8c59-59d3117b69bd","name":"Final JSON6"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU","mode":"list","cachedResultName":"MaterialBank_Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1573062492,"mode":"list","cachedResultName":"VU-Justin David Textiles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PMSa68G67evXhxXXqfOPqSJ8HrdqpgenbM6YbYHs2HU/edit#gid=1573062492"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Material Url"],"schema":[{"id":"Material Url","displayName":"Material Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Note","displayName":"Note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MBID","displayName":"MBID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer","displayName":"Manufacturer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturer Sku","displayName":"Manufacturer Sku","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Bank SKU","displayName":"Material Bank SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Name","displayName":"Product Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Collection Name","displayName":"Collection Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPS Hierarchy","displayName":"GPS Hierarchy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backing","displayName":"Backing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pile / Face Weight","displayName":"Pile / Face Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Carpet Fiber Type","displayName":"Carpet Fiber Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Overall Thickness","displayName":"Overall Thickness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Construction (Filter)","displayName":"Construction (Filter)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organizational Commitments","displayName":"Organizational Commitments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification","displayName":"Multi Attribute Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Multi Attribute Certification Expiration Date","displayName":"Multi Attribute Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sustainability Action Plan","displayName":"Sustainability Action Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Environmental Product Declaration","displayName":"Environmental Product Declaration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EPD Expiration Date","displayName":"EPD Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Global Warming Potential (GWP)","displayName":"Global Warming Potential (GWP)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GWP Functional Unit","displayName":"GWP Functional Unit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LCA Optimization Plan","displayName":"LCA Optimization Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate","displayName":"VOC Emissions Testing Certificate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Certificate Expiration Date","displayName":"VOC Emissions Testing Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VOC Emissions Testing Methodology","displayName":"VOC Emissions Testing Methodology","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FSC Certified Wood","displayName":"FSC Certified Wood","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ingredient Disclosure","displayName":"Ingredient Disclosure","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure/ Certification Expiration Date","displayName":"Disclosure/ Certification Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Disclosure Level","displayName":"Disclosure Level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"75% of Ingredients Disclosed","displayName":"75% of Ingredients Disclosed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Industrial Recycled Content Percentage","displayName":"Post-Industrial Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post-Consumer Recycled Content Percentage","displayName":"Post-Consumer Recycled Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Bio-Based Content Percentage","displayName":"Bio-Based Content Percentage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Third-Party Bio-Based Certification","displayName":"Third-Party Bio-Based Certification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certifications","displayName":"Material Health Certifications","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Material Health Certificate Expiration Date","displayName":"Material Health Certificate Expiration Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chemicals of Concern","displayName":"Chemicals of Concern","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Manufacturing Location","displayName":"Manufacturing Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End-of-Life Options","displayName":"End-of-Life Options","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RoHS Compliance","displayName":"RoHS Compliance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Electronic Components in Product","displayName":"Electronic Components in Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PDFs","displayName":"PDFs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Target URL","displayName":"Target URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site Content","displayName":"Site Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 1","displayName":"Site PDF 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 1 Redir","displayName":"Site PDF 1 Redir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 2","displayName":"Site PDF 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Site PDF 2 Redir","displayName":"Site PDF 2 Redir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Climate Impact","displayName":"Climate Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Human Health Impact","displayName":"Human Health Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Equity Impact","displayName":"Social Equity Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-3776,4496],"id":"1cbad2cd-56ed-4649-8f74-5fa6b6ee4c88","name":"Append or update row in sheet6","credentials":{"googleApi":{"id":"TYelWpkFtY1wGMeO","name":"google-drive-hooker@gam-project-2kc-e5d-i22.iam.gserviceaccount."}},"onError":"continueErrorOutput"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3328,4176],"id":"0e361b46-cf1d-4fbf-a0b6-7df11d062992","name":"Wait","webhookId":"e9c47da3-010b-45dd-89b9-878f289714c4"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Instruction6","type":"main","index":0}]]},"Puppeteer":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Final JSON","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Instruction":{"main":[[{"node":"List of Values","type":"main","index":0}]]},"List of Values":{"main":[[{"node":"knowledge_loaded","type":"main","index":0}]]},"knowledge_loaded":{"main":[[{"node":"Sheet Data","type":"main","index":0}]]},"prompt_generator":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Sheet Data":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Merge":{"main":[[{"node":"prompt_generator","type":"main","index":0}]]},"Final JSON":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Puppeteer","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Append or update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"List of Values1":{"main":[[{"node":"knowledge_loaded1","type":"main","index":0}]]},"Instruction1":{"main":[[{"node":"List of Values1","type":"main","index":0}]]},"knowledge_loaded1":{"main":[[{"node":"Sheet Data1","type":"main","index":0}]]},"Sheet Data1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"prompt_generator1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"HTTP Request","type":"main","index":0},{"node":"Merge1","type":"main","index":2},{"node":"If","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Final JSON1","type":"main","index":0}]]},"Final JSON1":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"prompt_generator1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Append or update row in sheet1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"List of Values2":{"main":[[{"node":"knowledge_loaded2","type":"main","index":0}]]},"Instruction2":{"main":[[{"node":"List of Values2","type":"main","index":0}]]},"knowledge_loaded2":{"main":[[{"node":"Sheet Data2","type":"main","index":0}]]},"Sheet Data2":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"prompt_generator2","type":"main","index":0}]]},"prompt_generator2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Site PDF 1 Redir","type":"main","index":0},{"node":"Site PDF 2 Redir","type":"main","index":0},{"node":"Merge2","type":"main","index":2}]]},"AI Agent2":{"main":[[{"node":"Final JSON2","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Final JSON2":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"Append or update row in sheet2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Site PDF 1 Redir":{"main":[[{"node":"Extract from File2","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Site PDF 2 Redir":{"main":[[{"node":"Extract from File3","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Extract from File3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Edit Fields3":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"List of Values3":{"main":[[{"node":"knowledge_loaded3","type":"main","index":0}]]},"Instruction3":{"main":[[{"node":"List of Values3","type":"main","index":0}]]},"knowledge_loaded3":{"main":[[{"node":"Sheet Data3","type":"main","index":0}]]},"Sheet Data3":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"If1","type":"main","index":0},{"node":"Merge3","type":"main","index":1}]]},"If1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Extract from File4","type":"main","index":0}]]},"Extract from File4":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"prompt_generator3","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Final JSON3","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Final JSON3":{"main":[[{"node":"Append or update row in sheet3","type":"main","index":0}]]},"prompt_generator3":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Append or update row in sheet3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"List of Values4":{"main":[[{"node":"knowledge_loaded4","type":"main","index":0}]]},"Instruction4":{"main":[[{"node":"List of Values4","type":"main","index":0}]]},"knowledge_loaded4":{"main":[[{"node":"Sheet Data4","type":"main","index":0}]]},"Sheet Data4":{"main":[[{"node":"Filter4","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"prompt_generator4","type":"main","index":0}]]},"prompt_generator4":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"AI Agent4":{"main":[[{"node":"Final JSON4","type":"main","index":0}]]},"Final JSON4":{"main":[[{"node":"Append or update row in sheet4","type":"main","index":0}]]},"Append or update row in sheet4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"List of Values5":{"main":[[{"node":"knowledge_loaded5","type":"main","index":0}]]},"Instruction5":{"main":[[{"node":"List of Values5","type":"main","index":0}]]},"knowledge_loaded5":{"main":[[{"node":"Sheet Data5","type":"main","index":0}]]},"Sheet Data5":{"main":[[{"node":"Filter5","type":"main","index":0}]]},"Filter5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"prompt_generator5","type":"main","index":0}]]},"prompt_generator5":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Final JSON5","type":"main","index":0}]]},"Google Gemini Chat Model5":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"Final JSON5":{"main":[[{"node":"Append or update row in sheet5","type":"main","index":0}]]},"Append or update row in sheet5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"List of Values6":{"main":[[{"node":"knowledge_loaded6","type":"main","index":0}]]},"Instruction6":{"main":[[{"node":"List of Values6","type":"main","index":0}]]},"knowledge_loaded6":{"main":[[{"node":"Sheet Data6","type":"main","index":0}]]},"Sheet Data6":{"main":[[{"node":"Filter6","type":"main","index":0}]]},"Filter6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Loop Over Items6":{"main":[[],[{"node":"If2","type":"main","index":0},{"node":"Merge4","type":"main","index":1}]]},"If2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Extract from File5","type":"main","index":0}],[{"node":"Loop Over Items6","type":"main","index":0}]]},"Extract from File5":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"prompt_generator6":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"AI Agent6":{"main":[[{"node":"Final JSON6","type":"main","index":0}],[{"node":"Loop Over Items6","type":"main","index":0}]]},"Google Gemini Chat Model6":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0}]]},"Final JSON6":{"main":[[{"node":"Append or update row in sheet6","type":"main","index":0}]]},"Append or update row in sheet6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}],[{"node":"Loop Over Items6","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"prompt_generator6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"isArtificialRecoveredEventItem":true}}],"Google Gemini Chat Model6":[{"json":{"isArtificialRecoveredEventItem":true}}]},"versionId":"46c68089-31c6-4245-861c-2fb6dbc6cf06","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-09T03:11:58.570Z","createdAt":"2025-10-09T03:11:58.570Z","role":"workflow:owner","workflowId":"qu1V8fYBWt1MUqBW","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}