test-0fBOy0tTpdWd4S57.json
{"updatedAt":"2025-04-18T04:05:59.000Z","createdAt":"2025-04-16T07:38:38.983Z","id":"0fBOy0tTpdWd4S57","name":"Test","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body?.message ?? $json.chatInput }}","options":{"systemMessage":"You are a smart assistant tasked with interacting with an API to retrieve meeting room information. Your job is to process user input and use available tool to return smart answer. Your answer should be short and well-structured\n\nThe available tool are:\n1. `GET API meeting_rooms` – Returns a list of all meeting rooms.\n2. `GET API meeting_rooms_availability` – Returns rooms available between specified start and end times.\n\n- For tool **GET API meeting_rooms_availability**: You need to parse `start_time` and `end_time` parameters to tool in the **ISO 8601 format**: `YYYY-MM-DDTHH:MM:SSZ` (e.g., `2025-04-18T10:00:00Z`). You will need to retrieve `start_time` and `end_time` from user input and they are required, if no `start_time` and `end_time`, ask user to give you again."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-820,280],"id":"fc033874-2a95-49ec-92d6-4d6340818f6d","name":"AI Agent","alwaysOutputData":false},{"parameters":{"name":"get_current_time","description":"Fetch the current time when user asking question relate to real datetime.","language":"python","pythonCode":"import pytz\nfrom datetime import datetime\nho_chi_minh_tz = pytz.timezone('Asia/Ho_Chi_Minh')\nlocal_time = datetime.now(ho_chi_minh_tz)\nreturn local_time.isoformat()  # Returns the time in ISO format (e.g., \"2025-04-03T15:13:57.462634\")"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-300,960],"id":"b5559bce-1f69-4c3d-80c4-4e2f8395bfb2","name":"Code Tool","disabled":true},{"parameters":{"httpMethod":"POST","path":"da88efba-5550-43cb-b0a7-5dcbf3db5b0c","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1140,180],"id":"156282ef-c0a0-4f94-9658-348bd690db1f","name":"Webhook","webhookId":"da88efba-5550-43cb-b0a7-5dcbf3db5b0c"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1140,380],"id":"95ed5290-c2d6-439c-bcec-15da7916c2ed","name":"When chat message received","webhookId":"db11d69f-b8df-46e1-9969-65d29995267d"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-184,280],"id":"6a71a2b6-fcb9-4bb2-8751-c3952f39b340","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body?.sessionId ?? $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-800,500],"id":"d14cfe7b-aef9-4cd0-aa23-b3e660ed4c36","name":"Simple Memory"},{"parameters":{"url":"https://intranet.cennext.com/api/faq/all","options":{}},"id":"f705b1e4-ff0b-4ad8-b68d-db16199429ef","name":"Fetch All FAQs","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-700,-480]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-920,500],"id":"6684c3a5-4258-4bd1-ae58-41685d4bf880","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-480,-360],"id":"4ad7bdd5-2368-40c3-8438-93d76969e4ef","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-360,-357.5],"id":"864b8f63-eab5-4c98-b262-b4adcb9581e1","name":"Default Data Loader"},{"parameters":{"chunkSize":500,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-272,-160],"id":"b0e3ce8a-c8d5-4afc-9615-4254adaf531b","name":"Recursive Character Text Splitter"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1140,-380],"id":"623872ee-9e17-4653-a2c7-2d047b0d269f","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Embed FAQ","height":620,"width":1160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1212,-620],"id":"3c212a43-4a9e-4be4-87e8-de0233fa2d80","name":"Sticky Note"},{"parameters":{"content":"## FAQ Agent","height":820,"width":1820,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,80],"id":"1093cd31-051a-4a90-ae10-0c26bd1eb92a","name":"Sticky Note1"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-700,-280],"id":"baddfaee-ca9c-431b-b15b-fabbbbce0934","name":"Extract from File"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://drive.google.com/file/d/12BD0xhn5NKbcmbPz_ul_lDVb8fXq7tZs","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-920,-280],"id":"a2b563b3-89a1-418b-a2b0-c7e9c65fb722","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"5aBlQx6C9SVhzh6m","name":"Google Drive account"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"hr_admin_vstore","mode":"id"},"embeddingBatchSize":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-480,-560],"id":"dbf7979c-8e4f-4150-8a50-96b0e1792afb","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"al5kamDWkQkppHXv","name":"QdrantApi account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"admin_hr_vector","toolDescription":"This tool searches the company HR FAQ. Use it when the user asks about salary, leave, insurance, or company policy.","qdrantCollection":{"__rl":true,"value":"hr_admin_vstore","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-60,960],"id":"f57489bd-8115-43bb-be1d-cd02a3c9ec4b","name":"Qdrant Vector Store1","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[200,960],"id":"8cd19cae-f1c0-40e6-bbc7-72c3dbd65baa","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"qhG0zk8Zto1Mqjii","name":"OpenAi Anh Vu API"}}},{"parameters":{"content":"## Python tools","height":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,900],"id":"3d49eccb-10fd-47bb-8f18-94e503ae7e00","name":"Sticky Note2"},{"parameters":{"content":"## RAG tools","height":200,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,900],"id":"eb208636-abe7-4beb-a9bd-2c4ce413826b","name":"Sticky Note3"},{"parameters":{"content":"## API meeting room tools","height":480,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-780,900],"id":"a7594f48-3212-4f6e-bb2b-4dfaf06d3383","name":"Sticky Note4"},{"parameters":{"content":"## Prompt\nYou are a helpful bilingual HR assistant at a professional company.\n\nYou have access to a tool called \"FAQ Retriever\" that searches company HR documents and FAQs. Use this tool to answer questions about HR policies, salary, leave, insurance, or internal procedures.\n\nIf a relevant answer cannot be found using the tool, you may use your own language model knowledge to respond — but clearly inform the user that this answer is based on general knowledge, not official company documentation.\n\nYou also have access to the user's 5 most recent chat messages via a variable called `chat_history`. If the user refers to a previous message (e.g. “câu hỏi trước”, “as I asked before”, “trả lời lại giúp tôi”), you must:\n- Review the `chat_history` array\n- Identify the relevant past question\n- Respond based on that previous query\n\nIf the chat history is unavailable, empty, or unclear, kindly ask the user to rephrase or repeat their question.\n\n---\n\nIf the user's question is in English:\n1. Translate it into Vietnamese.\n2. Use the translated question with the FAQ Retriever tool.\n3. Translate the tool's result back to English before replying.\n4. Rewrite the final answer in a friendly, professional tone — like a real HR assistant.\n\nIf the question is in Vietnamese:\n1. Use the original question directly with the FAQ Retriever tool.\n2. Rewrite the result using formal, polite, and natural Vietnamese.\n\n---\n\nAfter retrieving a result:\n- Feel free to summarize, clarify, rephrase, or reformat the content to improve readability.\n- If the user asks for a table, respond using **Markdown** table format.\n- Keep your tone concise, helpful, and professional.\n- If the FAQ tool is used, always include the appropriate reference line:\n\n    ▸ **English**:  \n    _You can refer to the internal FAQ page for more details: [FAQ Portal](https://intranet.cennext.com/basic/web/index.php?r=faq%2Findex)_\n\n    ▸ **Vietnamese**:  \n    _Bạn có thể tham khảo thêm tại trang FAQ nội bộ: [FAQ Portal](https://intranet.cennext.com/basic/web/index.php?r=faq%2Findex)_\n\n---\n\n**Important:**\n- Do **not** describe what tools you are using — just provide the final answer.\n- Always answer as if you are a real HR assistant helping an employee.\n- If the retrieved information is unclear or incomplete, kindly suggest contacting the HR department for clarification.","height":1180,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,440],"id":"48c0a02f-9cef-4fd6-886b-dceb0567c392","name":"Sticky Note5"},{"parameters":{"toolDescription":"This tool returns a list of all meeting rooms in json format","url":"https://intranet.cennext.com/api/meeting_rooms","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-720,1000],"id":"b8f2e31a-f323-4824-a890-727fed849e03","name":"GET API meeting_rooms","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"toolDescription":"This tool returns a list of all meeting rooms in json format","url":"https://intranet.cennext.com/api/meeting_rooms","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-720,1180],"id":"18668afc-50d6-4c31-b15c-c12332caf452","name":"GET API meeting_rooms2","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}},"disabled":true},{"parameters":{"toolDescription":"This tool returns a list of all meeting rooms in json format","url":"https://intranet.cennext.com/api/meeting_rooms","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-480,1180],"id":"fa971bc6-17c1-41ba-929c-286a1efad3fa","name":"GET API meeting_rooms3","disabled":true},{"parameters":{"toolDescription":"This tool returns rooms available between specified start and end times","url":"https://intranet.cennext.com/api/meeting_rooms","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"start_time"},{"name":"end_time"}]},"optimizeResponse":true},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-480,1000],"id":"7fb7f63c-823c-4753-b13d-ea765e072d84","name":"GET API meeting_rooms_availability","credentials":{"httpHeaderAuth":{"id":"yT5cLlh1rKymfCpe","name":"IntranetAPI_HeaderAuth"}}},{"parameters":{"operation":"executeQuery","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,0],"id":"75ef0c54-c399-4b4b-b9d9-71d6852630ef","name":"Postgres","credentials":{"postgres":{"id":"8ggu0BPDq2ZBk5El","name":"Postgres account"}}}],"connections":{"Code Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Fetch All FAQs":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Fetch All FAQs","type":"main","index":0},{"node":"Google Drive","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Qdrant Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"GET API meeting_rooms":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GET API meeting_rooms2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GET API meeting_rooms3":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GET API meeting_rooms_availability":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"14bbd5ec-8202-43b4-83a4-6c12d1221c9d","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-04-16T07:38:38.987Z","createdAt":"2025-04-16T07:38:38.987Z","role":"workflow:owner","workflowId":"0fBOy0tTpdWd4S57","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}