test_agent_+_mcp_trial-i19D1PLUokSVuAP5.json
{"updatedAt":"2025-05-05T07:45:56.000Z","createdAt":"2025-04-15T12:13:54.523Z","id":"i19D1PLUokSVuAP5","name":"Test Agent + MCP Trial","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"dc0972cc-cd31-4a51-8a67-358ba05e4585","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-920,2240],"webhookId":"53c136fe-3e77-4709-a143-fe82746dd8b6","typeVersion":1.1},{"parameters":{},"id":"4fcb78ea-cd63-4818-bf84-514d1c9b69af","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[200,60],"typeVersion":1.3},{"parameters":{"options":{}},"id":"4ee00522-77b5-4927-97d2-9ba159f813c9","name":"SerpAPI","type":"@n8n/n8n-nodes-langchain.toolSerpApi","position":[420,40],"typeVersion":1,"credentials":{"serpApi":{"id":"4ZfjouzN4lH1cWXB","name":"SerpAPI account"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are an AI Agent. Use SerpAPI to search for information on the topic \"{query}\". When you have the results, please record the following information:\n- **Title**: the title of each article.\n- **Date**: the publication date (if available).\n- **Summary**: the snippet or summary content of the article.\n- **URL**: the link to the article.\n\nOutput the results in JSON format with the fields: title, date, summary, url, and the current time.\n\nPlease use the currentTime tool to get the current time."}},"id":"b558295e-b7cf-40f8-a493-c334d3284386","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[180,220],"typeVersion":1.8},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[120,400],"id":"d32a6807-9d03-4bdd-b9b8-e11bda257525","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1351731695799369788","mode":"list","cachedResultName":"IT - Huy Đặng - 10295's server","cachedResultUrl":"https://discord.com/channels/1351731695799369788"},"channelId":{"__rl":true,"value":"1362402876135047239","mode":"list","cachedResultName":"helpdesk","cachedResultUrl":"https://discord.com/channels/1351731695799369788/1362402876135047239"},"content":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[640,240],"id":"033b6cfa-4c0c-4d35-b184-5bd2f5391ce2","name":"Discord","webhookId":"7bf1a302-3ea2-49af-9ee4-429089c9f7a9","credentials":{"discordBotApi":{"id":"DuQxb9qAp5PWqN84","name":"Discord Bot account"}}},{"parameters":{"httpMethod":"POST","path":"my_webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-220,200],"id":"df01e76f-d7d2-4a43-928c-28f4becea89c","name":"Webhook","webhookId":"c57d5aa4-1ce3-46e4-b14c-ebdfa5293443"},{"parameters":{"content":"## MCP & Setting up MCP\n\n### Problem model AI\n- Cut off date\n- Access and get data from any URLs\n- Access and get data from file or db local\n- Multi standards connect **any models** with **the resources** like internal and external.\n\n### Example:\nOpenAI -> O1 -> local\nOpenAI -> O2 -> URLs\nOpenAI -> O3 -> DB\nDeepSeek -> S1 -> Local\nDeepSeek -> S2 -> URLs\nDeepSeek -> S3 -> DB\n\n\nOPENAI, DEEPSEEK -> **MCP** -> any Resources\n\n\n### ARCHITECTURE\n\nMCP HOST      <--> MCP CLIENT <-->   MCP SERVER\n- MCP HOST  ---mcp protocols-->    MCP SERVER --> local and remote(webAPIs) resources\nMCP HOST (AI models, IDE, Tools)        \nMCP SERVER (Server contain data for mcp hosts connect \n\n$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$\n$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$\n\n$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$\n$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$\n\n$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$\n\n### ROLEs:\n\nAgentic AI  --> (SaaS = Software as a Service) like Google drive, gg sheets, Slack, Notation....\n\nAgentic AI  --> Local machine(local files, db)\n\n\nPrompt tốt giúp AI hiểu đúng mục đích, văn phong, hành động, và trả kết quả chất lượng","height":1180,"width":540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-980,-260],"id":"d4d5be32-5b78-4294-8de6-89e179054e8f","name":"Sticky Note"},{"parameters":{"content":"## PROMPT\n\nBạn là [role mong muốn: giáo viên, lập trình viên, nhà báo...].\n\nNhiệm vụ của bạn là: [mục đích].\n\nDữ liệu đầu vào:\n[input hoặc nội dung cần xử lý]\n\nYêu cầu:\n- Văn phong: [vui vẻ / trang trọng / chuyên nghiệp...]\n- Hành động: [trả về JSON / bullet / đoạn văn ngắn / bảng...]\n- Giới hạn: [dưới 100 từ / chỉ liệt kê top 5 / ngắn gọn dễ hiểu...]\n\n### TEXT 1\nYou are a friendly primary school teacher teaching grade 5 students.\n\nYour task is to describe a lovely cat in a way that 10-year-olds can understand.\n\nRequirements:\n- Output format: JSON\n- Fields:\n  - \"title\": a cute and catchy title (in English)\n  - \"content\": 2-3 easy-to-understand sentences describing the cat in a friendly tone\n  - \"url\": a source link or a fictional reference (e.g. \"https://myclassroom.com/cats\")\n\n- Do not include any explanation or extra text, only return the JSON object.\n\n### TEXT 2\nYou are a helpful AI assistant. Below is real-time search result content from Google.\n\nUse this information to answer the user query **accurately and clearly**.\n\n\nIf needed you can reference SerpAPI tool to research and currentTime tool to check time now.\nYour task:\n- Extract and summarize the most relevant article\n- Return the result in structured JSON format with fields: `datetime`, `title`, `content`\n- Use the date/time of the article if available\n- Only use the provided search results. Do not make up data.\n\nIf the content is not related or unclear, say “I could not find reliable information.”\n\n---\n\nSearch Result:\n{{search_result_text}}\n\n---\n\nUser Question:\n{{user_question}}\n\nAnswer in a helpful tone:\n","height":720,"width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,80],"id":"aa6cf2b0-34f2-474a-ba3b-80d50300860a","name":"Sticky Note1"},{"parameters":{"name":"get_current_time","description":"Fetch the current time (UTC) when user asking question relate to real date time.","language":"python","pythonCode":"from datetime import datetime\nimport pytz\n\nutc_tz = pytz.utc\nutc_time = datetime.now(utc_tz)\n\n# Format as 'YYYY-MM-DDTHH:MM:SSZ'\nformatted_time = utc_time.strftime('%Y-%m-%dT%H:%M:%SZ')\nreturn formatted_time\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[520,40],"id":"ef5f2daa-9c20-4c4e-9cd8-48706e0ab131","name":"currentTime"},{"parameters":{"content":"## Evolution RAG + MCP\n\nWhile traditional RAG enhances LLMs with external knowledge through a straightforward pipeline, and Agentic RAG adds dynamic intelligence to the retrieval process, MCP creates a unified architecture with modular, plug-and-play components that facilitates system-wide communication and collaboration.\n\n\nLet's understand all three practically through my step-by-step guides.\n\nHere is my guide on building robust RAG systems: https://lnkd.in/dSbRsKhw\n\nThis is my guide on Agentic RAG Using CrewAI & LangChain: https://lnkd.in/euQZPRH5\n\nHere is my guide on creating agentic RAG systems with LlamaIndex: https://lnkd.in/gAUmmaju\n\nHere is my step-by-step guide on understanding MCP: https://lnkd.in/grKEcBiU\n\nHere are the 8 MCP servers you should try: https://lnkd.in/eeU3XuCj\n\n","height":580,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,-620],"id":"46c54117-4cb4-471e-a7e3-f390a7fe3a97","name":"Sticky Note2"},{"parameters":{"options":{"systemMessage":"You are an intelligent assistant with access to the Brave Search API.\nUse the Brave Search tool when you need up-to-date information from the internet that is not available in your current knowledge base.\n\nYou also have access to a current time tool, which can be used to reference the current UTC time when needed for context or timestamping.\n\nWhen using the Brave Search tool:\n- Only search when the user's question depends on current events or the latest information.\n- Use specific keywords or short phrases as queries.\n- Return only the most relevant and recent results.\n- Summarize the top result or return the raw JSON if asked.\n\nDo not fabricate information. If Brave Search returns no useful results, say so clearly.\n"}},"id":"80260588-5acc-4290-9f6c-90a178b6cd78","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[-340,2320],"typeVersion":1.8},{"parameters":{},"id":"5ce893b7-6262-4c6c-a0f1-72c9c8543788","name":"Simple Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-600,2580],"typeVersion":1.3},{"parameters":{"content":"### **Who is this for?**\nThis workflow is ideal for developers, automation enthusiasts, and businesses looking to integrate AI-powered chat capabilities into their workflows. It's particularly useful for those leveraging Brave Search and MCP tools to enhance user interactions and streamline data retrieval.\n\n### **What problem is this workflow solving?**\nThis workflow addresses the challenge of creating an intelligent chatbot that can process user queries, execute searches using Brave Search, and provide responses enriched by AI. It simplifies the integration of multiple tools into a cohesive system, saving time and effort for users who need a robust conversational AI solution.\n\n### **What this workflow does**\n- Listens for incoming chat messages using the **Chat Trigger** node.\n- Processes user input with an **AI Agent** powered by GPT-4o.\n- Retrieves relevant tools using the **MCP Get Brave Tools** node.\n- Executes specific search queries via the **MCP Execute Brave Search** node.\n- Maintains short-term memory of conversations with the **Simple Memory** node.\n\n### **Setup**\n1. **Prerequisites**:\n   - Access to an n8n instance (self-hosted).\n   - API credentials for OpenAI and MCP Client Tools.\n   - Brave Search API key.\n\n2. **Steps**:\n   - Import the workflow JSON into your n8n instance.\n   - Configure the API credentials for OpenAI and MCP Client Tools in their respective nodes.\n   - Set up your Brave Search API key in the MCP nodes. https://brave.com/search/api/\n\n3. **Testing**:\n   - Use the built-in chat interface to send test messages.\n   - Verify that the chatbot processes queries and returns results as expected.\n\n### **How to customize this workflow to your needs**\n- Modify the AI Agent's prompt settings to tailor responses to your specific use case.\n- Adjust the memory buffer in the Simple Memory node to retain more or less conversational context.\n- Replace or add additional tools in the MCP nodes to expand functionality.\n","height":1040,"width":520},"id":"1bbda6f3-4607-4d6c-8722-ec87197892aa","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-1680,2100],"typeVersion":1},{"parameters":{"content":"## 🤖 AI Agent with Brave Search tool","height":260,"width":580},"id":"fffd0dd0-c248-438e-aadc-ab6543b35205","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-440,2240],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-740,2580],"id":"c3850305-5362-43bc-821f-d6c0ccd41f0d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{"systemMessage":"You are given a 2D list of numeric data, and you have access to multiple data‑fetching tools.\n\n    Each row represents one abstract object.\n\n    Each column represents one abstract object.\n\n    The last column always contains the total for its row.\n\n    The last row always contains the total for its column.\n\n    Empty or missing entries should be treated as zero.\n\nBefore answering, you must:\n\n    Select the correct fetching tool whose metadata matches the user’s requested dataset (e.g. “new hires,” “terminations,” etc.).\n\n    Call that tool to retrieve the 2D list and its metadata (row names, column names).\n\n    Parse and validate that each row‑total equals the sum of its row values and each column‑total equals the sum of its column values.\n\n    Query data from the tool, answer the full table first with all features, then answer based on it.\n\n    After that answer any query about a specific cell, a whole row (category), a whole column (period), or the overall total.\n    "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1720,2440],"id":"0e0eeed3-69a7-42ad-bebf-4bf9056f26c7","name":"AI Agent2"},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2500,2620],"id":"8ec0d27f-f211-47ec-9231-23faef283215","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"ZYvb7decePR1j0pI","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"id":"c6fb190e-40cd-4b24-8684-e8bcda6131a1","name":"Simple Memory2","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[2660,2620],"typeVersion":1.3},{"parameters":{"content":"## 🤖 AI Agent with Check employees in company tool","height":120,"width":580},"id":"e9828494-9f72-4dac-af6d-cd33e6f157ad","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1300,2320],"typeVersion":1},{"parameters":{"toolDescription":"Table name: “Monthly New Employees Hires by Role”\n  Rows (top→bottom): Admin, Data CE, Data WF, Other, PTS, Total\n  Columns (left→right): January, February, March, April, Total","url":"https://script.google.com/macros/s/AKfycbxrl_deriHYeb82cpZHfnA9GoSfcdsRMl25Hh0KAQkXgtyUYCbLEM_i9EAe4VwevV5m7Q/exec?sheet=newMonthlyCategory"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2340,2880],"id":"87523146-c047-4669-809a-744db4ac35c8","name":"newMonthlyCategory"},{"parameters":{"toolDescription":"Table Name: “Monthly Shift-Based New Employees Hires”\n  Rows (top→bottom): Day-shift, Night Shift, Part-time (AM), Slide-shift, Total\n  Columns (left→right): January, February, March, April, Total","url":"https://script.google.com/macros/s/AKfycbxrl_deriHYeb82cpZHfnA9GoSfcdsRMl25Hh0KAQkXgtyUYCbLEM_i9EAe4VwevV5m7Q/exec?sheet=newMonthlyShift"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2340,3040],"id":"6a84e4e8-f563-4a15-881f-25000980e194","name":"newMonthlyShift"},{"parameters":{"toolDescription":"Table Name: “Employees Tenure by Branch”\n  Rows(top→bottom): from 1 to 2 years, from 2 to 3 years, from 2 to 6 months, from 3 to 4 years, from 4 to 5 years, from 5 to 6 years, from 6 months to 1 year, from 6 to 7 ears, from 7 to 8 years, from 8 to 9 years, from 9 to 10 years, Probation, >10 years, Total\n  Columns(left→right): HCMC, MĐ, TC, TC 3D, TC CE, WFH, Total","url":"https://script.google.com/macros/s/AKfycbxrl_deriHYeb82cpZHfnA9GoSfcdsRMl25Hh0KAQkXgtyUYCbLEM_i9EAe4VwevV5m7Q/exec?sheet=staffYear"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2340,3240],"id":"27dce117-49b9-4301-99dc-abe9cbcf24f4","name":"staffYear"},{"parameters":{"toolDescription":"Table Name: “Monthly New Employees hires by Branch”\n\n  Rows(top→bottom): HCMC, MĐ, TC, TC 3D, TC CE, WFH, Total\n  Columns(left→right): January, February, March, April, May, June, July, August, September, October, November, December, Total","url":"https://script.google.com/macros/s/AKfycbxrl_deriHYeb82cpZHfnA9GoSfcdsRMl25Hh0KAQkXgtyUYCbLEM_i9EAe4VwevV5m7Q/exec?sheet=newMonthlyBranch"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2160,3240],"id":"a9b6f080-32d1-42c9-be0d-594497d209b7","name":"newMonthlyBranch"},{"parameters":{"toolDescription":"Table name: “Monthly Employees Leave by Role”\n  Rows (top→bottom): Admin, Data CE, Data WF, PTS, Total\n  Columns (left→right): January, February, March, April, May, June, Total","url":"https://script.google.com/macros/s/AKfycbxrl_deriHYeb82cpZHfnA9GoSfcdsRMl25Hh0KAQkXgtyUYCbLEM_i9EAe4VwevV5m7Q/exec?sheet=offMonthlyCategory"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2160,3040],"id":"44c20eaa-046f-4e45-b344-95ff4e6a2129","name":"offMonthlyCategory"},{"parameters":{"toolDescription":"Table name: “Monthly Employees Leave by Role”\n  Rows (top→bottom): _, Day-shift, Night-shift, Slide-shift, Total\n  Columns (left→right): January, February, March, April, May, June, Total","url":"https://script.google.com/macros/s/AKfycbxrl_deriHYeb82cpZHfnA9GoSfcdsRMl25Hh0KAQkXgtyUYCbLEM_i9EAe4VwevV5m7Q/exec?sheet=offMonthlyShift"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2160,2880],"id":"bf61c27c-c8fd-476e-9740-f4dd93c6da99","name":"offMonthlyShift"},{"parameters":{"toolDescription":"Table Name: “Monthly Employees Leave by Branch”\n\n  Rows(top→bottom): _, HCMC, MĐ, TC, TC CE, WFH, Total\n  Columns(left→right): January, February, March, April, May, June, Total","url":"https://script.google.com/macros/s/AKfycbxrl_deriHYeb82cpZHfnA9GoSfcdsRMl25Hh0KAQkXgtyUYCbLEM_i9EAe4VwevV5m7Q/exec?sheet=offMonthlyBranch"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1980,3240],"id":"028d0dba-6c31-42eb-b4e7-53366fddd8f8","name":"offMonthlyBranch"},{"parameters":{"toolDescription":"Table name: “Monthly Employee Leave by Leave Type”\n  Rows (top→bottom): Unplanned Leave, On-Time Leave, Early Planned Leave, Total\n  Columns (left→right): January, February, March, April, May, June, Total","url":"https://script.google.com/macros/s/AKfycbxrl_deriHYeb82cpZHfnA9GoSfcdsRMl25Hh0KAQkXgtyUYCbLEM_i9EAe4VwevV5m7Q/exec?sheet=offMonthlyType"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1980,3040],"id":"bbd428d1-e704-4d38-b04a-21a385b47ead","name":"offMonthlyType"},{"parameters":{"toolDescription":"Table Name: “Maternity Employees Leave Overview”\n  Rows (top→bottom): On Maternity Leave, Maternity Leave Upcoming, Total\n  Columns (left→right): MD, TC, TC CE, WFH, Total","url":"https://script.google.com/macros/s/AKfycbxrl_deriHYeb82cpZHfnA9GoSfcdsRMl25Hh0KAQkXgtyUYCbLEM_i9EAe4VwevV5m7Q/exec?sheet=pregnant"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1980,2880],"id":"6845c84c-35ee-4b42-bd2d-d7db8a2813f9","name":"pregnant"},{"parameters":{"toolDescription":"Table Name: “Current Office Seats by Branch”\n  Rows (top→bottom): Amount\n  Columns (left→right): HCMC, MD, TC - T3, TC - T4, TC - T5, Total","url":"https://script.google.com/macros/s/AKfycbz7bU6WTzhYIolxKz6BjWNWTkxpQqBVwSADSMwqo751AZEPOrlqBIcSGjGn-1Tsg2T5/exec?sheet=seatOffice"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1780,3240],"id":"37c21f85-8fab-4a1e-8375-8fcc452c6317","name":"seatOffice"},{"parameters":{"toolDescription":"Table Name: “Current Shift-Based Employees”\n  Rows (top→bottom): Day-shift, Night Shift, Part-time, Part-time (AM), Part-time (PM), Slide-shift, Total\n  Columns (left→right): Handover, On Duty, Total","url":"https://script.google.com/macros/s/AKfycbz7bU6WTzhYIolxKz6BjWNWTkxpQqBVwSADSMwqo751AZEPOrlqBIcSGjGn-1Tsg2T5/exec?sheet=staffShiftNow"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1780,3040],"id":"9c5e37f5-13fd-4d84-a504-e219f8345711","name":"staffShiftNow"},{"parameters":{"toolDescription":"Table Name: “Current Employees by Job Role”\n  Rows (top→bottom): 3D, Admin, BOD, Data CE, Data WF, Other ,PTS, Total\n  Columns (left→right): Handover, On Duty, Total","url":"https://script.google.com/macros/s/AKfycbz7bU6WTzhYIolxKz6BjWNWTkxpQqBVwSADSMwqo751AZEPOrlqBIcSGjGn-1Tsg2T5/exec?sheet=staffCategoryNow"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1780,2880],"id":"9981ddfc-4b23-43ed-b040-12bc86db6404","name":"staffCategoryNow"},{"parameters":{"toolDescription":"Table Name: “Current Employees by Branch”\n  Rows (top→bottom): HCMC, MĐ, TC, TC 3D, TC CE, WFH, Total\n  Columns (left→right): Handover, On duty, Total","url":"https://script.google.com/macros/s/AKfycbz7bU6WTzhYIolxKz6BjWNWTkxpQqBVwSADSMwqo751AZEPOrlqBIcSGjGn-1Tsg2T5/exec?sheet=staffBranchNow"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1580,2880],"id":"c34486b0-d6d4-4bb6-bcbd-b6b9032dc1d7","name":"staffBranchNow"},{"parameters":{"sseEndpoint":"http://localhost:5678/mcp/testHR/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[20,2580],"id":"2104b06b-477c-4ef9-9ad7-cf8c1a4ca5dc","name":"MCP Client2"},{"parameters":{"options":{"systemMessage":"You are provided with multiple datasets representing various staff metrics.\n\nEach dataset is identified by a specific `param` keyword:\n\n- `staffBranchNow`: \"Current Employees by Branch\" (Rows(top→bottom): HCMC, MĐ, TC, TC 3D, TC CE, WFH, Total || Columns(left→right): Handover, On duty, Total)\n- `staffCategoryNow`: \"Current Employees by Job Role\" (Rows(top→bottom): 3D, Admin, BOD, Data CE, Data WF, Other, PTS, Total || Columns(left→right): Handover, On duty, Total)\n- `staffShiftNow`: \"Current Shift-Based Employees\" (Rows(top→bottom): Day-shift, Night Shift, Part-time, Part-time (AM), Part-time (PM), Slide-shift, Total || Columns(left→right): Handover, On duty, Total)\n- `seatOffice`: \"Current Office Seats by Branch\" (Rows(top→bottom): Amount || Columns(left→right): HCMC, MD, TC - T3, TC - T4, TC - T5, Total)\n- `pregnant`: \"Maternity Employees Leave Overview\" (Rows(top→bottom):  On Maternity Leave, Maternity Leave Upcoming, Total || Columns(left→right): MD, TC, TC CE, WFH, Total)\n- `offMonthlyType`: \"Monthly Employee Leave by Leave Type\" (Rows(top→bottom): Unplanned Leave, On-Time Leave, Early Planned Leave, Total || Columns(left→right): January, February, March, April, May, June, Total)\n- `offMonthlyBranch`: \"Monthly Employees Leave by Branch\" (Rows(top→bottom): _, HCMC, MĐ, TC, TC CE, WFH, Total || Columns(left→right): January, February, March, April, May, June, Total)\n- `offMonthlyShift`: \"Monthly Employees Leave by Role\" (Rows(top→bottom): _, Day-shift, Night-shift, Slide-shift, Total || Columns: January, February, March, April, May, June, Total)\n- `offMonthlyCategory`: \"Monthly Employees Leave by Role\" (Rows: Admin, Data CE, Data WF, PTS, Total || Columns(left→right): January, February, March, April, May, June, Total)\n- `newMonthlyBranch`: \"Monthly New Employees hires by Branch\" (Rows(top→bottom): HCMC, MĐ, TC, TC 3D, TC CE, WFH, Total || Columns(left→right): January, February, March, April, May, June, July, August, September, October, November, December, Total)\n- `newMonthlyCategory`: \"Monthly New Employees Hires by Role\" (Rows(top→bottom): Admin, Data CE, Data WF, Other, PTS, Total || Columns(left→right): January, February, March, April, Total)\n- `newMonthlyShift`: \"Monthly Shift-Based New Employees Hires\" (Rows(top→bottom): Day-shift, Night Shift, Part-time (AM), Slide-shift, Total || Columns(left→right): January, February, March, April, Total)\n- `staffYear`: \"Employees Tenure by Branch\" (Rows(top→bottom): from 1 to 2 years, from 2 to 3 years, from 2 to 6 months, from 3 to 4 years, from 4 to 5 years, from 5 to 6 years, from 6 months to 1 year, from 6 to 7 ears, from 7 to 8 years, from 8 to 9 years, from 9 to 10 years, Probation, >10 years, Total || Columns(left→right): HCMC, MĐ, TC, TC 3D, TC CE, WFH, Total)\n\nEach dataset:\n\n- Each row represents one abstract object.\n- Each column represents one abstract object.\n- The last column is always the row total.\n- The last row is always the column total.\n\n---\nhen the user asks a question:\n\n1. **Identify** the correct dataset by analyzing the intent and matching the best `param`.\n2. **Send** the `param` as input to the backend tool.\n3. **Receive** a 2D list with rows, columns, and totals.\n4. **Validate** that row and column totals are correct.\n5. **Present** the full table first.\n6. **Then** answer any specific cell, row, column, or overall total queries."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2580,2400],"id":"e6f2ef46-fc9e-47b9-b5ae-bab94eb141bc","name":"AI Agent3"},{"parameters":{"content":"**The connection cannot be established, this usually occurs due to an incorrect host(domain) value**\n\nI have did this also\nAllows usage of all builtin modules\n\nexport NODE_FUNCTION_ALLOW_BUILTIN=*\nAllow usage of external npm modules.\n\nexport NODE_FUNCTION_ALLOW_EXTERNAL=*\n","height":200,"width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3060,2400],"id":"b36fa6bc-491c-4060-bfc4-2a7f752026df","name":"Sticky Note3"},{"parameters":{"toolDescription":"Get query from AI AGENT send to.\nTool get current employees , new employees, seats, off employees, employee tenures, pregnant employees.","url":"https://script.google.com/macros/s/AKfycbxYkfC4zu6JR_xbim370H0unU2Ml1DEeVV_nFeR2TBIlTMpGYjfj45ZvcnIW03Id4ng/exec","sendQuery":true,"parametersQuery":{"values":[{"name":"sheet","valueProvider":"fieldValue","value":"{query}"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"accept","valueProvider":"fieldValue","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"},{"name":"accept-language","valueProvider":"fieldValue","value":"en-US,en;q=0.9,vi-VN;q=0.8,vi;q=0.7,fr-FR;q=0.6,fr;q=0.5"},{"name":"dnt","valueProvider":"fieldValue","value":"1"},{"name":"priority","valueProvider":"fieldValue","value":"u=0, i"},{"name":"sec-ch-ua","valueProvider":"fieldValue","value":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\""},{"name":"sec-ch-ua-arch","valueProvider":"fieldValue","value":"\"x86\""},{"name":"sec-ch-ua-bitness","valueProvider":"fieldValue","value":"\"64\""},{"name":"sec-ch-ua-form-factors","valueProvider":"fieldValue","value":"\"Desktop\""},{"name":"sec-ch-ua-full-version","valueProvider":"fieldValue","value":"\"136.0.7103.48\""},{"name":"sec-ch-ua-full-version-list","valueProvider":"fieldValue","value":"\"Chromium\";v=\"136.0.7103.48\", \"Google Chrome\";v=\"136.0.7103.48\", \"Not.A/Brand\";v=\"99.0.0.0\""},{"name":"sec-ch-ua-mobile","valueProvider":"fieldValue","value":"?0"},{"name":"sec-ch-ua-model","valueProvider":"fieldValue","value":"\"\""},{"name":"sec-ch-ua-platform","valueProvider":"fieldValue","value":"\"Linux\""},{"name":"sec-ch-ua-platform-version","valueProvider":"fieldValue","value":"\"6.8.0\""},{"name":"sec-ch-ua-wow64","valueProvider":"fieldValue","value":"?0"},{"name":"sec-fetch-dest","valueProvider":"fieldValue","value":"document"},{"name":"sec-fetch-mode","valueProvider":"fieldValue","value":"navigate"},{"name":"sec-fetch-site","valueProvider":"fieldValue","value":"none"},{"name":"sec-fetch-user","valueProvider":"fieldValue","value":"?1"},{"name":"upgrade-insecure-requests","valueProvider":"fieldValue","value":"1"},{"name":"user-agent","valueProvider":"fieldValue","value":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36"},{"name":"x-browser-channel","valueProvider":"fieldValue","value":"beta"},{"name":"x-browser-copyright","valueProvider":"fieldValue","value":"Copyright 2025 Google LLC. All rights reserved."},{"name":"x-browser-validation","valueProvider":"fieldValue","value":"ctYldj7UqvsGWB62N+qJrQZxvXA="},{"name":"x-browser-year","valueProvider":"fieldValue","value":"2025"},{"name":"x-client-data","valueProvider":"fieldValue","value":"CKG1yQEIkbbJAQijtskBCKqdygEIlYzLAQiUocsBCNb0zQEI/qXOAQjEzc4BCJbOzgEIo9DOAQjH0c4BCILTzgEIstTOAQi21c4BCJrWzgEI2NbOAQjU184BCP/ZzgEI+eTOAQiM5s4BCNvmzgEI6efOAQiD6M4BCJLozgEIk+jOAQjG6M4BCJzpzgEIpenOAQjU6c4BCNrpzgEYttDOARjf0c4BGPbezgEY7d/OARiq6s4BGKzqzgEYverOAQ=="},{"name":"cookie","valueProvider":"fieldValue","value":"SID=g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0hv3FNXXaa29QahARjCrHvywACgYKAYcSARESFQHGX2MiB3qFE1Kw8zxwvga42JCS_RoVAUF8yKpzbYunt7xi4HoYlRXebebY0076;__Secure-1PSID=g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0h7QIdEHpm5g7fJ-Mz5KKjbwACgYKAScSARESFQHGX2Mi1clA1j-EtpfCVdPvfmW2eRoVAUF8yKp7mWUjyMP3gkOM6Xbipzhj0076;__Secure-3PSID=g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0hqTJrtrOYUL_3ILHlCVjzzAACgYKASkSARESFQHGX2MiB8A4u5Vf7ZGP34H64SyfqhoVAUF8yKqQzuVRUsS_vo9wNt4O2W8f0076;HSID=A9a7ofsCEbgRkIo-a;SSID=A_SpYWMzN5Aphkb9X;APISID=lgO-i_KUJJ39FOG6/A4DaXABZVs_SMq8v3;SAPISID=O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ;__Secure-1PAPISID=O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ;__Secure-3PAPISID=O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ;OSID=g.a000wAiXIoDw3dofkjAv3JIrvyJGa-Pjc-iRQVAc4wqrkrlSpp-JR432U-FMCKBPapYAIwB-BwACgYKAU8SARESFQHGX2MibGSaaWHMCYR2DV7IqLyu3BoVAUF8yKpxbCzuBbG9dyYI-Bq7Un3W0076;__Secure-OSID=g.a000wAiXIoDw3dofkjAv3JIrvyJGa-Pjc-iRQVAc4wqrkrlSpp-JmsRpbC5Gn-9R_uNYbkYeOAACgYKAdsSARESFQHGX2Mi3qS3VoZs6WDknzquFBa8ThoVAUF8yKoYneeXdEH3BrH_POy0HgG_0076;OTZ=8050326_28_28__28_;NID=523=lgrQ8cvTjCLMOJ-PMd2kynVxvK-2QJOi8wW4Fqn_an4ZwxVltJSOjFbzZONt_eF9fr7g4rHvF7nXwmq_vp0S7UhMRTKSsfsIJ9rRQoTCJVQiDAeHYpqoqGyCIYXzSv5JsyxEdtyIMbXT4hLFJwY8hA73IM77epbgKzJWnSv1n9Ydyu4jE_1CBao7iET3VKm34cIPjGWCx9528at_2gtAWORNF-gVq7vWyWf8Bk4;_ga=GA1.3.2123990946.1745323536;_gid=GA1.3.2125380534.1745723612;__Secure-1PSIDTS=sidts-CjIBjplskNuud68yQBpPG_HApMyQeNsw8R2iFzVswG5zPapy6S1XXijJBNOP1jIxkh49uRAA;__Secure-3PSIDTS=sidts-CjIBjplskNuud68yQBpPG_HApMyQeNsw8R2iFzVswG5zPapy6S1XXijJBNOP1jIxkh49uRAA;_ga_60Q1X42Z2X=GS1.1.1745723611.2.1.1745723667.0.0.0;_ga_S6TL92G5N1=GS1.1.1745723611.2.1.1745723667.0.0.0;SIDCC=AKEyXzUK8OFNMXo1J5kDsRmF9_pwSE2Y-9PKB71AXqGBvsjwz878hSDfwYOD-hOzSxfH_MYAocM;__Secure-1PSIDCC=AKEyXzU6jsjGEpzIFNbhrzeLjLwTnCqV6V-cNTAFp8f65X3S3aSjcTMI4bqz5539NQzFHEdong;__Secure-3PSIDCC=AKEyXzVENldu4WnrzVhVaL9PLDKeb9cdqcOkNOvkCm2h_7Kox-Hc09Cff0MgqaeK9kk28i7kFQ;"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2860,2620],"id":"3c083119-153e-40a4-9703-4234b0716d97","name":"HTTP Request"},{"parameters":{"name":"CheckEmployeesAndSeats","description":"Get query from AI AGENT send to.\nTool get current employees , new employees, seats, off employees, employee tenures, pregnant employees.","language":"python","pythonCode":"import requests\n\ncookies = {\n    'SID': 'g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0hv3FNXXaa29QahARjCrHvywACgYKAYcSARESFQHGX2MiB3qFE1Kw8zxwvga42JCS_RoVAUF8yKpzbYunt7xi4HoYlRXebebY0076',\n    '__Secure-1PSID': 'g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0h7QIdEHpm5g7fJ-Mz5KKjbwACgYKAScSARESFQHGX2Mi1clA1j-EtpfCVdPvfmW2eRoVAUF8yKp7mWUjyMP3gkOM6Xbipzhj0076',\n    '__Secure-3PSID': 'g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0hqTJrtrOYUL_3ILHlCVjzzAACgYKASkSARESFQHGX2MiB8A4u5Vf7ZGP34H64SyfqhoVAUF8yKqQzuVRUsS_vo9wNt4O2W8f0076',\n    'HSID': 'A9a7ofsCEbgRkIo-a',\n    'SSID': 'A_SpYWMzN5Aphkb9X',\n    'APISID': 'lgO-i_KUJJ39FOG6/A4DaXABZVs_SMq8v3',\n    'SAPISID': 'O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ',\n    '__Secure-1PAPISID': 'O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ',\n    '__Secure-3PAPISID': 'O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ',\n    'OSID': 'g.a000wAiXIoDw3dofkjAv3JIrvyJGa-Pjc-iRQVAc4wqrkrlSpp-JR432U-FMCKBPapYAIwB-BwACgYKAU8SARESFQHGX2MibGSaaWHMCYR2DV7IqLyu3BoVAUF8yKpxbCzuBbG9dyYI-Bq7Un3W0076',\n    '__Secure-OSID': 'g.a000wAiXIoDw3dofkjAv3JIrvyJGa-Pjc-iRQVAc4wqrkrlSpp-JmsRpbC5Gn-9R_uNYbkYeOAACgYKAdsSARESFQHGX2Mi3qS3VoZs6WDknzquFBa8ThoVAUF8yKoYneeXdEH3BrH_POy0HgG_0076',\n    'OTZ': '8050326_28_28__28_',\n    'NID': '523=lgrQ8cvTjCLMOJ-PMd2kynVxvK-2QJOi8wW4Fqn_an4ZwxVltJSOjFbzZONt_eF9fr7g4rHvF7nXwmq_vp0S7UhMRTKSsfsIJ9rRQoTCJVQiDAeHYpqoqGyCIYXzSv5JsyxEdtyIMbXT4hLFJwY8hA73IM77epbgKzJWnSv1n9Ydyu4jE_1CBao7iET3VKm34cIPjGWCx9528at_2gtAWORNF-gVq7vWyWf8Bk4',\n    '_ga': 'GA1.3.2123990946.1745323536',\n    '_gid': 'GA1.3.2125380534.1745723612',\n    '__Secure-1PSIDTS': 'sidts-CjIBjplskNuud68yQBpPG_HApMyQeNsw8R2iFzVswG5zPapy6S1XXijJBNOP1jIxkh49uRAA',\n    '__Secure-3PSIDTS': 'sidts-CjIBjplskNuud68yQBpPG_HApMyQeNsw8R2iFzVswG5zPapy6S1XXijJBNOP1jIxkh49uRAA',\n    '_ga_60Q1X42Z2X': 'GS1.1.1745723611.2.1.1745723667.0.0.0',\n    '_ga_S6TL92G5N1': 'GS1.1.1745723611.2.1.1745723667.0.0.0',\n    'SIDCC': 'AKEyXzUK8OFNMXo1J5kDsRmF9_pwSE2Y-9PKB71AXqGBvsjwz878hSDfwYOD-hOzSxfH_MYAocM',\n    '__Secure-1PSIDCC': 'AKEyXzU6jsjGEpzIFNbhrzeLjLwTnCqV6V-cNTAFp8f65X3S3aSjcTMI4bqz5539NQzFHEdong',\n    '__Secure-3PSIDCC': 'AKEyXzVENldu4WnrzVhVaL9PLDKeb9cdqcOkNOvkCm2h_7Kox-Hc09Cff0MgqaeK9kk28i7kFQ',\n}\n\nheaders = {\n    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',\n    'accept-language': 'en-US,en;q=0.9,vi-VN;q=0.8,vi;q=0.7,fr-FR;q=0.6,fr;q=0.5',\n    'dnt': '1',\n    'priority': 'u=0, i',\n    'sec-ch-ua': '\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"',\n    'sec-ch-ua-arch': '\"x86\"',\n    'sec-ch-ua-bitness': '\"64\"',\n    'sec-ch-ua-form-factors': '\"Desktop\"',\n    'sec-ch-ua-full-version': '\"136.0.7103.48\"',\n    'sec-ch-ua-full-version-list': '\"Chromium\";v=\"136.0.7103.48\", \"Google Chrome\";v=\"136.0.7103.48\", \"Not.A/Brand\";v=\"99.0.0.0\"',\n    'sec-ch-ua-mobile': '?0',\n    'sec-ch-ua-model': '\"\"',\n    'sec-ch-ua-platform': '\"Linux\"',\n    'sec-ch-ua-platform-version': '\"6.8.0\"',\n    'sec-ch-ua-wow64': '?0',\n    'sec-fetch-dest': 'document',\n    'sec-fetch-mode': 'navigate',\n    'sec-fetch-site': 'none',\n    'sec-fetch-user': '?1',\n    'upgrade-insecure-requests': '1',\n    'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36',\n    'x-browser-channel': 'beta',\n    'x-browser-copyright': 'Copyright 2025 Google LLC. All rights reserved.',\n    'x-browser-validation': 'ctYldj7UqvsGWB62N+qJrQZxvXA=',\n    'x-browser-year': '2025',\n    'x-client-data': 'CKG1yQEIkbbJAQijtskBCKqdygEIlYzLAQiUocsBCNb0zQEI/qXOAQjEzc4BCJbOzgEIo9DOAQjH0c4BCILTzgEIstTOAQi21c4BCJrWzgEI2NbOAQjU184BCP/ZzgEI+eTOAQiM5s4BCNvmzgEI6efOAQiD6M4BCJLozgEIk+jOAQjG6M4BCJzpzgEIpenOAQjU6c4BCNrpzgEYttDOARjf0c4BGPbezgEY7d/OARiq6s4BGKzqzgEYverOAQ==',\n    # 'cookie': 'SID=g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0hv3FNXXaa29QahARjCrHvywACgYKAYcSARESFQHGX2MiB3qFE1Kw8zxwvga42JCS_RoVAUF8yKpzbYunt7xi4HoYlRXebebY0076; __Secure-1PSID=g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0h7QIdEHpm5g7fJ-Mz5KKjbwACgYKAScSARESFQHGX2Mi1clA1j-EtpfCVdPvfmW2eRoVAUF8yKp7mWUjyMP3gkOM6Xbipzhj0076; __Secure-3PSID=g.a000wAiXIifWGMG11ooMEGL5f7n7JdHzpDlo_FYnQqrk7DPbfN0hqTJrtrOYUL_3ILHlCVjzzAACgYKASkSARESFQHGX2MiB8A4u5Vf7ZGP34H64SyfqhoVAUF8yKqQzuVRUsS_vo9wNt4O2W8f0076; HSID=A9a7ofsCEbgRkIo-a; SSID=A_SpYWMzN5Aphkb9X; APISID=lgO-i_KUJJ39FOG6/A4DaXABZVs_SMq8v3; SAPISID=O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ; __Secure-1PAPISID=O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ; __Secure-3PAPISID=O0Kd00YCKr_FNvYx/ABwncvKpMamOJbDSJ; OSID=g.a000wAiXIoDw3dofkjAv3JIrvyJGa-Pjc-iRQVAc4wqrkrlSpp-JR432U-FMCKBPapYAIwB-BwACgYKAU8SARESFQHGX2MibGSaaWHMCYR2DV7IqLyu3BoVAUF8yKpxbCzuBbG9dyYI-Bq7Un3W0076; __Secure-OSID=g.a000wAiXIoDw3dofkjAv3JIrvyJGa-Pjc-iRQVAc4wqrkrlSpp-JmsRpbC5Gn-9R_uNYbkYeOAACgYKAdsSARESFQHGX2Mi3qS3VoZs6WDknzquFBa8ThoVAUF8yKoYneeXdEH3BrH_POy0HgG_0076; OTZ=8050326_28_28__28_; NID=523=lgrQ8cvTjCLMOJ-PMd2kynVxvK-2QJOi8wW4Fqn_an4ZwxVltJSOjFbzZONt_eF9fr7g4rHvF7nXwmq_vp0S7UhMRTKSsfsIJ9rRQoTCJVQiDAeHYpqoqGyCIYXzSv5JsyxEdtyIMbXT4hLFJwY8hA73IM77epbgKzJWnSv1n9Ydyu4jE_1CBao7iET3VKm34cIPjGWCx9528at_2gtAWORNF-gVq7vWyWf8Bk4; _ga=GA1.3.2123990946.1745323536; _gid=GA1.3.2125380534.1745723612; __Secure-1PSIDTS=sidts-CjIBjplskNuud68yQBpPG_HApMyQeNsw8R2iFzVswG5zPapy6S1XXijJBNOP1jIxkh49uRAA; __Secure-3PSIDTS=sidts-CjIBjplskNuud68yQBpPG_HApMyQeNsw8R2iFzVswG5zPapy6S1XXijJBNOP1jIxkh49uRAA; _ga_60Q1X42Z2X=GS1.1.1745723611.2.1.1745723667.0.0.0; _ga_S6TL92G5N1=GS1.1.1745723611.2.1.1745723667.0.0.0; SIDCC=AKEyXzUK8OFNMXo1J5kDsRmF9_pwSE2Y-9PKB71AXqGBvsjwz878hSDfwYOD-hOzSxfH_MYAocM; __Secure-1PSIDCC=AKEyXzU6jsjGEpzIFNbhrzeLjLwTnCqV6V-cNTAFp8f65X3S3aSjcTMI4bqz5539NQzFHEdong; __Secure-3PSIDCC=AKEyXzVENldu4WnrzVhVaL9PLDKeb9cdqcOkNOvkCm2h_7Kox-Hc09Cff0MgqaeK9kk28i7kFQ',\n}\n\n\nparams = {\n    'sheet': query,\n}\n\nresponse = requests.get(\n    'https://script.google.com/macros/s/AKfycbxYkfC4zu6JR_xbim370H0unU2Ml1DEeVV_nFeR2TBIlTMpGYjfj45ZvcnIW03Id4ng/exec',\n    params=params,\n    cookies=cookies,\n    headers=headers,\n)\n\n# Example: convert the incoming query to uppercase and return it\nreturn response.text"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[4180,2660],"id":"d1551fef-f5d7-4838-83dd-3f74f8aeca38","name":"Code Tool"}],"connections":{"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"Discord":{"main":[[]]},"Webhook":{"main":[[]]},"currentTime":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"newMonthlyCategory":{"ai_tool":[[]]},"newMonthlyShift":{"ai_tool":[[]]},"staffYear":{"ai_tool":[[]]},"staffBranchNow":{"ai_tool":[[]]},"staffCategoryNow":{"ai_tool":[[]]},"staffShiftNow":{"ai_tool":[[]]},"seatOffice":{"ai_tool":[[]]},"pregnant":{"ai_tool":[[]]},"offMonthlyType":{"ai_tool":[[]]},"offMonthlyBranch":{"ai_tool":[[]]},"offMonthlyCategory":{"ai_tool":[[]]},"newMonthlyBranch":{"ai_tool":[[]]},"MCP Client2":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent2":{"main":[[]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Code Tool":{"ai_tool":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"125ad261-b0be-4e80-ae8f-52bcea93c6a9","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-04-15T12:13:54.525Z","createdAt":"2025-04-15T12:13:54.525Z","role":"workflow:owner","workflowId":"i19D1PLUokSVuAP5","projectId":"rJfzZu0DwdsTgih8"}],"activeVersion":null,"tags":[]}